In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=59&PID=92'
parametro = 'estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [3]:
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque',
                'Errores_Saque', 'Porcentaje_error', 'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error',
                'Total_ataques','Ataque_Ranking',2]

parametro= 'estadistica_central'

central = crear_df(datos[4],columna,parametro)
central.drop([1,2], inplace=True, axis=1)
central

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Knigge Matthew,20,78,61,15,3,97,25,59,21,281,206,23,21,344,"2,1923"
1,Marques de Oliveira Renato,18,71,38,28,0,92,12,23,4,192,135,17,17,254,"1,4085"
2,Dos Santos Cezar Moises,20,79,70,37,0,123,4,31,9,246,132,16,15,240,"1,3544"
3,Armesto Lucas,7,27,12,10,0,22,2,6,4,64,46,7,2,83,"1,2963"
4,Cheng-Yang Wu,20,75,33,38,4,108,23,44,21,287,129,22,9,239,"0,9067"
5,Grossi Anderson,20,76,56,67,1,149,12,42,10,246,135,11,17,268,"0,8553"
6,Méndez Jiménez Víctor,20,73,58,51,0,160,5,29,12,242,104,30,8,230,"0,6712"

In [4]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2019-2020/jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,1,García Taibo Javier,Receptor,200.0,2000,330.0,316.0,1-2019-2020,2019-2020,1-2019-2020
1,2,Linares Palmas Luis,Middle-blocker,197.0,1995,340.0,330.0,2-2019-2020,2019-2020,1-2019-2020

In [5]:
central = pd.merge(central, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
central['temporada']='2019-2020'
central

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,id_equipo,temporada
0,Knigge Matthew,20,78,61,15,3,97,25,59,21,281,206,23,21,344,"2,1923",10-2019-2020,1-2019-2020,2019-2020
1,Marques de Oliveira Renato,18,71,38,28,0,92,12,23,4,192,135,17,17,254,"1,4085",36-2019-2020,3-2019-2020,2019-2020
2,Dos Santos Cezar Moises,20,79,70,37,0,123,4,31,9,246,132,16,15,240,"1,3544",126-2019-2020,10-2019-2020,2019-2020
3,Armesto Lucas,7,27,12,10,0,22,2,6,4,64,46,7,2,83,"1,2963",41-2019-2020,3-2019-2020,2019-2020
4,Cheng-Yang Wu,20,75,33,38,4,108,23,44,21,287,129,22,9,239,"0,9067",168-2019-2020,12-2019-2020,2019-2020
5,Grossi Anderson,20,76,56,67,1,149,12,42,10,246,135,11,17,268,"0,8553",72-2019-2020,6-2019-2020,2019-2020
6,Méndez Jiménez Víctor,20,73,58,51,0,160,5,29,12,242,104,30,8,230,"0,6712",61-2019-2020,5-2019-2020,2019-2020

In [6]:
convertir = central.columns.difference(['Nombre','id_jugador','id_equipo','temporada'])
central['Ataque_Ranking'] = central['Ataque_Ranking'].str.replace(',', '.').astype(float)
central[convertir] = central[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
central.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            7 non-null      object
 1   Partidos_jugados  7 non-null      int64
 2   Sets_jugados      7 non-null      int64
 3   Bloqueos          7 non-null      int64
 4   Bloqueo_exitoso   7 non-null      int64
 5   Bloqueo_fallido   7 non-null      int64
 6   Total_bloqueos    7 non-null      int64
 7   Saque             7 non-null      int64
 8   Errores_Saque     7 non-null      int64
 9   Porcentaje_error  7 non-null      int64
 10  Total_saques      7 non-null      int64
 11  Ataque_exitoso    7 non-null      int64
 12  Errores_ataque    7 non-null      int64
 13  Porc_error        7 non-null      int64
 14  Total_ataques     7 non-null      int64
 15  Ataque_Ranking    7 non-null      float64
 16  id_jugador        7 non-null      object
 17  id_equipo         7 non-null      object
 18  temporada         7 non-null      object
dtypes: float64(1), int64(14), object(4)
memory usage: 1.2+ KB

In [2]:
central = normalizar('../../data/2019-2020/central.csv')

## Guardado en CSV.

In [3]:
central.to_csv('../../data/2019-2020/central.csv', index=False)

## Base de datos.

In [4]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [5]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [7]:

central.to_sql('central', engine, if_exists='append', index=False)

7