In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/CompetitionTeamSearch.aspx?ID=59'
parametro = 'equipo'
result=scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [3]:
columna = ['Equipo']
parametro = 'equipo'
equipo = crear_df(result,columna,parametro)

DataFrame creado!

In [4]:
mapear_nombres(equipo)

                       Equipo
0                Arenal Emevé
1                   CV Teruel
2                     Manacor
3                  CV Melilla
4             Rio Duero Soria
5                        Grau
6             Unicaja Almería
7                 Voley Palma
8                 Ibiza Voley
9       Vecindario Las Palmas
10          Voleibol Almoradí
11  Voley Textil Santanderina

In [5]:
equipo['id_equipo'] = [str(i) + '-2019-2020' for i in range(1, len(equipo) + 1)]
equipo

                       Equipo     id_equipo
0                Arenal Emevé   1-2019-2020
1                   CV Teruel   2-2019-2020
2                     Manacor   3-2019-2020
3                  CV Melilla   4-2019-2020
4             Rio Duero Soria   5-2019-2020
5                        Grau   6-2019-2020
6             Unicaja Almería   7-2019-2020
7                 Voley Palma   8-2019-2020
8                 Ibiza Voley   9-2019-2020
9       Vecindario Las Palmas  10-2019-2020
10          Voleibol Almoradí  11-2019-2020
11  Voley Textil Santanderina  12-2019-2020

In [2]:
equipo = normalizar('../../data/2019-2020/equipo.csv')

## Guardado en CSV.

In [9]:
equipo.to_csv('../../data/2019-2020/equipo.csv', index=False)

## Base de datos.

In [4]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [7]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [8]:

equipo.to_sql('equipo', engine, if_exists='append', index=False)

12