In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=59&PID=92'
parametro='estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [8]:
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Recepciones', 'Recepciones_exitosas',
                'Recepciones_fallidas', 'Recepciones_otro_jugador', 'Puntos_perdidos_recep',
                'Puntos_ganados_recep', 'Total_puntos_recep', 'Recep_Ranking', 12]

parametro= 'estadistica_libero'

libero = crear_df(datos[1],columna,parametro)
libero.head(5)

,Nombre,1,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking,12
0,Sevillano Canals Manuel,(Rio Duero Soria),4,12,26,1,2,2,10,8,49,"0,4694",2
1,Larrañaga Ledo Unai,(Arenal Emevé),11,34,122,14,0,15,41,40,232,"0,4009",3
2,Gámiz Padilla Aaron,(Club Voleibol Teruel),18,63,130,18,19,10,38,89,304,"0,3355",4
3,Del Carmen Barbara Gabriel,(Urbia Voley Palma),1,3,5,0,0,0,3,7,15,"0,3333",5
4,Ruiz Daniel,(Club Voleibol Teruel),3,8,13,1,5,0,1,17,37,"0,3243",6

In [9]:
libero.drop([1,12], inplace=True, axis=1)

In [10]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2019-2020/jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,1,García Taibo Javier,Receptor,200.0,2000,330.0,316.0,1-2019-2020,2019-2020,1-2019-2020
1,2,Linares Palmas Luis,Middle-blocker,197.0,1995,340.0,330.0,2-2019-2020,2019-2020,1-2019-2020

In [11]:
libero.Nombre = libero.Nombre.rename(index={'Gámiz Padilla Aaron': 'Gámiz Padilla Aharón'})
liberos = pd.merge(libero, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
liberos['temporada'] = '2019-2020'
liberos.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking,id_jugador,id_equipo,temporada
0,Sevillano Canals Manuel,4,12,26,1,2,2,10,8,49,"0,4694",60-2019-2020,5-2019-2020,2019-2020
1,Larrañaga Ledo Unai,11,34,122,14,0,15,41,40,232,"0,4009",13-2019-2020,1-2019-2020,2019-2020

In [12]:
convertir = liberos.columns.difference(['Nombre'])
liberos['Recep_Ranking'] = liberos['Recep_Ranking'].str.replace(',', '.').astype(float)
liberos[convertir] = liberos[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
liberos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nombre                    26 non-null     object
 1   Partidos_jugados          26 non-null     int64
 2   Sets_jugados              26 non-null     int64
 3   Recepciones               26 non-null     int64
 4   Recepciones_exitosas      26 non-null     int64
 5   Recepciones_fallidas      26 non-null     int64
 6   Recepciones_otro_jugador  26 non-null     int64
 7   Puntos_perdidos_recep     26 non-null     int64
 8   Puntos_ganados_recep      26 non-null     int64
 9   Total_puntos_recep        26 non-null     int64
 10  Recep_Ranking             26 non-null     float64
 11  id_jugador                26 non-null     object
 12  id_equipo                 26 non-null     object
 13  temporada                 26 non-null     object
dtypes: float64(1), int64(9), object(4)
memory usage: 3.0+ KB

In [2]:
liberos=normalizar('../../data/2019-2020/liberos.csv')

## Guardado en CSV.

In [3]:
liberos.to_csv('../../data/2019-2020/liberos.csv', index=False)

## Base de datos.

In [4]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [5]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [6]:

liberos.to_sql('libero', engine, if_exists='append', index=False)

26