In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=59&PID=92'
parametro='estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [3]:

columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque','Errores_Saque', 'Porcentaje_error',
                'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error','Total_ataques','Ataque_Ranking',17]
parametro= 'estadistica_opuesto'
opuesto = crear_df(datos[3],columna,parametro)
opuesto.drop([1,17], inplace=True, axis=1)
opuesto.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Kukartsev Pavel,20,73,37,38,30,337,42,45,2,114,285,34,34,562,"2,8904"
1,Gavenda Filip,20,70,19,53,19,244,37,11,2,57,286,41,34,515,"2,8714"

In [4]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2019-2020/jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,1,García Taibo Javier,Receptor,200.0,2000,330.0,316.0,1-2019-2020,2019-2020,1-2019-2020
1,2,Linares Palmas Luis,Middle-blocker,197.0,1995,340.0,330.0,2-2019-2020,2019-2020,1-2019-2020

In [5]:
opuesto = pd.merge(opuesto, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
opuesto['temporada']='2019-2020'

opuesto.head()

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,id_equipo,temporada
0,Kukartsev Pavel,20,73,37,38,30,337,42,45,2,114,285,34,34,562,"2,8904",93-2019-2020,7-2019-2020,2019-2020
1,Gavenda Filip,20,70,19,53,19,244,37,11,2,57,286,41,34,515,"2,8714",26-2019-2020,2-2019-2020,2019-2020
2,Linares José Luis,20,76,15,35,12,283,24,23,1,67,336,60,56,795,"2,6316",73-2019-2020,6-2019-2020,2019-2020
3,Oliveira Wallaf,16,51,18,32,16,185,14,20,2,49,189,34,37,393,"1,8824",120-2019-2020,9-2019-2020,2019-2020
4,Osorio Recordá Gerard,20,71,14,61,14,258,28,11,0,53,238,31,52,514,"1,7606",106-2019-2020,8-2019-2020,2019-2020

In [6]:
convertir = opuesto.columns.difference(['Nombre','id_jugador','id_equipo','temporada','Ataque_Ranking'])
opuesto['Ataque_Ranking'] = opuesto['Ataque_Ranking'].str.replace(',', '.').astype(float)
opuesto[convertir] = opuesto[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
opuesto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            13 non-null     object
 1   Partidos_jugados  13 non-null     int64
 2   Sets_jugados      13 non-null     int64
 3   Bloqueos          13 non-null     int64
 4   Bloqueo_exitoso   13 non-null     int64
 5   Bloqueo_fallido   13 non-null     int64
 6   Total_bloqueos    13 non-null     int64
 7   Saque             13 non-null     int64
 8   Errores_Saque     13 non-null     int64
 9   Porcentaje_error  13 non-null     int64
 10  Total_saques      13 non-null     int64
 11  Ataque_exitoso    13 non-null     int64
 12  Errores_ataque    13 non-null     int64
 13  Porc_error        13 non-null     int64
 14  Total_ataques     13 non-null     int64
 15  Ataque_Ranking    13 non-null     float64
 16  id_jugador        13 non-null     object
 17  id_equipo         13 non-null     object
 18  temporada         13 non-null     object
dtypes: float64(1), int64(14), object(4)
memory usage: 2.1+ KB

In [2]:
opuesto=normalizar('../../data/2019-2020/opuesto.csv')

## Guardado en CSV.

In [3]:
opuesto.to_csv('../../data/2019-2020/opuesto.csv', index=False)

## Base de datos.

In [4]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [5]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [6]:

opuesto.to_sql('opuesto', engine, if_exists='append', index=False)

13