In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=59&PID=92'
parametro = 'estadistica_jugador'
datos=scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [8]:

columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque',
                'Errores_Saque', 'Porcentaje_error', 'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error','Total_ataques','Ataque_Ranking',17]

parametro= 'estadistica_receptor'
receptor= crear_df(datos[2],columna,parametro)
receptor.drop([1,17], inplace=True, axis=1)
receptor.head(1)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Jiménez Gallego Carlos,20,67,31,10,0,54,15,41,11,221,207,22,31,425,"2,2239"

In [9]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2019-2020/jugadores.csv')
df.head(1)

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,1,García Taibo Javier,Receptor,200.0,2000,330.0,316.0,1-2019-2020,2019-2020,1-2019-2020

In [10]:
receptor = pd.merge(receptor, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')

receptor.head(1)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,id_equipo
0,Jiménez Gallego Carlos,20,67,31,10,0,54,15,41,11,221,207,22,31,425,"2,2239",103-2019-2020,8-2019-2020

In [11]:
convertir = receptor.columns.difference(['Nombre'])
receptor['Ataque_Ranking'] = receptor['Ataque_Ranking'].str.replace(',', '.').astype(float)
receptor[convertir] = receptor[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
receptor['temporada']='2019-2020'
receptor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            32 non-null     object
 1   Partidos_jugados  32 non-null     int64
 2   Sets_jugados      32 non-null     int64
 3   Bloqueos          32 non-null     int64
 4   Bloqueo_exitoso   32 non-null     int64
 5   Bloqueo_fallido   32 non-null     int64
 6   Total_bloqueos    32 non-null     int64
 7   Saque             32 non-null     int64
 8   Errores_Saque     32 non-null     int64
 9   Porcentaje_error  32 non-null     int64
 10  Total_saques      32 non-null     int64
 11  Ataque_exitoso    32 non-null     int64
 12  Errores_ataque    32 non-null     int64
 13  Porc_error        32 non-null     int64
 14  Total_ataques     32 non-null     int64
 15  Ataque_Ranking    32 non-null     float64
 16  id_jugador        32 non-null     object
 17  id_equipo         32 non-null     object
 18  temporada         32 non-null     object
dtypes: float64(1), int64(14), object(4)
memory usage: 4.9+ KB

In [2]:
receptor=normalizar('../../data/2019-2020/receptor.csv')

## Guardado en CSV.

In [3]:
receptor.to_csv('../../data/2019-2020/receptor.csv', index=False)

## Base de datos.

In [4]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [5]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [6]:

receptor.to_sql('receptor', engine, if_exists='append', index=False)

32