In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_datos import *
from src.help_scraping import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=69&PID=103'
parametro = 'estadistica_equipo'
dato=scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [3]:
columna = ['Equipo', 'Jugados', 'Sets_Jugados', 'Total_Puntos', 'Break_Puntos', 'Puntos_Ganados',
            'Puntos_Perdidos', 'Total_Saque', 'Puntos_Saque', 'Error_Saque', 'Puntos_por_set_Saque',
            'Efic_Saque', 'Total_Recepcion', 'Error_Recepcion', 'Negativo_Recepcion', 'Positivo_Recepcion',
            'Excelente_Recepcion', 'Efic_Recepcion', 'Total_Ataque', 'Error_Ataque', 'Ataque_Bloqueado',
            'Positivo_Ataque', 'Excelente_Ataque', 'Efic_Ataque', 'Toque_Red_Bloqueo', 'Puntos_de_Bloqueo',
            'Puntos_Set_Bloqueo']

parametro = 'estadistica'
estadistica=crear_df(dato,columna,parametro)

In [4]:
mapear_nombres(estadistica)

,Equipo,Jugados,Sets_Jugados,Total_Puntos,Break_Puntos,Puntos_Ganados,Puntos_Perdidos,Total_Saque,Puntos_Saque,Error_Saque,...,Efic_Recepcion,Total_Ataque,Error_Ataque,Ataque_Bloqueado,Positivo_Ataque,Excelente_Ataque,Efic_Ataque,Toque_Red_Bloqueo,Puntos_de_Bloqueo,Puntos_Set_Bloqueo
0,Unicaja Almería,34,136,2154,797,1357,989,2992,202,495,...,27.0,3375,237,277,1618,48.0,33.0,420,334,2.5
1,Guaguas,33,114,1985,784,1201,1198,2725,132,326,...,38.0,2930,188,177,1564,53.0,41.0,275,289,2.5
2,CV Teruel,31,114,1905,743,1162,946,2620,144,416,...,25.0,2872,227,193,1451,51.0,36.0,149,310,2.7
3,CV Melilla,30,116,1869,716,1153,893,2575,147,372,...,28.0,3030,225,249,1446,48.0,32.0,164,276,2.4
4,Rio Duero Soria,29,116,1868,675,1193,751,2583,160,437,...,27.0,3036,269,271,1437,47.0,30.0,322,271,2.3
5,Voley Palma,28,107,1733,633,1100,768,2373,136,380,...,33.0,2844,248,227,1367,48.0,31.0,154,230,2.1
6,Arenal Emevé,28,110,1676,537,1139,579,2334,115,356,...,41.0,3005,321,288,1388,46.0,26.0,164,173,1.6
7,Manacor,29,108,1669,642,1027,579,2360,216,441,...,35.0,2628,238,281,1230,47.0,27.0,113,223,2.1
8,Rotogal Boiro,26,100,1571,546,1025,595,2202,148,396,...,31.0,2469,241,182,1213,49.0,32.0,171,210,2.1
9,Ibiza Voley,26,99,1523,544,979,601,2125,116,353,...,29.0,2587,216,234,1145,44.0,27.0,335,262,2.6
10,Grau,26,97,1431,489,942,547,2074,91,245,...,31.0,2756,263,255,1159,42.0,23.0,319,181,1.9
11,Voley Textil Santanderina,26,98,1385,458,927,541,2073,66,274,...,26.0,2465,206,206,1062,43.0,26.0,236,257,2.6
12,Barça Voleibol,26,96,1377,468,909,379,1952,128,341,...,24.0,2491,267,235,1063,43.0,23.0,210,186,1.9
13,Voleibol Almoradí,26,89,1196,377,819,289,1805,93,247,...,22.0,2255,229,265,965,43.0,21.0,233,138,1.6

In [5]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2020-2021/equipo.csv')
df

                       Equipo     id_equipo
0                Arenal Emevé   1-2020-2021
1              Barça Voleibol   2-2020-2021
2                   CV Teruel   3-2020-2021
3                     Manacor   4-2020-2021
4                     Guaguas   5-2020-2021
5                  CV Melilla   6-2020-2021
6             Rio Duero Soria   7-2020-2021
7               Rotogal Boiro   8-2020-2021
8                        Grau   9-2020-2021
9                 Ibiza Voley  10-2020-2021
10            Unicaja Almería  11-2020-2021
11                Voley Palma  12-2020-2021
12          Voleibol Almoradí  13-2020-2021
13  Voley Textil Santanderina  14-2020-2021

In [6]:
estadistica = pd.merge(estadistica, df[['Equipo', 'id_equipo']], left_on='Equipo', right_on='Equipo', how='left')
estadistica['temporada']='2020-2021'
estadistica.head()

,Equipo,Jugados,Sets_Jugados,Total_Puntos,Break_Puntos,Puntos_Ganados,Puntos_Perdidos,Total_Saque,Puntos_Saque,Error_Saque,...,Error_Ataque,Ataque_Bloqueado,Positivo_Ataque,Excelente_Ataque,Efic_Ataque,Toque_Red_Bloqueo,Puntos_de_Bloqueo,Puntos_Set_Bloqueo,id_equipo,temporada
0,Unicaja Almería,34,136,2154,797,1357,989,2992,202,495,...,237,277,1618,48.0,33.0,420,334,2.5,11-2020-2021,2020-2021
1,Guaguas,33,114,1985,784,1201,1198,2725,132,326,...,188,177,1564,53.0,41.0,275,289,2.5,5-2020-2021,2020-2021
2,CV Teruel,31,114,1905,743,1162,946,2620,144,416,...,227,193,1451,51.0,36.0,149,310,2.7,3-2020-2021,2020-2021
3,CV Melilla,30,116,1869,716,1153,893,2575,147,372,...,225,249,1446,48.0,32.0,164,276,2.4,6-2020-2021,2020-2021
4,Rio Duero Soria,29,116,1868,675,1193,751,2583,160,437,...,269,271,1437,47.0,30.0,322,271,2.3,7-2020-2021,2020-2021

In [7]:
estadistica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Equipo                14 non-null     object
 1   Jugados               14 non-null     int64
 2   Sets_Jugados          14 non-null     int64
 3   Total_Puntos          14 non-null     int64
 4   Break_Puntos          14 non-null     int64
 5   Puntos_Ganados        14 non-null     int64
 6   Puntos_Perdidos       14 non-null     int64
 7   Total_Saque           14 non-null     int64
 8   Puntos_Saque          14 non-null     int64
 9   Error_Saque           14 non-null     int64
 10  Puntos_por_set_Saque  14 non-null     float64
 11  Efic_Saque            14 non-null     float64
 12  Total_Recepcion       14 non-null     int64
 13  Error_Recepcion       14 non-null     int64
 14  Negativo_Recepcion    14 non-null     int64
 15  Positivo_Recepcion    14 non-null     int64
 16  Excelente_Recepcion   14 non-null     float64
 17  Efic_Recepcion        14 non-null     float64
 18  Total_Ataque          14 non-null     int64
 19  Error_Ataque          14 non-null     int64
 20  Ataque_Bloqueado      14 non-null     int64
 21  Positivo_Ataque       14 non-null     int64
 22  Excelente_Ataque      14 non-null     float64
 23  Efic_Ataque           14 non-null     float64
 24  Toque_Red_Bloqueo     14 non-null     int64
 25  Puntos_de_Bloqueo     14 non-null     int64
 26  Puntos_Set_Bloqueo    14 non-null     float64
 27  id_equipo             14 non-null     object
 28  temporada             14 non-null     object
dtypes: float64(7), int64(19), object(3)
memory usage: 3.3+ KB

In [8]:
estadistica=normalizar_df(estadistica)

## Guardado en CSV.

In [9]:
estadistica.to_csv('../../data/2020-2021/estadistica.csv', index=False)

## Base de datos.

In [13]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [14]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [15]:

estadistica.to_sql('estadistica', engine, if_exists='append', index=False)

14