In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=69&PID=103'
parametro='estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [3]:

columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque','Errores_Saque', 'Porcentaje_error',
                'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error','Total_ataques','Ataque_Ranking',17]
parametro= 'estadistica_opuesto'
opuesto = crear_df(datos[3],columna,parametro)
opuesto.drop([1,17], inplace=True, axis=1)
opuesto.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Kukartsev Pavel,33,114,40,67,37,465,75,34,1,141,529,63,64,1025,"3,6404"
1,De Melo Rodrigo Roberto,28,106,40,42,32,436,27,16,0,63,513,72,73,980,"3,5566"

In [4]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2020-2021/jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,1,García Taibo Javier,Receptor,200.0,2000,316.0,330.0,1-2020-2021,2020-2021,1-2020-2021
1,2,Paradela Cortón Miguel,Líbero,184.0,2004,305.0,310.0,2-2020-2021,2020-2021,1-2020-2021

In [5]:
opuesto = pd.merge(opuesto, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
opuesto['temporada']='2020-2021'

opuesto.head()

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,id_equipo,temporada
0,Kukartsev Pavel,33,114,40,67,37,465,75,34,1,141,529,63,64,1025,"3,6404",71-2020-2021,5-2020-2021,2020-2021
1,De Melo Rodrigo Roberto,28,106,40,42,32,436,27,16,0,63,513,72,73,980,"3,5566",165-2020-2021,12-2020-2021,2020-2021
2,Martina Federico,29,111,12,29,11,337,38,11,0,73,465,70,89,975,"2,8468",85-2020-2021,6-2020-2021,2020-2021
3,Rattray Brandon,24,97,28,79,15,344,24,11,0,48,540,116,110,1023,"2,8454",4-2020-2021,1-2020-2021,2020-2021
4,Gavenda Filip,27,91,19,73,21,273,52,12,2,86,373,43,59,705,"2,8022",44-2020-2021,3-2020-2021,2020-2021

In [19]:
opuesto['Ataque_Ranking'] = opuesto['Ataque_Ranking'].str.replace(',', '.')
opuesto.head(1)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,id_equipo,temporada
0,Kukartsev Pavel,33,114,40,67,37,465,75,34,1,141,529,63,64,1025,3.6404,71-2020-2021,5-2020-2021,2020-2021

In [20]:
convertir = opuesto.columns.difference(['Nombre','id_jugador','id_equipo','temporada','Ataque_Ranking'])
opuesto['Ataque_Ranking'] = opuesto['Ataque_Ranking'].str.replace(',', '.').astype(float)
opuesto[convertir] = opuesto[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
opuesto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            18 non-null     object
 1   Partidos_jugados  18 non-null     int64
 2   Sets_jugados      18 non-null     int64
 3   Bloqueos          18 non-null     int64
 4   Bloqueo_exitoso   18 non-null     int64
 5   Bloqueo_fallido   18 non-null     int64
 6   Total_bloqueos    18 non-null     int64
 7   Saque             18 non-null     int64
 8   Errores_Saque     18 non-null     int64
 9   Porcentaje_error  18 non-null     int64
 10  Total_saques      18 non-null     int64
 11  Ataque_exitoso    18 non-null     int64
 12  Errores_ataque    18 non-null     int64
 13  Porc_error        18 non-null     int64
 14  Total_ataques     18 non-null     int64
 15  Ataque_Ranking    18 non-null     float64
 16  id_jugador        18 non-null     object
 17  id_equipo         18 non-null     object
 18  temporada         18 non-null     object
dtypes: float64(1), int64(14), object(4)
memory usage: 2.8+ KB

In [2]:
opuesto = normalizar('../../data/2020-2021/opuesto.csv')

## Guardado en CSV.

In [3]:
opuesto.to_csv('../../data/2020-2021/opuesto.csv', index=False)

## Base de datos.

In [4]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [5]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [6]:

opuesto.to_sql('opuesto', engine, if_exists='append', index=False)

18