In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=124&PID=152'
parametro = 'estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [4]:
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque',
                'Errores_Saque', 'Porcentaje_error', 'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error',
                'Total_ataques','Ataque_Ranking',2]

parametro= 'estadistica_central'

central = crear_df(datos[4],columna,parametro)
central.drop([1,2], inplace=True, axis=1)
central.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Romaní Leandro Gustavo,8,26,17,5,1,25,11,14,5,89,71,15,7,131,"2,1923"
1,Da Cruz Neto Walter,5,19,15,3,0,18,0,7,2,68,38,1,8,67,"1,7895"

In [6]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,2,Paradela Cortón Miguel,Líbero,0.0,2004,0.0,0.0,1-2023-2024,2023-2024,1-2023-2024
1,3,Bouza Ferreiro Víctor,Receptor,0.0,1990,0.0,0.0,2-2023-2024,2023-2024,1-2023-2024

In [7]:
central = pd.merge(central, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
central['temporada']='2022-2023'
central

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,id_equipo,temporada
0,Romaní Leandro Gustavo,8,26,17,5,1,25,11,14,5,89,71,15,7,131,"2,1923",48-2023-2024,4-2023-2024,2022-2023
1,Da Cruz Neto Walter,5,19,15,3,0,18,0,7,2,68,38,1,8,67,"1,7895",154-2023-2024,12-2023-2024,2022-2023
2,Macarro Tortajada Daniel,9,35,20,9,0,41,6,21,4,137,77,9,5,121,"1,6857",21-2023-2024,2-2023-2024,2022-2023
3,Méndez Jiménez Víctor,9,34,30,18,0,62,0,10,4,123,63,6,7,119,"1,5294",117-2023-2024,9-2023-2024,2022-2023
4,Dos Santos Cezar Moises,9,38,31,24,0,66,1,15,2,85,77,10,9,132,"1,3421",86-2023-2024,6-2023-2024,2022-2023
5,Seybering David,8,34,13,20,0,50,8,15,3,106,71,5,7,119,"1,3235",28-2023-2024,3-2023-2024,2022-2023
6,Flores Fabian Emanuel,9,35,26,39,0,116,1,9,2,110,75,5,6,108,"1,2286",98-2023-2024,8-2023-2024,2022-2023
7,Saxton Vigrass Graham,3,7,4,2,0,14,0,2,1,19,12,3,1,21,"1,1429",56-2023-2024,5-2023-2024,2022-2023
8,Ruiz Mira Borja,9,29,8,25,0,56,6,22,8,107,66,5,5,102,"0,7931",139-2023-2024,10-2023-2024,2022-2023
9,Téllez Rodríguez Axel,6,18,12,19,1,44,2,14,1,61,31,8,3,54,"0,0000",120-2023-2024,9-2023-2024,2022-2023
10,Allen Serrano Luis Vidal,9,23,8,28,0,49,1,8,0,52,38,5,9,73,"-0,1304",144-2023-2024,11-2023-2024,2022-2023

In [8]:
convertir = central.columns.difference(['Nombre','id_jugador','id_equipo','temporada'])
central['Ataque_Ranking'] = central['Ataque_Ranking'].str.replace(',', '.').astype(float)
central[convertir] = central[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
central.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            11 non-null     object
 1   Partidos_jugados  11 non-null     int64
 2   Sets_jugados      11 non-null     int64
 3   Bloqueos          11 non-null     int64
 4   Bloqueo_exitoso   11 non-null     int64
 5   Bloqueo_fallido   11 non-null     int64
 6   Total_bloqueos    11 non-null     int64
 7   Saque             11 non-null     int64
 8   Errores_Saque     11 non-null     int64
 9   Porcentaje_error  11 non-null     int64
 10  Total_saques      11 non-null     int64
 11  Ataque_exitoso    11 non-null     int64
 12  Errores_ataque    11 non-null     int64
 13  Porc_error        11 non-null     int64
 14  Total_ataques     11 non-null     int64
 15  Ataque_Ranking    11 non-null     float64
 16  id_jugador        11 non-null     object
 17  id_equipo         11 non-null     object
 18  temporada         11 non-null     object
dtypes: float64(1), int64(14), object(4)
memory usage: 1.8+ KB

In [2]:
normalizar('../../../Data/2023-2024/central.csv')

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,id_equipo,temporada
0,Romani Leandro Gustavo,8,26,17,5,1,25,11,14,5,89,71,15,7,131,2.1923,48-2023-2024,4-2023-2024,2022-2023
1,Da Cruz Neto Walter,5,19,15,3,0,18,0,7,2,68,38,1,8,67,1.7895,154-2023-2024,12-2023-2024,2022-2023
2,Macarro Tortajada Daniel,9,35,20,9,0,41,6,21,4,137,77,9,5,121,1.6857,21-2023-2024,2-2023-2024,2022-2023
3,Mendez Jimenez Victor,9,34,30,18,0,62,0,10,4,123,63,6,7,119,1.5294,117-2023-2024,9-2023-2024,2022-2023
4,Dos Santos Cezar Moises,9,38,31,24,0,66,1,15,2,85,77,10,9,132,1.3421,86-2023-2024,6-2023-2024,2022-2023
5,Seybering David,8,34,13,20,0,50,8,15,3,106,71,5,7,119,1.3235,28-2023-2024,3-2023-2024,2022-2023
6,Flores Fabian Emanuel,9,35,26,39,0,116,1,9,2,110,75,5,6,108,1.2286,98-2023-2024,8-2023-2024,2022-2023
7,Saxton Vigrass Graham,3,7,4,2,0,14,0,2,1,19,12,3,1,21,1.1429,56-2023-2024,5-2023-2024,2022-2023
8,Ruiz Mira Borja,9,29,8,25,0,56,6,22,8,107,66,5,5,102,0.7931,139-2023-2024,10-2023-2024,2022-2023
9,Tellez Rodriguez Axel,6,18,12,19,1,44,2,14,1,61,31,8,3,54,0.0000,120-2023-2024,9-2023-2024,2022-2023
10,Allen Serrano Luis Vidal,9,23,8,28,0,49,1,8,0,52,38,5,9,73,-0.1304,144-2023-2024,11-2023-2024,2022-2023

## Guardado en CSV.

In [4]:
central.to_csv('../../../data/2023-2024/central.csv', index=False)

## Base de datos.

In [5]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [6]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [7]:
dtype = {'id_jugador': Integer}
central.to_sql('central', engine, if_exists='append', index=False, dtype=dtype)

11