In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=124&PID=152'
parametro='estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [8]:

columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque','Errores_Saque', 'Porcentaje_error',
                'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error','Total_ataques','Ataque_Ranking',17]
parametro= 'estadistica_opuesto'
opuesto = crear_df(datos[3],columna,parametro)
opuesto.drop([1,17], inplace=True, axis=1)
opuesto.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Santos Cunha Bruno,9,35,12,24,10,146,12,23,0,56,170,23,25,369,"2,8286"
1,Neaves Matthew Michael,9,29,9,24,6,95,9,16,0,39,132,16,15,228,"2,7241"

In [9]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,2,Paradela Cortón Miguel,Líbero,0.0,2004,0.0,0.0,1-2023-2024,2023-2024,1-2023-2024
1,3,Bouza Ferreiro Víctor,Receptor,0.0,1990,0.0,0.0,2-2023-2024,2023-2024,1-2023-2024
2,4,Linares José Luis,Opuesto,0.0,1998,0.0,0.0,3-2023-2024,2023-2024,1-2023-2024
3,5,Barrasa Portomeñe Samuel,Líbero,0.0,2007,0.0,0.0,4-2023-2024,2023-2024,1-2023-2024
4,6,Edward Batalla Dexter,Colocador/a,0.0,2000,0.0,0.0,5-2023-2024,2023-2024,1-2023-2024
...,...,...,...,...,...,...,...,...,...,...
163,15,Marí Domene Álvaro,Middle-blocker,198.0,2002,333.0,315.0,164-2023-2024,2023-2024,12-2023-2024
164,17,Martínez Gómez Sergio,Opuesto,190.0,2002,329.0,309.0,165-2023-2024,2023-2024,12-2023-2024
165,20,Hernández Robeff Tomás Agustín,Receptor,190.0,1998,329.0,308.0,166-2023-2024,2023-2024,12-2023-2024
166,23,Jiménez Gallego Carlos,Receptor,193.0,1995,346.0,320.0,167-2023-2024,2023-2024,12-2023-2024
167,77,Fernández Rodríguez Francisco,Receptor,0.0,1996,0.0,0.0,168-2023-2024,2023-2024,12-2023-2024

In [10]:
opuesto = pd.merge(opuesto, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
opuesto['temporada']='2023-2024'
convertir = opuesto.columns.difference(['Nombre','id_jugador','id_equipo','temporada','Ataque_Ranking'])
opuesto['Ataque_Ranking'] = opuesto['Ataque_Ranking'].str.replace(',', '.').astype(float)
opuesto[convertir] = opuesto[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
opuesto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            15 non-null     object
 1   Partidos_jugados  15 non-null     int64
 2   Sets_jugados      15 non-null     int64
 3   Bloqueos          15 non-null     int64
 4   Bloqueo_exitoso   15 non-null     int64
 5   Bloqueo_fallido   15 non-null     int64
 6   Total_bloqueos    15 non-null     int64
 7   Saque             15 non-null     int64
 8   Errores_Saque     15 non-null     int64
 9   Porcentaje_error  15 non-null     int64
 10  Total_saques      15 non-null     int64
 11  Ataque_exitoso    15 non-null     int64
 12  Errores_ataque    15 non-null     int64
 13  Porc_error        15 non-null     int64
 14  Total_ataques     15 non-null     int64
 15  Ataque_Ranking    15 non-null     float64
 16  id_jugador        15 non-null     object
 17  id_equipo         15 non-null     object
 18  temporada         15 non-null     object
dtypes: float64(1), int64(14), object(4)
memory usage: 2.4+ KB

In [2]:
normalizar('../../../data/2023-2024/opuesto.csv')

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,id_equipo,temporada
0,Santos Cunha Bruno,9,35,12,24,10,146,12,23,0,56,170,23,25,369,2.8286,106-2023-2024,8-2023-2024,2023-2024
1,Neaves Matthew Michael,9,29,9,24,6,95,9,16,0,39,132,16,15,228,2.7241,135-2023-2024,10-2023-2024,2023-2024
2,Dahl Ulrik Bo,9,38,20,35,17,153,14,13,0,33,181,36,31,394,2.6316,92-2023-2024,7-2023-2024,2023-2024
3,Rodriguez Dosal Angel,9,37,14,26,10,140,15,12,0,36,183,47,33,393,2.5405,35-2023-2024,3-2023-2024,2023-2024
4,Linares Jose Luis,9,33,12,26,7,108,7,6,0,20,158,32,30,328,2.5152,3-2023-2024,1-2023-2024,2023-2024
5,Martina Federico,9,29,3,2,2,61,4,7,0,18,86,5,9,168,2.4138,81-2023-2024,6-2023-2024,2023-2024
6,Nogueira Amorim Victor Lucas,7,27,6,15,3,79,9,1,0,12,105,27,14,205,2.3333,25-2023-2024,2-2023-2024,2023-2024
7,Martinez Palacios Miguel Angel,9,33,1,18,5,109,19,14,1,46,128,34,21,287,1.8182,118-2023-2024,9-2023-2024,2023-2024
8,Pereyra Hernan Federico,4,13,2,7,5,35,7,6,0,17,44,6,13,89,1.6154,78-2023-2024,6-2023-2024,2023-2024
9,Bezerra Souza Francisco Wallyson,8,25,10,20,4,80,6,11,0,23,68,7,15,150,1.2400,58-2023-2024,5-2023-2024,2023-2024
10,Dangel Mulen Armando,9,36,11,15,5,93,6,23,0,48,103,28,24,251,0.8333,149-2023-2024,11-2023-2024,2023-2024
11,Osorio Recorda Gerard,9,32,3,37,5,90,8,5,0,20,112,20,35,267,0.8125,163-2023-2024,12-2023-2024,2023-2024
12,Moreno Mosquera Juan Pablo,4,13,2,10,3,38,1,8,0,16,36,8,9,70,0.3077,62-2023-2024,5-2023-2024,2023-2024
13,Miranda de Alcantara Victor Hugo,9,26,1,12,3,75,11,9,0,32,33,11,8,83,0.1923,46-2023-2024,4-2023-2024,2023-2024
14,Chourio Gonzalez Anderson Jose,1,3,0,0,0,4,0,0,0,4,2,2,3,9,-1.0000,43-2023-2024,4-2023-2024,2023-2024

## Guardado en CSV.

In [3]:
opuesto.to_csv('../../../data/2023-2024/opuesto.csv', index=False)

## Base de datos.

In [7]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [8]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [9]:
dtype = {'id_jugador': Integer}
opuesto.to_sql('opuesto', engine, if_exists='append', index=False, dtype=dtype)

15