In [1]:
import sys
sys.path.append("../../../") 
import src.funciones

In [4]:
resultado = scraping_colocador('https://www.rfevb.com/')

Scraping exitoso

In [5]:
resultado[15:30]

['2',
 'Cavanna Maximiliano',
 '(CV Guaguas)',
 '2',
 '4',
 '21',
 '0',
 '3',
 '3',
 '4',
 '3',
 '34',
 '0,4412',
 '3',
 'Bertassoni Paulo Renan']

In [6]:
resultado = [resultado[i:i+13] for i in range(3, len(resultado), 13)]

colocador = pd.DataFrame(resultado)

'''Cuidado con la modificación de columnas, drops y demas. puede cambiar.'''
    
column_names = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Acciones_exitosas', 'Errores_colocador',
                '_error_colocador', 'Puntos_negativos', 'Puntos_positivos',
                'Acciones_positivas', 'Total_acumulado', 'Efic_Ranking',2]

colocador.columns = column_names
colocador.drop(1, inplace=True, axis=1)
colocador.drop(2, inplace=True, axis=1)
colocador.drop(15, inplace=True)

In [7]:
colocador

,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking
0,,1,1,5,0,2,1,0,0,8,"0,5000"
1,Cavanna Maximiliano,2,4,21,0,3,3,4,3,34,"0,4412"
2,Bertassoni Paulo Renan,9,29,166,2,13,39,19,15,254,"0,4409"
3,Riganti Juan Martín,9,31,199,0,25,46,63,19,352,"0,3807"
4,Roberts Ignacio,8,32,216,2,26,45,32,37,358,"0,3743"
5,Lorente López Lucas,7,26,153,4,17,47,36,10,267,"0,3596"
6,Martín Pérez César,8,27,158,4,30,50,30,24,296,"0,2838"
7,Arjones Ferreiros Jaime,7,28,161,3,24,38,74,30,330,"0,2818"
8,Loeches Buitrago Guillermo,8,34,187,2,20,67,31,27,334,"0,2784"
9,Lorente Camacho Rubén,9,31,153,6,27,47,32,26,291,"0,2749"
10,Pont Perello Guillem,7,15,51,0,6,22,13,4,96,"0,2604"
11,de Amo Miguel Ángel,9,31,157,0,15,62,30,22,286,"0,2552"
12,Monfort Minaya Vicente,9,36,155,1,24,55,35,26,296,"0,2500"
13,García Borrás Héctor,9,32,186,5,40,75,58,24,388,"0,2242"
14,Edward Batalla Dexter,8,30,176,0,39,64,44,36,359,"0,2117"

In [8]:
colocador.drop(0, inplace=True)

In [9]:

convertir = colocador.columns.difference(['Nombre'])
colocador['Efic_Ranking'] = colocador['Efic_Ranking'].str.replace(',', '.').astype(float)
colocador[convertir] = colocador[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
colocador.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 1 to 14
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              14 non-null     object
 1   Partidos_jugados    14 non-null     int64
 2   Sets_jugados        14 non-null     int64
 3   Acciones_exitosas   14 non-null     int64
 4   Errores_colocador   14 non-null     int64
 5   _error_colocador    14 non-null     int64
 6   Puntos_negativos    14 non-null     int64
 7   Puntos_positivos    14 non-null     int64
 8   Acciones_positivas  14 non-null     int64
 9   Total_acumulado     14 non-null     int64
 10  Efic_Ranking        14 non-null     float64
dtypes: float64(1), int64(9), object(1)
memory usage: 1.3+ KB

In [10]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df

,Dorsal,Nombre,Posición,Altura,Año de nacimiento,Alcance en ataque,Alcance en bloqueo,id_equipo,id_jugador
0,2,Paradela Cortón Miguel,Líbero,0,2004,0,0,1,1
1,3,Bouza Ferreiro Víctor,Receptor,0,1990,0,0,1,2
2,4,Linares José Luis,Opuesto,0,1998,0,0,1,3
3,5,Barrasa Portomeñe Samuel,Líbero,0,2007,0,0,1,4
4,6,Edward Batalla Dexter,Colocador/a,0,2000,0,0,1,5
...,...,...,...,...,...,...,...,...,...
163,15,Marí Domene Álvaro,Middle-blocker,198,2002,333,315,12,164
164,17,Martínez Gómez Sergio,Opuesto,190,2002,329,309,12,165
165,20,Hernández Robeff Tomás Agustín,Receptor,190,1998,329,308,12,166
166,23,Jiménez Gallego Carlos,Receptor,193,1995,346,320,12,167
167,77,Fernández Rodríguez Francisco,Receptor,0,1996,0,0,12,168

In [11]:
colocador = pd.merge(colocador, df[['Nombre', 'id_jugador']], on='Nombre', how='left')

colocador

,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking,id_jugador
0,Cavanna Maximiliano,2,4,21,0,3,3,4,3,34,0.4412,65
1,Bertassoni Paulo Renan,9,29,166,2,13,39,19,15,254,0.4409,133
2,Riganti Juan Martín,9,31,199,0,25,46,63,19,352,0.3807,70
3,Roberts Ignacio,8,32,216,2,26,45,32,37,358,0.3743,23
4,Lorente López Lucas,7,26,153,4,17,47,36,10,267,0.3596,97
5,Martín Pérez César,8,27,158,4,30,50,30,24,296,0.2838,51
6,Arjones Ferreiros Jaime,7,28,161,3,24,38,74,30,330,0.2818,39
7,Loeches Buitrago Guillermo,8,34,187,2,20,67,31,27,334,0.2784,88
8,Lorente Camacho Rubén,9,31,153,6,27,47,32,26,291,0.2749,116
9,Pont Perello Guillem,7,15,51,0,6,22,13,4,96,0.2604,122
10,de Amo Miguel Ángel,9,31,157,0,15,62,30,22,286,0.2552,59
11,Monfort Minaya Vicente,9,36,155,1,24,55,35,26,296,0.2500,147
12,García Borrás Héctor,9,32,186,5,40,75,58,24,388,0.2242,156
13,Edward Batalla Dexter,8,30,176,0,39,64,44,36,359,0.2117,5

## Guardado en CSV.

In [11]:
colocador.to_csv('../../../data/2023-2024/colocador.csv', index=False)

## Base de datos.

In [12]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [13]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyball_database')

In [14]:
dtype = {'id_jugador': Integer}
colocador.to_sql('colocador', engine, if_exists='append', index=False, dtype=dtype)

14