In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import *

In [2]:
resultado = scraping_libero('https://www.rfevb.com/')

Scraping exitoso

In [3]:
resultado = [resultado[i:i+13] for i in range(3, len(resultado), 13)]

libero = pd.DataFrame(resultado)

column_names = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Recepciones', 'Recepciones_exitosas',
                'Recepciones_fallidas', 'Recepciones_otro_jugador', 'Puntos_perdidos_recep',
                'Puntos_ganados_recep', 'Total_puntos_recep', 'Recep_Ranking', 12]

libero.columns = column_names
libero.drop(1, inplace=True, axis=1)
libero.drop(12, inplace=True, axis=1)
libero.drop(16, inplace=True)

In [4]:
libero.head()

,Nombre,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking
0,San Martín Rodríguez Alejandro,5,17,28,3,6,0,7,16,60,"0,4167"
1,Masia Porres Arnau,9,31,109,18,1,11,25,51,215,"0,3721"
2,Almansa Jorge,1,3,8,0,2,1,2,9,22,"0,3182"
3,Barrasa Portomeñe Samuel,5,10,22,3,0,1,16,16,58,"0,3103"
4,Piris Guiscafré Antoni,9,30,73,12,5,7,32,51,180,"0,3000"

In [5]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df

,#,Nombre,Posición,Altura,Año de nacimiento,Alcance en ataque,Alcance en bloqueo,id_jugador
0,2,Paradela Cortón Miguel,Líbero,-,2004,-,-,1
1,3,Bouza Ferreiro Víctor,Receptor,-,1990,-,-,2
2,4,Linares José Luis,Opuesto,-,1998,-,-,3
3,5,Barrasa Portomeñe Samuel,Líbero,-,2007,-,-,4
4,6,Edward Batalla Dexter,Colocador/a,-,2000,-,-,5
...,...,...,...,...,...,...,...,...
163,15,Marí Domene Álvaro,Middle-blocker,198,2002,333,315,164
164,17,Martínez Gómez Sergio,Opuesto,190,2002,329,309,165
165,20,Hernández Robeff Tomás Agustín,Receptor,190,1998,329,308,166
166,23,Jiménez Gallego Carlos,Receptor,193,1995,346,320,167
167,77,Fernández Rodríguez Francisco,Receptor,-,1996,-,-,168

In [8]:
liberos = pd.merge(libero, df[['Nombre', 'id_jugador']], on='Nombre', how='left')

convertir = liberos.columns.difference(['Nombre'])
liberos['Recep_Ranking'] = liberos['Recep_Ranking'].str.replace(',', '.').astype(float)
liberos[convertir] = liberos[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
liberos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nombre                    16 non-null     object
 1   Partidos_jugados          16 non-null     int64
 2   Sets_jugados              16 non-null     int64
 3   Recepciones               16 non-null     int64
 4   Recepciones_exitosas      16 non-null     int64
 5   Recepciones_fallidas      16 non-null     int64
 6   Recepciones_otro_jugador  16 non-null     int64
 7   Puntos_perdidos_recep     16 non-null     int64
 8   Puntos_ganados_recep      16 non-null     int64
 9   Total_puntos_recep        16 non-null     int64
 10  Recep_Ranking             16 non-null     float64
 11  id_jugador                16 non-null     int64
dtypes: float64(1), int64(10), object(1)
memory usage: 1.6+ KB

## Por precaución lo guardamos en CSV

In [11]:
liberos.to_csv('../../../data/2023-2024/liberos.csv', index=False)

## Vamos a pasar todo a una base de datos!

In [12]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [13]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/proyecto_final')

In [15]:
dtype = {'id_jugador': Integer}
liberos.to_sql('liberos', engine, if_exists='append', index=False, dtype=dtype)

16