In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/CompetitionTeamSearch.aspx?ID=124'
parametro = 'jugadores'
datos= scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Arenal Emevé
Estoy dentro.
Extraigo
Cisneros Alter
Estoy dentro.
Extraigo
Club Vóley Palma
Estoy dentro.
Extraigo
Conectabalear CV Manacor
Estoy dentro.
Extraigo
CV Guaguas
Estoy dentro.
Extraigo
CV Melilla
Estoy dentro.
Extraigo
CV San Roque
Estoy dentro.
Extraigo
Grupo Herce Soria
Estoy dentro.
Extraigo
Pamesa Teruel Voleibol
Estoy dentro.
Extraigo
Unicaja Costa de Almería
Estoy dentro.
Extraigo
UPV Leleman Conqueridor
Estoy dentro.
Extraigo
Volei Villena Petrer
Estoy dentro.
Extraigo
Scraping exitoso

In [17]:
dataframes = []
for lista in datos:
    columnas = lista[:7]
    datos_filas = lista[7:]
    num_filas = len(datos_filas) // len(columnas)
    filas_organizadas = [datos_filas[i:i+len(columnas)] for i in range(0, len(datos_filas), len(columnas))]
    df = pd.DataFrame(filas_organizadas, columns=columnas)
    dataframes.append(df)
jugadores = pd.concat(dataframes, ignore_index=True)
jugadores

,#,Nombre,Posición,Altura,Año de nacimiento,Alcance en ataque,Alcance en bloqueo
0,2,Paradela Cortón Miguel,Líbero,-,2004,-,-
1,3,Bouza Ferreiro Víctor,Receptor,-,1990,-,-
2,4,Linares José Luis,Opuesto,-,1998,-,-
3,5,Barrasa Portomeñe Samuel,Líbero,-,2007,-,-
4,6,Edward Batalla Dexter,Colocador/a,-,2000,-,-
...,...,...,...,...,...,...,...
163,15,Marí Domene Álvaro,Middle-blocker,198,2002,333,315
164,17,Martínez Gómez Sergio,Opuesto,190,2002,329,309
165,20,Hernández Robeff Tomás Agustín,Receptor,190,1998,329,308
166,23,Jiménez Gallego Carlos,Receptor,193,1995,346,320
167,77,Fernández Rodríguez Francisco,Receptor,-,1996,-,-

In [19]:
jugadores['id_jugador'] = [str(i) + '-2023-2024' for i in range(1, len(jugadores) + 1)]
jugadores['temporada'] = '2023-2024'
jugadores.columns = jugadores.columns.str.replace(' ', '_')
jugadores.loc[0:11, 'id_equipo'] = '1-2023-2024'
jugadores.loc[12:26, 'id_equipo'] = '2-2023-2024'
jugadores.loc[27:39, 'id_equipo'] = '3-2023-2024'
jugadores.loc[40:52, 'id_equipo'] = '4-2023-2024'
jugadores.loc[53:66, 'id_equipo'] = '5-2023-2024'
jugadores.loc[67:87, 'id_equipo'] = '6-2023-2024'
jugadores.loc[88:93, 'id_equipo'] = '7-2023-2024'
jugadores.loc[94:107, 'id_equipo'] = '8-2023-2024'
jugadores.loc[108:125, 'id_equipo'] = '9-2023-2024'
jugadores.loc[126:138, 'id_equipo'] = '10-2023-2024'
jugadores.loc[139:152, 'id_equipo'] = '11-2023-2024'
jugadores.loc[153:, 'id_equipo'] = '12-2023-2024'
jugadores.replace('-', '0', inplace=True)
jugadores[['Alcance_en_ataque', 'Alcance_en_bloqueo', 'Altura']] = jugadores[['Alcance_en_ataque', 'Alcance_en_bloqueo', 'Altura']].astype(float)
jugadores['Año_de_nacimiento'] = pd.to_numeric(jugadores['Año_de_nacimiento'], errors='coerce').fillna(0).astype(int)
jugadores.rename(columns={'#': 'Dorsal'}, inplace=True)
jugadores.head()

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,2,Paradela Cortón Miguel,Líbero,0.0,2004,0.0,0.0,1-2023-2024,2023-2024,1-2023-2024
1,3,Bouza Ferreiro Víctor,Receptor,0.0,1990,0.0,0.0,2-2023-2024,2023-2024,1-2023-2024
2,4,Linares José Luis,Opuesto,0.0,1998,0.0,0.0,3-2023-2024,2023-2024,1-2023-2024
3,5,Barrasa Portomeñe Samuel,Líbero,0.0,2007,0.0,0.0,4-2023-2024,2023-2024,1-2023-2024
4,6,Edward Batalla Dexter,Colocador/a,0.0,2000,0.0,0.0,5-2023-2024,2023-2024,1-2023-2024

In [2]:
normalizar('../../../data/2023-2024/jugadores.csv')

,Dorsal,Nombre,Posicion,Altura,Ano_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,2,Paradela Corton Miguel,Libero,0.0,2004,0.0,0.0,1-2023-2024,2023-2024,1-2023-2024
1,3,Bouza Ferreiro Victor,Receptor,0.0,1990,0.0,0.0,2-2023-2024,2023-2024,1-2023-2024
2,4,Linares Jose Luis,Opuesto,0.0,1998,0.0,0.0,3-2023-2024,2023-2024,1-2023-2024
3,5,Barrasa Portomene Samuel,Libero,0.0,2007,0.0,0.0,4-2023-2024,2023-2024,1-2023-2024
4,6,Edward Batalla Dexter,Colocador/a,0.0,2000,0.0,0.0,5-2023-2024,2023-2024,1-2023-2024
...,...,...,...,...,...,...,...,...,...,...
163,15,Mari Domene Alvaro,Middle-blocker,198.0,2002,333.0,315.0,164-2023-2024,2023-2024,12-2023-2024
164,17,Martinez Gomez Sergio,Opuesto,190.0,2002,329.0,309.0,165-2023-2024,2023-2024,12-2023-2024
165,20,Hernandez Robeff Tomas Agustin,Receptor,190.0,1998,329.0,308.0,166-2023-2024,2023-2024,12-2023-2024
166,23,Jimenez Gallego Carlos,Receptor,193.0,1995,346.0,320.0,167-2023-2024,2023-2024,12-2023-2024
167,77,Fernandez Rodriguez Francisco,Receptor,0.0,1996,0.0,0.0,168-2023-2024,2023-2024,12-2023-2024

## Guardado en CSV.

In [4]:
jugadores.to_csv('../../../data/2023-2024/jugadores.csv', index=False)

## Base de datos.

In [5]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [6]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [7]:
dtype = {'id_jugador': Integer}
jugadores.to_sql('jugadores', engine, if_exists='append', index=False, dtype=dtype)

168