In [2]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import scraping_jugadores
import pandas as pd

In [3]:
resultado = scraping_jugadores('https://www.rfevb.com/')

Arenal Emevé
Estoy dentro.
Extraigo
Cisneros Alter
Estoy dentro.
Extraigo
Club Vóley Palma
Estoy dentro.
Extraigo
Conectabalear CV Manacor
Estoy dentro.
Extraigo
CV Guaguas
Estoy dentro.
Extraigo
CV Melilla
Estoy dentro.
Extraigo
CV San Roque
Estoy dentro.
Extraigo
Grupo Herce Soria
Estoy dentro.
Extraigo
Pamesa Teruel Voleibol
Estoy dentro.
Extraigo
Unicaja Costa de Almería
Estoy dentro.
Extraigo
UPV Leleman Conqueridor
Estoy dentro.
Extraigo
Volei Villena Petrer
Estoy dentro.
Extraigo
Scraping exitoso

In [41]:
len(resultado)

12

In [34]:
columnas=resultado[0][0:7]

In [60]:
resultado[0][7:]

['2',
 'Paradela Cortón Miguel',
 'Líbero',
 '-',
 '2004',
 '-',
 '-',
 '3',
 'Bouza Ferreiro Víctor',
 'Receptor',
 '-',
 '1990',
 '-',
 '-',
 '4',
 'Linares José Luis',
 'Opuesto',
 '-',
 '1998',
 '-',
 '-',
 '5',
 'Barrasa Portomeñe Samuel',
 'Líbero',
 '-',
 '2007',
 '-',
 '-',
 '6',
 'Edward Batalla Dexter',
 'Colocador/a',
 '-',
 '2000',
 '-',
 '-',
 '9',
 'Schulz Max',
 'Receptor',
 '-',
 '2002',
 '-',
 '-',
 '10',
 'Biliato Luca',
 'Opuesto',
 '-',
 '1993',
 '-',
 '-',
 '11',
 'Villar Álvarez Pablo',
 'Colocador/a',
 '-',
 '2002',
 '-',
 '-',
 '12',
 'Rodríguez Rubio Aurelio',
 'Middle-blocker',
 '-',
 '2000',
 '-',
 '-',
 '13',
 'Frías Collado Juan Francisco',
 'Middle-blocker',
 '-',
 '2000',
 '-',
 '-',
 '14',
 'Augustinho De Lara Sopschuk Luis Henrique',
 'Middle-blocker',
 '-',
 '2002',
 '-',
 '-',
 '17',
 'Ossola Gude Nahuel',
 'Receptor',
 '-',
 '2002',
 '-',
 '-']

In [65]:
columnas = resultado[0][:7]
datos_filas = resultado[0][7:]
num_filas = len(datos_filas) // len(columnas)
filas_organizadas = [datos_filas[i:i+len(columnas)] for i in range(0, len(datos_filas), len(columnas))]
df = pd.DataFrame(filas_organizadas, columns=columnas)
df

,#,Nombre,Posición,Altura,Año de nacimiento,Alcance en ataque,Alcance en bloqueo
0,2,Paradela Cortón Miguel,Líbero,-,2004,-,-
1,3,Bouza Ferreiro Víctor,Receptor,-,1990,-,-
2,4,Linares José Luis,Opuesto,-,1998,-,-
3,5,Barrasa Portomeñe Samuel,Líbero,-,2007,-,-
4,6,Edward Batalla Dexter,Colocador/a,-,2000,-,-
5,9,Schulz Max,Receptor,-,2002,-,-
6,10,Biliato Luca,Opuesto,-,1993,-,-
7,11,Villar Álvarez Pablo,Colocador/a,-,2002,-,-
8,12,Rodríguez Rubio Aurelio,Middle-blocker,-,2000,-,-
9,13,Frías Collado Juan Francisco,Middle-blocker,-,2000,-,-
10,14,Augustinho De Lara Sopschuk Luis Henrique,Middle-blocker,-,2002,-,-
11,17,Ossola Gude Nahuel,Receptor,-,2002,-,-

In [75]:
dataframes = []
for lista in resultado:
    columnas = lista[:7]
    datos_filas = lista[7:]
    num_filas = len(datos_filas) // len(columnas)
    filas_organizadas = [datos_filas[i:i+len(columnas)] for i in range(0, len(datos_filas), len(columnas))]
    df = pd.DataFrame(filas_organizadas, columns=columnas)
    dataframes.append(df)
jugadores = pd.concat(dataframes, ignore_index=True)

In [76]:
jugadores

,#,Nombre,Posición,Altura,Año de nacimiento,Alcance en ataque,Alcance en bloqueo
0,2,Paradela Cortón Miguel,Líbero,-,2004,-,-
1,3,Bouza Ferreiro Víctor,Receptor,-,1990,-,-
2,4,Linares José Luis,Opuesto,-,1998,-,-
3,5,Barrasa Portomeñe Samuel,Líbero,-,2007,-,-
4,6,Edward Batalla Dexter,Colocador/a,-,2000,-,-
...,...,...,...,...,...,...,...
163,15,Marí Domene Álvaro,Middle-blocker,198,2002,333,315
164,17,Martínez Gómez Sergio,Opuesto,190,2002,329,309
165,20,Hernández Robeff Tomás Agustín,Receptor,190,1998,329,308
166,23,Jiménez Gallego Carlos,Receptor,193,1995,346,320
167,77,Fernández Rodríguez Francisco,Receptor,-,1996,-,-

In [77]:
#Extraccion de jugadores.
df= pd.read_csv('..\..\data\Jugadores.csv')
df

,Unnamed: 0,Dorsal,Nombre,Posición,Año_de_nacimiento,id_jugador,id_equipo,Edad
0,0,2,Paradela Cortón Miguel,Líbero,2004,1,1,19
1,1,3,Bouza Ferreiro Víctor,Receptor,1990,2,1,33
2,2,4,Linares José Luis,Opuesto,1998,3,1,25
3,3,5,Barrasa Portomeñe Samuel,Líbero,2007,4,1,16
4,4,6,Edward Batalla Dexter,Colocador/a,2000,5,1,23
...,...,...,...,...,...,...,...,...
163,163,15,Marí Domene Álvaro,Middle-blocker,2002,164,12,21
164,164,17,Martínez Gómez Sergio,Opuesto,2002,165,12,21
165,165,20,Hernández Robeff Tomás Agustín,Receptor,1998,166,12,25
166,166,23,Jiménez Gallego Carlos,Receptor,1995,167,12,28
167,167,77,Fernández Rodríguez Francisco,Receptor,1996,168,12,27

In [78]:
jugadores = pd.merge(jugadores, df[['Nombre', 'id_jugador']], on='Nombre', how='left')

jugadores

,#,Nombre,Posición,Altura,Año de nacimiento,Alcance en ataque,Alcance en bloqueo,id_jugador
0,2,Paradela Cortón Miguel,Líbero,-,2004,-,-,1.0
1,3,Bouza Ferreiro Víctor,Receptor,-,1990,-,-,2.0
2,4,Linares José Luis,Opuesto,-,1998,-,-,3.0
3,5,Barrasa Portomeñe Samuel,Líbero,-,2007,-,-,4.0
4,6,Edward Batalla Dexter,Colocador/a,-,2000,-,-,5.0
...,...,...,...,...,...,...,...,...
163,15,Marí Domene Álvaro,Middle-blocker,198,2002,333,315,164.0
164,17,Martínez Gómez Sergio,Opuesto,190,2002,329,309,165.0
165,20,Hernández Robeff Tomás Agustín,Receptor,190,1998,329,308,166.0
166,23,Jiménez Gallego Carlos,Receptor,193,1995,346,320,167.0
167,77,Fernández Rodríguez Francisco,Receptor,-,1996,-,-,168.0

In [82]:
jugadores[jugadores['id_jugador'].isnull()]

In [83]:
jugadores[jugadores['id_jugador'].isnull()]
jugadores.loc[jugadores['id_jugador'].isnull(), 'id_jugador'] = 53

Empty DataFrame
Columns: [#, Nombre, Posición, Altura, Año de nacimiento, Alcance en ataque, Alcance en bloqueo, id_jugador]
Index: []

In [84]:
jugadores['id_jugador'] = jugadores['id_jugador'].astype(int)

In [85]:
jugadores

,#,Nombre,Posición,Altura,Año de nacimiento,Alcance en ataque,Alcance en bloqueo,id_jugador
0,2,Paradela Cortón Miguel,Líbero,-,2004,-,-,1
1,3,Bouza Ferreiro Víctor,Receptor,-,1990,-,-,2
2,4,Linares José Luis,Opuesto,-,1998,-,-,3
3,5,Barrasa Portomeñe Samuel,Líbero,-,2007,-,-,4
4,6,Edward Batalla Dexter,Colocador/a,-,2000,-,-,5
...,...,...,...,...,...,...,...,...
163,15,Marí Domene Álvaro,Middle-blocker,198,2002,333,315,164
164,17,Martínez Gómez Sergio,Opuesto,190,2002,329,309,165
165,20,Hernández Robeff Tomás Agustín,Receptor,190,1998,329,308,166
166,23,Jiménez Gallego Carlos,Receptor,193,1995,346,320,167
167,77,Fernández Rodríguez Francisco,Receptor,-,1996,-,-,168

In [86]:
jugadores.to_csv('..\..\data/jugadores.csv', index=False)