In [2]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_datos import *
from src.help_scraping import *

In [2]:
url = 'https://www.flashscore.es/voleibol/espana/superliga-masculina-2023-2024/#/dbcRyvQO/table/overall'
parametros = 'clasificacion'
datos=scraping(url,parametros)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [3]:
columna = ['Posición', 'Equipo', 'PJ', 'G', 'P', 'S', 'PTS', 'Forma','f','f','f','f','f']
parametros = 'clasificacion'
clasificacion = crear_df(datos,columna,parametros)
clasificacion.head(10)

  Posición                Equipo PJ  G  P      S PTS Forma  f  f  f  f  f
0       1.       Unicaja Almería  9  8  1   25:4  24     ?  G  G  G  P  G
1       2.       Rio Duero Soria  9  8  1   26:9  24     ?  G  G  G  P  G
2       3.               Guaguas  9  8  1   25:7  23     ?  G  G  G  G  G
3       4.            CV Melilla  9  6  3  19:12  17     ?  G  P  P  G  G
4       5.        Cisneros Alter  9  5  4  19:16  16     ?  P  G  G  G  G
5       6.             CV Teruel  9  5  4  16:18  12     ?  P  P  P  G  P
6       7.               Manacor  9  4  5  14:17  13     ?  G  G  G  P  P
7       8.  Conqueridor Valencia  9  3  6  15:22  10     ?  P  P  P  G  P
8       9.     San Roque - Batán  9  3  6  14:24   8     ?  P  P  P  G  G
9      10.           Voley Palma  9  2  7  15:22   9     ?  G  P  P  P  P

In [4]:
clasificacion['Posición'] = clasificacion['Posición'].astype(str).str.rstrip('.')
clasificacion['Posición'] = clasificacion['Posición'].astype(int)
clasificacion = clasificacion.drop(['f','Forma','S'], axis=1)
convertir = clasificacion.columns.difference(['Equipo'])
clasificacion[convertir] = clasificacion[convertir].apply(pd.to_numeric, errors='coerce').fillna(0).astype(int)
clasificacion

    Posición                   Equipo  PJ  G  P  PTS
0          1          Unicaja Almería   9  8  1   24
1          2          Rio Duero Soria   9  8  1   24
2          3                  Guaguas   9  8  1   23
3          4               CV Melilla   9  6  3   17
4          5           Cisneros Alter   9  5  4   16
5          6                CV Teruel   9  5  4   12
6          7                  Manacor   9  4  5   13
7          8     Conqueridor Valencia   9  3  6   10
8          9        San Roque - Batán   9  3  6    8
9         10              Voley Palma   9  2  7    9
10        11             Arenal Emevé   9  2  7    5
11        12  Santo Domingo VB Petrer   9  0  9    1

In [5]:
mapear_nombres(clasificacion)

    Posición                Equipo  PJ  G  P  PTS
0          1       Unicaja Almería   9  8  1   24
1          2       Rio Duero Soria   9  8  1   24
2          3               Guaguas   9  8  1   23
3          4            CV Melilla   9  6  3   17
4          5        Cisneros Alter   9  5  4   16
5          6             CV Teruel   9  5  4   12
6          7               Manacor   9  4  5   13
7          8  Conqueridor Valencia   9  3  6   10
8          9          CV San Roque   9  3  6    8
9         10           Voley Palma   9  2  7    9
10        11          Arenal Emevé   9  2  7    5
11        12     CV Villena Petrer   9  0  9    1

In [8]:
df= pd.read_csv('../../../data/2023-2024/equipos.csv')
df

                  Equipo     id_equipo
0           Arenal Emevé   1-2023-2024
1         Cisneros Alter   2-2023-2024
2            Voley Palma   3-2023-2024
3                Manacor   4-2023-2024
4                Guaguas   5-2023-2024
5             CV Melilla   6-2023-2024
6           CV San Roque   7-2023-2024
7        Rio Duero Soria   8-2023-2024
8              CV Teruel   9-2023-2024
9        Unicaja Almería  10-2023-2024
10  Conqueridor Valencia  11-2023-2024
11     CV Villena Petrer  12-2023-2024

In [12]:
clasificacion = pd.merge(clasificacion, df[['Equipo', 'id_equipo']], left_on='Equipo', right_on='Equipo', how='left')
clasificacion['temporada']='2023-2024'

clasificacion

    Posición                Equipo  PJ  G  P  PTS     id_equipo  temporada
0          1       Unicaja Almería   9  8  1   24  10-2023-2024  2023-2024
1          2       Rio Duero Soria   9  8  1   24   8-2023-2024  2023-2024
2          3               Guaguas   9  8  1   23   5-2023-2024  2023-2024
3          4            CV Melilla   9  6  3   17   6-2023-2024  2023-2024
4          5        Cisneros Alter   9  5  4   16   2-2023-2024  2023-2024
5          6             CV Teruel   9  5  4   12   9-2023-2024  2023-2024
6          7               Manacor   9  4  5   13   4-2023-2024  2023-2024
7          8  Conqueridor Valencia   9  3  6   10  11-2023-2024  2023-2024
8          9          CV San Roque   9  3  6    8   7-2023-2024  2023-2024
9         10           Voley Palma   9  2  7    9   3-2023-2024  2023-2024
10        11          Arenal Emevé   9  2  7    5   1-2023-2024  2023-2024
11        12     CV Villena Petrer   9  0  9    1  12-2023-2024  2023-2024

In [3]:
normalizar('../../../Data/2023-2024/Clasificacion.csv')

    Posicion                Equipo  PJ  G  P  PTS     id_equipo  temporada
0          1       Unicaja Almeria   9  8  1   24  10-2023-2024  2023-2024
1          2       Rio Duero Soria   9  8  1   24   8-2023-2024  2023-2024
2          3               Guaguas   9  8  1   23   5-2023-2024  2023-2024
3          4            CV Melilla   9  6  3   17   6-2023-2024  2023-2024
4          5        Cisneros Alter   9  5  4   16   2-2023-2024  2023-2024
5          6             CV Teruel   9  5  4   12   9-2023-2024  2023-2024
6          7               Manacor   9  4  5   13   4-2023-2024  2023-2024
7          8  Conqueridor Valencia   9  3  6   10  11-2023-2024  2023-2024
8          9          CV San Roque   9  3  6    8   7-2023-2024  2023-2024
9         10           Voley Palma   9  2  7    9   3-2023-2024  2023-2024
10        11          Arenal Emeve   9  2  7    5   1-2023-2024  2023-2024
11        12     CV Villena Petrer   9  0  9    1  12-2023-2024  2023-2024

## Guardado en CSV.

In [4]:
clasificacion.to_csv('../../../Data/2023-2024/Clasificacion.csv', index=False)

## Base de datos.

In [5]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [6]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [7]:

clasificacion.to_sql('clasificacion', engine, if_exists='append', index=False)

12