In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import *

In [2]:
resultado = scraping_opuesto('https://www.rfevb.com/')

Scraping exitoso

In [3]:
resultado[3:20]

['Santos Cunha Bruno',
 '(Grupo Herce Soria)',
 '9',
 '35',
 '12',
 '24',
 '10',
 '146',
 '12',
 '23',
 '0',
 '56',
 '170',
 '23',
 '25',
 '369',
 '2,8286']

In [4]:
resultado = [resultado[i:i+18] for i in range(3, len(resultado), 18)]

opuesto = pd.DataFrame(resultado)
    
column_names = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque','Errores_Saque', 'Porcentaje_error',
                'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error','Total_ataques','Ataque_Ranking',17]

opuesto.columns = column_names
opuesto.drop(1, inplace=True, axis=1)
opuesto.drop(17, inplace=True, axis=1)
opuesto.drop(15, inplace=True)

In [5]:
opuesto.head()

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Santos Cunha Bruno,9,35,12,24,10,146,12,23,0,56,170,23,25,369,"2,8286"
1,Neaves Matthew Michael,9,29,9,24,6,95,9,16,0,39,132,16,15,228,"2,7241"
2,Dahl Ulrik Bo,9,38,20,35,17,153,14,13,0,33,181,36,31,394,"2,6316"
3,Rodríguez Dosal Ángel,9,37,14,26,10,140,15,12,0,36,183,47,33,393,"2,5405"
4,Linares José Luis,9,33,12,26,7,108,7,6,0,20,158,32,30,328,"2,5152"

In [6]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df

,#,Nombre,Posición,Altura,Año de nacimiento,Alcance en ataque,Alcance en bloqueo,id_jugador
0,2,Paradela Cortón Miguel,Líbero,-,2004,-,-,1
1,3,Bouza Ferreiro Víctor,Receptor,-,1990,-,-,2
2,4,Linares José Luis,Opuesto,-,1998,-,-,3
3,5,Barrasa Portomeñe Samuel,Líbero,-,2007,-,-,4
4,6,Edward Batalla Dexter,Colocador/a,-,2000,-,-,5
...,...,...,...,...,...,...,...,...
163,15,Marí Domene Álvaro,Middle-blocker,198,2002,333,315,164
164,17,Martínez Gómez Sergio,Opuesto,190,2002,329,309,165
165,20,Hernández Robeff Tomás Agustín,Receptor,190,1998,329,308,166
166,23,Jiménez Gallego Carlos,Receptor,193,1995,346,320,167
167,77,Fernández Rodríguez Francisco,Receptor,-,1996,-,-,168

In [7]:
opuesto = pd.merge(opuesto, df[['Nombre', 'id_jugador']], on='Nombre', how='left')

convertir = opuesto.columns.difference(['Nombre'])
opuesto['Ataque_Ranking'] = opuesto['Ataque_Ranking'].str.replace(',', '.').astype(float)
opuesto[convertir] = opuesto[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
opuesto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            15 non-null     object
 1   Partidos_jugados  15 non-null     int64
 2   Sets_jugados      15 non-null     int64
 3   Bloqueos          15 non-null     int64
 4   Bloqueo_exitoso   15 non-null     int64
 5   Bloqueo_fallido   15 non-null     int64
 6   Total_bloqueos    15 non-null     int64
 7   Saque             15 non-null     int64
 8   Errores_Saque     15 non-null     int64
 9   Porcentaje_error  15 non-null     int64
 10  Total_saques      15 non-null     int64
 11  Ataque_exitoso    15 non-null     int64
 12  Errores_ataque    15 non-null     int64
 13  Porc_error        15 non-null     int64
 14  Total_ataques     15 non-null     int64
 15  Ataque_Ranking    15 non-null     float64
 16  id_jugador        15 non-null     int64
dtypes: float64(1), int64(15), object(1)
memory usage: 2.1+ KB

## Por precaución lo guardamos en CSV

In [9]:
opuesto.to_csv('..\..\../data/2023-2024/opuesto.csv', index=False)

## Vamos a pasar todo a una base de datos!

In [13]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [14]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/proyecto_final')

In [15]:
dtype = {'id_jugador': Integer}
opuesto.to_sql('opuestos', engine, if_exists='append', index=False, dtype=dtype)

15