In [3]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import *

In [4]:
equipo = scraping_jornadas('https://www.rfevb.com/')

Scraping exitoso

In [5]:
equipo

        fecha   hora                                     enfrentamiento
0    07/10/23  18:30  Unicaja Costa de Almería 3 - 1 UPV Leleman Con...
1    07/10/23  19:00      Club Vóley Palma 2 - 3 Pamesa Teruel Voleibol
2    07/10/23  19:00              Volei Villena Petrer 0 - 3 CV Melilla
3    08/10/23  12:00                      CV San Roque 0 - 3 CV Guaguas
4    07/10/23  19:00         Cisneros Alter Tenerife 3 - 0 Arenal Emevé
..        ...    ...                                                ...
127  16/03/24  18:30  Cisneros Alter Tenerife 0 - 0 Conectabalear CV...
128  16/03/24  18:30                    CV San Roque 0 - 0 Arenal Emevé
129  16/03/24  19:30              Volei Villena Petrer 0 - 0 CV Guaguas
130  16/03/24  19:30                  Club Vóley Palma 0 - 0 CV Melilla
131  16/03/24  19:30  UPV Leleman Conqueridor 0 - 0 Pamesa Teruel Vo...

[132 rows x 3 columns]

In [6]:
equipo[['equipo_local', 'equipo_visitante']] = equipo['enfrentamiento'].str.split('-', n=4, expand=True).iloc[:, [0, -1]]
equipo['equipo_visitante'] = equipo['equipo_visitante'].apply(lambda x: ' '.join(x.split()[:]))

In [7]:
equipo

,fecha,hora,enfrentamiento,equipo_local,equipo_visitante
0,07/10/23,18:30,Unicaja Costa de Almería 3 - 1 UPV Leleman Con...,Unicaja Costa de Almería 3,1 UPV Leleman Conqueridor
1,07/10/23,19:00,Club Vóley Palma 2 - 3 Pamesa Teruel Voleibol,Club Vóley Palma 2,3 Pamesa Teruel Voleibol
2,07/10/23,19:00,Volei Villena Petrer 0 - 3 CV Melilla,Volei Villena Petrer 0,3 CV Melilla
3,08/10/23,12:00,CV San Roque 0 - 3 CV Guaguas,CV San Roque 0,3 CV Guaguas
4,07/10/23,19:00,Cisneros Alter Tenerife 3 - 0 Arenal Emevé,Cisneros Alter Tenerife 3,0 Arenal Emevé
...,...,...,...,...,...
127,16/03/24,18:30,Cisneros Alter Tenerife 0 - 0 Conectabalear CV...,Cisneros Alter Tenerife 0,0 Conectabalear CV Manacor
128,16/03/24,18:30,CV San Roque 0 - 0 Arenal Emevé,CV San Roque 0,0 Arenal Emevé
129,16/03/24,19:30,Volei Villena Petrer 0 - 0 CV Guaguas,Volei Villena Petrer 0,0 CV Guaguas
130,16/03/24,19:30,Club Vóley Palma 0 - 0 CV Melilla,Club Vóley Palma 0,0 CV Melilla
131,16/03/24,19:30,UPV Leleman Conqueridor 0 - 0 Pamesa Teruel Vo...,UPV Leleman Conqueridor 0,0 Pamesa Teruel Voleibol

In [8]:
def reemplazar_equipo(equipo, nombre_equipo, id_equipo):
    equipo.loc[equipo['equipo_local'].str.contains(nombre_equipo, case=False, na=False), 'equipo_local'] = id_equipo
    equipo.loc[equipo['equipo_visitante'].str.contains(nombre_equipo, case=False, na=False), 'equipo_visitante'] = id_equipo

    
reemplazar_equipo(equipo, 'Arenal Emevé', '1')
reemplazar_equipo(equipo, 'Alter Tenerife', '2')
reemplazar_equipo(equipo, 'Club Vóley Palma', '3')
reemplazar_equipo(equipo, 'manacor', '4')
reemplazar_equipo(equipo, 'CV Guaguas', '5')
reemplazar_equipo(equipo, 'CV Melilla', '6')
reemplazar_equipo(equipo, 'San Roque', '7')
reemplazar_equipo(equipo, 'Herce Soria', '8')
reemplazar_equipo(equipo, 'Pamesa Teruel Voleibol', '9')
reemplazar_equipo(equipo, 'Unicaja', '10')
reemplazar_equipo(equipo, 'Leleman Conqueridor', '11')
reemplazar_equipo(equipo, 'Volei Villena Petrer', '12')
    
equipo.rename(columns={'equipo_local': 'id_equipo_local'}, inplace=True)
equipo.rename(columns={'equipo_visitante': 'id_equipo_visitante'}, inplace=True)
equipo

,fecha,hora,enfrentamiento,id_equipo_local,id_equipo_visitante
0,07/10/23,18:30,Unicaja Costa de Almería 3 - 1 UPV Leleman Con...,10,11
1,07/10/23,19:00,Club Vóley Palma 2 - 3 Pamesa Teruel Voleibol,3,9
2,07/10/23,19:00,Volei Villena Petrer 0 - 3 CV Melilla,12,6
3,08/10/23,12:00,CV San Roque 0 - 3 CV Guaguas,7,5
4,07/10/23,19:00,Cisneros Alter Tenerife 3 - 0 Arenal Emevé,2,1
...,...,...,...,...,...
127,16/03/24,18:30,Cisneros Alter Tenerife 0 - 0 Conectabalear CV...,2,4
128,16/03/24,18:30,CV San Roque 0 - 0 Arenal Emevé,7,1
129,16/03/24,19:30,Volei Villena Petrer 0 - 0 CV Guaguas,12,5
130,16/03/24,19:30,Club Vóley Palma 0 - 0 CV Melilla,3,6
131,16/03/24,19:30,UPV Leleman Conqueridor 0 - 0 Pamesa Teruel Vo...,11,9

In [9]:
equipo.isnull().sum()

fecha                  0
hora                   0
enfrentamiento         0
id_equipo_local        0
id_equipo_visitante    0
dtype: int64

## Por precaución lo guardamos en CSV

In [ ]:
equipo.to_csv('..\..\data\jornadas.csv', index=False)

## Vamos a pasar todo a una base de datos!

In [10]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [11]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/proyecto_final')

In [12]:
dtype = {'id_equipo_local': Integer, 'id_equipo_visitante': Integer}
equipo.to_sql('Jornadas', engine, if_exists='append', index=False, dtype=dtype)

132