In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import *

In [2]:
resultado = scraping_libero('https://www.rfevb.com/')

Scraping exitoso

In [3]:
resultado = [resultado[i:i+13] for i in range(3, len(resultado), 13)]

libero = pd.DataFrame(resultado)

column_names = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Recepciones', 'Recepciones_exitosas',
                'Recepciones_fallidas', 'Recepciones_otro_jugador', 'Puntos_perdidos_recep',
                'Puntos_ganados_recep', 'Total_puntos_recep', 'Recep_Ranking', 12]

libero.columns = column_names
libero.drop(1, inplace=True, axis=1)
libero.drop(12, inplace=True, axis=1)
libero.drop(16, inplace=True)

In [4]:
libero.head()

,Nombre,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking
0,San Martín Rodríguez Alejandro,5,17,28,3,6,0,7,16,60,"0,4167"
1,Masia Porres Arnau,9,31,109,18,1,11,25,51,215,"0,3721"
2,Almansa Jorge,1,3,8,0,2,1,2,9,22,"0,3182"
3,Barrasa Portomeñe Samuel,5,10,22,3,0,1,16,16,58,"0,3103"
4,Piris Guiscafré Antoni,9,30,73,12,5,7,32,51,180,"0,3000"

In [5]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df

,#,Nombre,Posición,Altura,Año de nacimiento,Alcance en ataque,Alcance en bloqueo,id_jugador
0,2,Paradela Cortón Miguel,Líbero,-,2004,-,-,1
1,3,Bouza Ferreiro Víctor,Receptor,-,1990,-,-,2
2,4,Linares José Luis,Opuesto,-,1998,-,-,3
3,5,Barrasa Portomeñe Samuel,Líbero,-,2007,-,-,4
4,6,Edward Batalla Dexter,Colocador/a,-,2000,-,-,5
...,...,...,...,...,...,...,...,...
163,15,Marí Domene Álvaro,Middle-blocker,198,2002,333,315,164
164,17,Martínez Gómez Sergio,Opuesto,190,2002,329,309,165
165,20,Hernández Robeff Tomás Agustín,Receptor,190,1998,329,308,166
166,23,Jiménez Gallego Carlos,Receptor,193,1995,346,320,167
167,77,Fernández Rodríguez Francisco,Receptor,-,1996,-,-,168

In [6]:
liberos = pd.merge(libero, df[['Nombre', 'id_jugador']], on='Nombre', how='left')

liberos

,Nombre,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking,id_jugador
0,San Martín Rodríguez Alejandro,5,17,28,3,6,0,7,16,60,"0,4167",102
1,Masia Porres Arnau,9,31,109,18,1,11,25,51,215,"0,3721",71
2,Almansa Jorge,1,3,8,0,2,1,2,9,22,"0,3182",61
3,Barrasa Portomeñe Samuel,5,10,22,3,0,1,16,16,58,"0,3103",4
4,Piris Guiscafré Antoni,9,30,73,12,5,7,32,51,180,"0,3000",45
5,Piqueres Flor Nestor,9,32,92,8,17,18,41,69,245,"0,2694",160
6,Paradela Cortón Miguel,9,28,60,10,7,9,35,43,164,"0,2500",1
7,Dovale Fidalgo Mario,9,35,78,8,13,11,55,73,238,"0,2479",16
8,Osado Carrasco José,9,36,72,13,13,9,18,79,204,"0,2451",34
9,Gámiz Padilla Aharón,9,34,65,9,10,11,30,62,187,"0,2406",125
10,Larrañaga Ledo Unai,8,29,54,12,4,8,17,48,143,"0,2378",60
11,Fernández Martínez Francisco José,9,29,51,13,8,2,38,42,154,"0,2338",132
12,Gallardo Hernández Rodrigo,9,37,68,13,22,11,37,55,206,"0,2136",90
13,Aulisi Santiago Karim,4,18,25,10,17,3,11,28,94,"0,1277",105
14,Mengod Bautista Javier,8,30,39,13,31,9,41,51,184,"0,0924",152
15,Iborra Ballester Héctor,4,13,8,11,9,2,28,22,80,"-0,0625",150

## Por precaución lo guardamos en CSV

In [11]:
liberos.to_csv('..\..\data\jugadores\liberos.csv', index=False)

## Vamos a pasar todo a una base de datos!

In [7]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [8]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/proyecto_final')

In [9]:
dtype = {'id_jugador': Integer}
liberos.to_sql('liberos', engine, if_exists='append', index=False, dtype=dtype)

16