In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import *

In [4]:
opciones=Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--incognito')
opciones.add_argument('--start-maximized')

In [5]:
url = 'https://www.flashscore.es/voleibol/espana/superliga-masculina/clasificacion/#/WAQqTkUh/table/overall'
driver = webdriver.Chrome(options = opciones)
driver.get(url)

In [6]:
driver.find_element(By.XPATH, '//*[@id="onetrust-accept-btn-handler"]').click() # aceptamos cookies

In [8]:
clas = driver.find_element(By.CSS_SELECTOR, '#tournament-table-tabs-and-content').text.split('\n') # Extraemos los datos que necesitamos.

In [9]:
rows = [clas[i:i+13] for i in range(0, len(clas), 13)]
column_names = ['Posición', 'Equipo', 'PJ', 'G', 'P', 'S', 'PTS', 'Forma','f','f','f','f','f']
clasificacion = pd.DataFrame(rows[1:], columns=column_names)
clasificacion = clasificacion.iloc[:-1]
clasificacion = clasificacion.drop(['f','Forma','S'], axis=1)


clasificacion

   Posición                   Equipo PJ  G  P PTS
0        1.          Unicaja Almería  9  8  1  24
1        2.          Rio Duero Soria  9  8  1  24
2        3.                  Guaguas  9  8  1  23
3        4.               CV Melilla  9  6  3  17
4        5.           Cisneros Alter  9  5  4  16
5        6.                  Manacor  9  4  5  13
6        7.                CV Teruel  9  5  4  12
7        8.     Conqueridor Valencia  9  3  6  10
8        9.              Voley Palma  9  2  7   9
9       10.        San Roque - Batán  9  3  6   8
10      11.             Arenal Emevé  9  2  7   5
11      12.  Santo Domingo VB Petrer  9  0  9   1

In [10]:
clasificacion['Posición'] = clasificacion['Posición'].str.rstrip('.')
clasificacion['Posición'] = clasificacion['Posición'].astype(int)
clasificacion

    Posición                   Equipo PJ  G  P PTS
0          1          Unicaja Almería  9  8  1  24
1          2          Rio Duero Soria  9  8  1  24
2          3                  Guaguas  9  8  1  23
3          4               CV Melilla  9  6  3  17
4          5           Cisneros Alter  9  5  4  16
5          6                  Manacor  9  4  5  13
6          7                CV Teruel  9  5  4  12
7          8     Conqueridor Valencia  9  3  6  10
8          9              Voley Palma  9  2  7   9
9         10        San Roque - Batán  9  3  6   8
10        11             Arenal Emevé  9  2  7   5
11        12  Santo Domingo VB Petrer  9  0  9   1

In [13]:
df= pd.read_csv('../../../data/2023-2024/equipos.csv')
df

                     Nombre  id_equipo
0              Arenal Emevé          1
1            Cisneros Alter          2
2               Voley Palma          3
3                   Manacor          4
4                   Guaguas          5
5                CV Melilla          6
6         San Roque - Batán          7
7           Rio Duero Soria          8
8                 CV Teruel          9
9           Unicaja Almería         10
10     Conqueridor Valencia         11
11  Santo Domingo VB Petrer         12

In [14]:
clasificacion = pd.merge(clasificacion, df[['Nombre', 'id_equipo']], left_on='Equipo', right_on='Nombre', how='left')
clasificacion = clasificacion.drop(columns=['Nombre'])


clasificacion

    Posición                   Equipo PJ  G  P PTS  id_equipo
0          1          Unicaja Almería  9  8  1  24         10
1          2          Rio Duero Soria  9  8  1  24          8
2          3                  Guaguas  9  8  1  23          5
3          4               CV Melilla  9  6  3  17          6
4          5           Cisneros Alter  9  5  4  16          2
5          6                  Manacor  9  4  5  13          4
6          7                CV Teruel  9  5  4  12          9
7          8     Conqueridor Valencia  9  3  6  10         11
8          9              Voley Palma  9  2  7   9          3
9         10        San Roque - Batán  9  3  6   8          7
10        11             Arenal Emevé  9  2  7   5          1
11        12  Santo Domingo VB Petrer  9  0  9   1         12

## Por precaución lo guardamos en CSV

In [10]:
clasificacion.to_csv('..\..\Data\Clasificacion.csv', index=False)

## Vamos a pasar todo a una base de datos!

In [15]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [16]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/proyecto_final')

In [17]:
key = 'id_equipo'
dtype = {key: Integer}
clasificacion.to_sql('clasificacion', engine, if_exists='append', index=False, dtype=dtype)

12