In [8]:
import sys
sys.path.append("C:\ironhack\Proyecto_final") 
from src.funciones import *

In [9]:
resultado = scraping_colocador('https://www.rfevb.com/')

Scraping exitoso

In [10]:
resultado[15:30]

['2',
 'Cavanna Maximiliano',
 '(CV Guaguas)',
 '2',
 '4',
 '21',
 '0',
 '3',
 '3',
 '4',
 '3',
 '34',
 '0,4412',
 '3',
 'Bertassoni Paulo Renan']

In [11]:
resultado = [resultado[i:i+13] for i in range(3, len(resultado), 13)]

colocador = pd.DataFrame(resultado)

'''Cuidado con la modificación de columnas, drops y demas. puede cambiar.'''
    
column_names = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Acciones_exitosas', 'Errores_colocador',
                '_error_colocador', 'Puntos_negativos', 'Puntos_positivos',
                'Acciones_positivas', 'Total_acumulado', 'Efic_Ranking',2]

colocador.columns = column_names
colocador.drop(1, inplace=True, axis=1)
colocador.drop(2, inplace=True, axis=1)
colocador.drop(15, inplace=True)

In [12]:
colocador.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking
0,,1,1,5,0,2,1,0,0,8,"0,5000"
1,Cavanna Maximiliano,2,4,21,0,3,3,4,3,34,"0,4412"

In [13]:
colocador.drop(0, inplace=True)

In [14]:

convertir = colocador.columns.difference(['Nombre'])
colocador['Efic_Ranking'] = colocador['Efic_Ranking'].str.replace(',', '.').astype(float)
colocador[convertir] = colocador[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
colocador['temporada']='2023-2024'
colocador.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 1 to 14
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              14 non-null     object
 1   Partidos_jugados    14 non-null     int64
 2   Sets_jugados        14 non-null     int64
 3   Acciones_exitosas   14 non-null     int64
 4   Errores_colocador   14 non-null     int64
 5   _error_colocador    14 non-null     int64
 6   Puntos_negativos    14 non-null     int64
 7   Puntos_positivos    14 non-null     int64
 8   Acciones_positivas  14 non-null     int64
 9   Total_acumulado     14 non-null     int64
 10  Efic_Ranking        14 non-null     float64
 11  temporada           14 non-null     object
dtypes: float64(1), int64(9), object(2)
memory usage: 1.4+ KB

In [15]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_equipo,id_jugador,temporada
0,2,Paradela Cortón Miguel,Líbero,0,2004,0,0,1,1,2023-2024
1,3,Bouza Ferreiro Víctor,Receptor,0,1990,0,0,1,2,2023-2024
2,4,Linares José Luis,Opuesto,0,1998,0,0,1,3,2023-2024
3,5,Barrasa Portomeñe Samuel,Líbero,0,2007,0,0,1,4,2023-2024
4,6,Edward Batalla Dexter,Colocador/a,0,2000,0,0,1,5,2023-2024
...,...,...,...,...,...,...,...,...,...,...
163,15,Marí Domene Álvaro,Middle-blocker,198,2002,333,315,12,164,2023-2024
164,17,Martínez Gómez Sergio,Opuesto,190,2002,329,309,12,165,2023-2024
165,20,Hernández Robeff Tomás Agustín,Receptor,190,1998,329,308,12,166,2023-2024
166,23,Jiménez Gallego Carlos,Receptor,193,1995,346,320,12,167,2023-2024
167,77,Fernández Rodríguez Francisco,Receptor,0,1996,0,0,12,168,2023-2024

In [16]:
colocador = pd.merge(colocador, df[['Nombre', 'id_jugador']], on='Nombre', how='left')

colocador.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking,temporada,id_jugador
0,Cavanna Maximiliano,2,4,21,0,3,3,4,3,34,0.4412,2023-2024,65
1,Bertassoni Paulo Renan,9,29,166,2,13,39,19,15,254,0.4409,2023-2024,133

## Guardado en CSV.

In [17]:
colocador.to_csv('../../../data/2023-2024/colocador.csv', index=False)

## Base de datos.

In [18]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [19]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyball_database')

In [20]:
dtype = {'id_jugador': Integer}
colocador.to_sql('colocador', engine, if_exists='append', index=False, dtype=dtype)

14