In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import *

In [12]:
resultado = scraping_central('https://www.rfevb.com/')

Scraping exitoso

In [13]:
resultado[3:22]

['Romaní Leandro Gustavo',
 '(Conectabalear CV Manacor)',
 '8',
 '26',
 '17',
 '5',
 '1',
 '25',
 '11',
 '14',
 '5',
 '89',
 '71',
 '15',
 '7',
 '131',
 '2,1923',
 '2',
 'Da Cruz Neto Walter']

In [14]:
resultado = [resultado[i:i+18] for i in range(3, len(resultado), 18)]

central = pd.DataFrame(resultado)

'''Cuidado con la modificación de columnas, drops y demas. puede cambiar.'''

    
column_names = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque',
                'Errores_Saque', 'Porcentaje_error', 'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error',
                'Total_ataques','Ataque_Ranking',2]


central.columns = column_names
central.drop(1, inplace=True, axis=1)
central.drop(2, inplace=True, axis=1)
central.drop(11, inplace=True)

In [16]:
central.head()

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Romaní Leandro Gustavo,8,26,17,5,1,25,11,14,5,89,71,15,7,131,"2,1923"
1,Da Cruz Neto Walter,5,19,15,3,0,18,0,7,2,68,38,1,8,67,"1,7895"
2,Macarro Tortajada Daniel,9,35,20,9,0,41,6,21,4,137,77,9,5,121,"1,6857"
3,Méndez Jiménez Víctor,9,34,30,18,0,62,0,10,4,123,63,6,7,119,"1,5294"
4,Dos Santos Cezar Moises,9,38,31,24,0,66,1,15,2,85,77,10,9,132,"1,3421"

In [17]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df

,#,Nombre,Posición,Altura,Año de nacimiento,Alcance en ataque,Alcance en bloqueo,id_jugador
0,2,Paradela Cortón Miguel,Líbero,-,2004,-,-,1
1,3,Bouza Ferreiro Víctor,Receptor,-,1990,-,-,2
2,4,Linares José Luis,Opuesto,-,1998,-,-,3
3,5,Barrasa Portomeñe Samuel,Líbero,-,2007,-,-,4
4,6,Edward Batalla Dexter,Colocador/a,-,2000,-,-,5
...,...,...,...,...,...,...,...,...
163,15,Marí Domene Álvaro,Middle-blocker,198,2002,333,315,164
164,17,Martínez Gómez Sergio,Opuesto,190,2002,329,309,165
165,20,Hernández Robeff Tomás Agustín,Receptor,190,1998,329,308,166
166,23,Jiménez Gallego Carlos,Receptor,193,1995,346,320,167
167,77,Fernández Rodríguez Francisco,Receptor,-,1996,-,-,168

In [18]:
central = pd.merge(central, df[['Nombre', 'id_jugador']], on='Nombre', how='left')

central

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador
0,Romaní Leandro Gustavo,8,26,17,5,1,25,11,14,5,89,71,15,7,131,"2,1923",48
1,Da Cruz Neto Walter,5,19,15,3,0,18,0,7,2,68,38,1,8,67,"1,7895",154
2,Macarro Tortajada Daniel,9,35,20,9,0,41,6,21,4,137,77,9,5,121,"1,6857",21
3,Méndez Jiménez Víctor,9,34,30,18,0,62,0,10,4,123,63,6,7,119,"1,5294",117
4,Dos Santos Cezar Moises,9,38,31,24,0,66,1,15,2,85,77,10,9,132,"1,3421",86
5,Seybering David,8,34,13,20,0,50,8,15,3,106,71,5,7,119,"1,3235",28
6,Flores Fabian Emanuel,9,35,26,39,0,116,1,9,2,110,75,5,6,108,"1,2286",98
7,Saxton Vigrass Graham,3,7,4,2,0,14,0,2,1,19,12,3,1,21,"1,1429",56
8,Ruiz Mira Borja,9,29,8,25,0,56,6,22,8,107,66,5,5,102,"0,7931",139
9,Téllez Rodríguez Axel,6,18,12,19,1,44,2,14,1,61,31,8,3,54,"0,0000",120
10,Allen Serrano Luis Vidal,9,23,8,28,0,49,1,8,0,52,38,5,9,73,"-0,1304",144

## Por precaución lo guardamos en CSV

In [24]:
central.to_csv('..\..\data\jugadores\central.csv', index=False)

## Vamos a pasar todo a una base de datos!

In [20]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [21]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/proyecto_final')

In [22]:
dtype = {'id_jugador': Integer}
central.to_sql('centrales', engine, if_exists='append', index=False, dtype=dtype)

11