In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=124&PID=152'
parametro = 'estadistica_jugador'
datos=scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [3]:
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque',
                'Errores_Saque', 'Porcentaje_error', 'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error','Total_ataques','Ataque_Ranking',17]

parametro= 'estadistica_receptor'
receptor= crear_df(datos[2],columna,parametro)
receptor.drop([1,17], inplace=True, axis=1)
receptor.head(1)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Conde Barrios Lucas,9,35,7,4,0,13,5,31,8,118,125,14,18,245,"2,0000"

In [4]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df.head()

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,2,Paradela Cortón Miguel,Líbero,0.0,2004,0.0,0.0,1-2023-2024,2023-2024,1-2023-2024
1,3,Bouza Ferreiro Víctor,Receptor,0.0,1990,0.0,0.0,2-2023-2024,2023-2024,1-2023-2024
2,4,Linares José Luis,Opuesto,0.0,1998,0.0,0.0,3-2023-2024,2023-2024,1-2023-2024
3,5,Barrasa Portomeñe Samuel,Líbero,0.0,2007,0.0,0.0,4-2023-2024,2023-2024,1-2023-2024
4,6,Edward Batalla Dexter,Colocador/a,0.0,2000,0.0,0.0,5-2023-2024,2023-2024,1-2023-2024

In [5]:
receptor = pd.merge(receptor, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
convertir = receptor.columns.difference(['Nombre', 'id_jugador','id_equipo'])
receptor['Ataque_Ranking'] = receptor['Ataque_Ranking'].str.replace(',', '.').astype(float)
receptor[convertir] = receptor[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
receptor['temporada']='2023-2024'
receptor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            26 non-null     object
 1   Partidos_jugados  26 non-null     int64
 2   Sets_jugados      26 non-null     int64
 3   Bloqueos          26 non-null     int64
 4   Bloqueo_exitoso   26 non-null     int64
 5   Bloqueo_fallido   26 non-null     int64
 6   Total_bloqueos    26 non-null     int64
 7   Saque             26 non-null     int64
 8   Errores_Saque     26 non-null     int64
 9   Porcentaje_error  26 non-null     int64
 10  Total_saques      26 non-null     int64
 11  Ataque_exitoso    26 non-null     int64
 12  Errores_ataque    26 non-null     int64
 13  Porc_error        26 non-null     int64
 14  Total_ataques     26 non-null     int64
 15  Ataque_Ranking    26 non-null     float64
 16  id_jugador        26 non-null     object
 17  id_equipo         26 non-null     object
 18  temporada         26 non-null     object
dtypes: float64(1), int64(14), object(4)
memory usage: 4.0+ KB

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,id_equipo,temporada
0,Conde Barrios Lucas,9,35,7,4,0,13,5,31,8,118,125,14,18,245,2.0,14-2023-2024,2-2023-2024,2023-2024

In [2]:
normalizar('../../../data/2023-2024/receptor.csv')

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,id_equipo,temporada
0,Conde Barrios Lucas,9,35,7,4,0,13,5,31,8,118,125,14,18,245,2.0000,14-2023-2024,2-2023-2024,2023-2024
1,Calvo Leandro Omar,9,31,9,8,1,22,8,13,2,90,98,16,16,225,1.9677,47-2023-2024,4-2023-2024,2023-2024
2,Zonca Paolo,9,32,13,5,0,30,21,25,10,143,79,12,9,172,1.9375,64-2023-2024,5-2023-2024,2023-2024
3,Rodriguez Perez Victor,9,29,21,16,0,52,11,23,8,122,79,11,11,159,1.7241,130-2023-2024,10-2023-2024,2023-2024
4,Schulz Max,9,33,14,3,0,24,9,36,6,107,122,26,24,260,1.6970,6-2023-2024,1-2023-2024,2023-2024
5,Liu Coltyn Go Yuen,9,30,4,11,0,18,11,29,7,118,94,10,17,186,1.4000,44-2023-2024,4-2023-2024,2023-2024
6,Bruno Lopez Nicolas,9,30,2,11,0,26,9,20,7,119,79,11,11,161,1.2333,54-2023-2024,5-2023-2024,2023-2024
7,Giustiniano Mariano Ariel,9,30,3,7,0,17,10,23,4,123,74,10,11,159,1.2000,79-2023-2024,6-2023-2024,2023-2024
8,Vanole Nogueira Silva Thiago,8,25,8,8,0,23,10,18,5,80,55,8,12,116,1.0800,68-2023-2024,6-2023-2024,2023-2024
9,Nieves Suarez Carlos,8,28,1,10,0,16,8,9,1,70,57,8,10,114,1.0357,140-2023-2024,11-2023-2024,2023-2024
10,Villalba Zamorano Jose,9,35,15,17,1,44,10,34,9,154,77,9,8,180,0.9429,101-2023-2024,8-2023-2024,2023-2024
11,Funes Facundo Jesus,9,34,7,9,0,31,5,9,2,88,54,7,13,116,0.8235,142-2023-2024,11-2023-2024,2023-2024
12,Monfort Minaya Javier,9,33,5,21,0,46,10,23,3,118,100,28,16,246,0.8182,143-2023-2024,11-2023-2024,2023-2024
13,Ferrandez Moles Emilio,9,29,9,10,1,29,2,15,5,88,65,14,15,153,0.7241,119-2023-2024,9-2023-2024,2023-2024
14,Cairus Renzo,9,37,8,9,0,24,4,17,8,122,83,28,16,222,0.6757,37-2023-2024,3-2023-2024,2023-2024
15,Hernandez Robeff Tomas Agustin,9,30,2,7,0,18,3,16,2,121,76,23,15,195,0.6667,166-2023-2024,12-2023-2024,2023-2024
16,Ruiz Garrido Francisco Jose,9,29,7,15,0,34,13,17,6,119,47,7,11,98,0.5862,136-2023-2024,10-2023-2024,2023-2024
17,Zelayeta Mauro Rafael,6,21,5,3,0,13,8,21,6,67,37,7,8,84,0.5238,121-2023-2024,9-2023-2024,2023-2024
18,Gimenez Hernandez Jose Maria,9,37,4,14,0,23,5,17,5,132,73,12,22,185,0.4595,36-2023-2024,3-2023-2024,2023-2024
19,Alves Ramos Vitor,5,8,1,2,0,3,2,4,2,23,15,1,8,37,0.3750,42-2023-2024,4-2023-2024,2023-2024
20,Olalla Gomez Adrian,9,33,5,20,0,33,4,28,5,105,87,19,18,204,0.3333,99-2023-2024,8-2023-2024,2023-2024
21,Del Carmen Barbara Gabriel,9,35,6,5,0,11,8,37,6,134,72,19,15,168,0.2857,26-2023-2024,2-2023-2024,2023-2024
22,Fernandez Rodriguez Francisco,5,15,1,2,0,3,1,13,1,53,37,7,13,94,0.2667,168-2023-2024,12-2023-2024,2023-2024
23,Melgarejo Brian Efren,7,18,4,13,0,19,3,14,2,59,41,10,9,117,0.1111,69-2023-2024,6-2023-2024,2023-2024
24,Vildosola Mariano,8,29,5,13,2,32,2,13,1,91,39,5,14,119,-0.0345,126-2023-2024,9-2023-2024,2023-2024
25,Bouza Ferreiro Victor,8,29,4,6,0,10,0,18,4,101,53,17,23,164,-0.2414,2-2023-2024,1-2023-2024,2023-2024

## Guardado en CSV.

In [4]:
receptor.to_csv('../../../data/2023-2024/receptor.csv', index=False)

## Base de datos.

In [5]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [6]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [7]:
dtype = {'id_jugador': Integer}
receptor.to_sql('receptor', engine, if_exists='append', index=False, dtype=dtype)

26