In [2]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=124&PID=152'
parametro = 'estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [4]:
    
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Acciones_exitosas', 'Errores_colocador',
                '_error_colocador', 'Puntos_negativos', 'Puntos_positivos',
                'Acciones_positivas', 'Total_acumulado', 'Efic_Ranking',2]

parametro= 'estadistica_colocador'
colocador = crear_df(datos[5],columna,parametro)
colocador.drop([1,2], inplace=True, axis=1)
colocador.reset_index(inplace=True)
colocador.head(2)

,index,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking
0,0,,1,1,5,0,2,1,0,0,8,"0,5000"
1,1,Cavanna Maximiliano,2,4,21,0,3,3,4,3,34,"0,4412"

In [10]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,2,Paradela Cortón Miguel,Líbero,0.0,2004,0.0,0.0,1-2023-2024,2023-2024,1-2023-2024
1,3,Bouza Ferreiro Víctor,Receptor,0.0,1990,0.0,0.0,2-2023-2024,2023-2024,1-2023-2024

In [11]:
colocador = pd.merge(colocador, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
colocador['temporada']='2022-2023'
colocador.drop(['index'], axis=1, inplace=True)
colocador.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking,id_jugador,id_equipo,temporada
0,,1,1,5,0,2,1,0,0,8,"0,5000",NaN,NaN,2022-2023
1,Cavanna Maximiliano,2,4,21,0,3,3,4,3,34,"0,4412",65-2023-2024,5-2023-2024,2022-2023

In [12]:
colocador.drop(0, inplace=True)

In [14]:

convertir = colocador.columns.difference(['Nombre'])
colocador['Efic_Ranking'] = colocador['Efic_Ranking'].str.replace(',', '.').astype(float)
colocador[convertir] = colocador[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
colocador['temporada']='2023-2024'
colocador.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 1 to 14
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              14 non-null     object
 1   Partidos_jugados    14 non-null     int64
 2   Sets_jugados        14 non-null     int64
 3   Acciones_exitosas   14 non-null     int64
 4   Errores_colocador   14 non-null     int64
 5   _error_colocador    14 non-null     int64
 6   Puntos_negativos    14 non-null     int64
 7   Puntos_positivos    14 non-null     int64
 8   Acciones_positivas  14 non-null     int64
 9   Total_acumulado     14 non-null     int64
 10  Efic_Ranking        14 non-null     float64
 11  id_jugador          14 non-null     object
 12  id_equipo           14 non-null     object
 13  temporada           14 non-null     object
dtypes: float64(1), int64(9), object(4)
memory usage: 1.7+ KB

In [3]:
normalizar('../../../data/2023-2024/colocador.csv')

,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking,id_jugador,id_equipo,temporada
0,Cavanna Maximiliano,2,4,21,0,3,3,4,3,34,0.4412,65-2023-2024,5-2023-2024,2023-2024
1,Bertassoni Paulo Renan,9,29,166,2,13,39,19,15,254,0.4409,133-2023-2024,10-2023-2024,2023-2024
2,Riganti Juan Martin,9,31,199,0,25,46,63,19,352,0.3807,80-2023-2024,6-2023-2024,2023-2024
3,Roberts Ignacio,8,32,216,2,26,45,32,37,358,0.3743,23-2023-2024,2-2023-2024,2023-2024
4,Lorente Lopez Lucas,7,26,153,4,17,47,36,10,267,0.3596,97-2023-2024,8-2023-2024,2023-2024
5,Martin Perez Cesar,8,27,158,4,30,50,30,24,296,0.2838,51-2023-2024,4-2023-2024,2023-2024
6,Arjones Ferreiros Jaime,7,28,161,3,24,38,74,30,330,0.2818,39-2023-2024,3-2023-2024,2023-2024
7,Loeches Buitrago Guillermo,8,34,187,2,20,67,31,27,334,0.2784,88-2023-2024,6-2023-2024,2023-2024
8,Lorente Camacho Ruben,9,31,153,6,27,47,32,26,291,0.2749,116-2023-2024,9-2023-2024,2023-2024
9,Pont Perello Guillem,7,15,51,0,6,22,13,4,96,0.2604,122-2023-2024,9-2023-2024,2023-2024
10,de Amo Miguel Angel,9,31,157,0,15,62,30,22,286,0.2552,59-2023-2024,5-2023-2024,2023-2024
11,Monfort Minaya Vicente,9,36,155,1,24,55,35,26,296,0.2500,147-2023-2024,11-2023-2024,2023-2024
12,Garcia Borras Hector,9,32,186,5,40,75,58,24,388,0.2242,156-2023-2024,12-2023-2024,2023-2024
13,Edward Batalla Dexter,8,30,176,0,39,64,44,36,359,0.2117,5-2023-2024,1-2023-2024,2023-2024

## Guardado en CSV.

In [4]:
colocador.to_csv('../../../data/2023-2024/colocador.csv', index=False)

## Base de datos.

In [5]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [6]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [7]:
dtype = {'id_jugador': Integer}
colocador.to_sql('colocador', engine, if_exists='append', index=False)

14