In [1]:
import sys
sys.path.append("../../../") 
import src.funciones

In [2]:
resultado = scraping_receptor('https://www.rfevb.com/')

Scraping exitoso

In [3]:
resultado[0:15]

['Jugador Jugados Bloqueo Saque Ataque Ranking',
 '    P S # = / Tot # = / Tot # = / Tot Active Score Index',
 '1',
 'Conde Barrios Lucas',
 '(Cisneros Alter)',
 '9',
 '35',
 '7',
 '4',
 '0',
 '13',
 '5',
 '31',
 '8',
 '118']

In [4]:
resultado = [resultado[i:i+18] for i in range(3, len(resultado), 18)]

receptor = pd.DataFrame(resultado)

'''Cuidado con la modificación de columnas, drops y demas. puede cambiar.'''

    
column_names = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque',
                'Errores_Saque', 'Porcentaje_error', 'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error','Total_ataques','Ataque_Ranking',17]

receptor.columns = column_names
receptor.drop(1, inplace=True, axis=1)
receptor.drop(17, inplace=True, axis=1)
receptor.drop(26, inplace=True)

In [5]:
receptor

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Conde Barrios Lucas,9,35,7,4,0,13,5,31,8,118,125,14,18,245,"2,0000"
1,Calvo Leandro Omar,9,31,9,8,1,22,8,13,2,90,98,16,16,225,"1,9677"
2,Zonca Paolo,9,32,13,5,0,30,21,25,10,143,79,12,9,172,"1,9375"
3,Rodríguez Pérez Víctor,9,29,21,16,0,52,11,23,8,122,79,11,11,159,"1,7241"
4,Schulz Max,9,33,14,3,0,24,9,36,6,107,122,26,24,260,"1,6970"
5,Liu Coltyn Go Yuen,9,30,4,11,0,18,11,29,7,118,94,10,17,186,"1,4000"
6,Bruno López Nicolás,9,30,2,11,0,26,9,20,7,119,79,11,11,161,"1,2333"
7,Giustiniano Mariano Ariel,9,30,3,7,0,17,10,23,4,123,74,10,11,159,"1,2000"
8,Vanole Nogueira Silva Thiago,8,25,8,8,0,23,10,18,5,80,55,8,12,116,"1,0800"
9,Nieves Suárez Carlos,8,28,1,10,0,16,8,9,1,70,57,8,10,114,"1,0357"
10,Villalba Zamorano José,9,35,15,17,1,44,10,34,9,154,77,9,8,180,"0,9429"
11,Funes Facundo Jesús,9,34,7,9,0,31,5,9,2,88,54,7,13,116,"0,8235"
12,Monfort Minaya Javier,9,33,5,21,0,46,10,23,3,118,100,28,16,246,"0,8182"
13,Ferrández Moles Emilio,9,29,9,10,1,29,2,15,5,88,65,14,15,153,"0,7241"
14,Cairus Renzo,9,37,8,9,0,24,4,17,8,122,83,28,16,222,"0,6757"
15,Hernández Robeff Tomás Agustín,9,30,2,7,0,18,3,16,2,121,76,23,15,195,"0,6667"
16,Ruiz Garrido Francisco José,9,29,7,15,0,34,13,17,6,119,47,7,11,98,"0,5862"
17,Zelayeta Mauro Rafael,6,21,5,3,0,13,8,21,6,67,37,7,8,84,"0,5238"
18,Giménez Hernández José María,9,37,4,14,0,23,5,17,5,132,73,12,22,185,"0,4595"
19,Alves Ramos Vitor,5,8,1,2,0,3,2,4,2,23,15,1,8,37,"0,3750"
20,Olalla Gómez Adrián,9,33,5,20,0,33,4,28,5,105,87,19,18,204,"0,3333"
21,Del Carmen Barbara Gabriel,9,35,6,5,0,11,8,37,6,134,72,19,15,168,"0,2857"
22,Fernández Rodríguez Francisco,5,15,1,2,0,3,1,13,1,53,37,7,13,94,"0,2667"
23,Melgarejo Brian Efren,7,18,4,13,0,19,3,14,2,59,41,10,9,117,"0,1111"
24,Vildosola Mariano,8,29,5,13,2,32,2,13,1,91,39,5,14,119,"-0,0345"
25,Bouza Ferreiro Víctor,8,29,4,6,0,10,0,18,4,101,53,17,23,164,"-0,2414"

In [6]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df

,Dorsal,Nombre,Posición,Altura,Año de nacimiento,Alcance en ataque,Alcance en bloqueo,id_equipo,id_jugador
0,2,Paradela Cortón Miguel,Líbero,0,2004,0,0,1,1
1,3,Bouza Ferreiro Víctor,Receptor,0,1990,0,0,1,2
2,4,Linares José Luis,Opuesto,0,1998,0,0,1,3
3,5,Barrasa Portomeñe Samuel,Líbero,0,2007,0,0,1,4
4,6,Edward Batalla Dexter,Colocador/a,0,2000,0,0,1,5
...,...,...,...,...,...,...,...,...,...
163,15,Marí Domene Álvaro,Middle-blocker,198,2002,333,315,12,164
164,17,Martínez Gómez Sergio,Opuesto,190,2002,329,309,12,165
165,20,Hernández Robeff Tomás Agustín,Receptor,190,1998,329,308,12,166
166,23,Jiménez Gallego Carlos,Receptor,193,1995,346,320,12,167
167,77,Fernández Rodríguez Francisco,Receptor,0,1996,0,0,12,168

In [7]:
receptor = pd.merge(receptor, df[['Nombre', 'id_jugador']], on='Nombre', how='left')

receptor.head()

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador
0,Conde Barrios Lucas,9,35,7,4,0,13,5,31,8,118,125,14,18,245,"2,0000",14
1,Calvo Leandro Omar,9,31,9,8,1,22,8,13,2,90,98,16,16,225,"1,9677",47
2,Zonca Paolo,9,32,13,5,0,30,21,25,10,143,79,12,9,172,"1,9375",64
3,Rodríguez Pérez Víctor,9,29,21,16,0,52,11,23,8,122,79,11,11,159,"1,7241",130
4,Schulz Max,9,33,14,3,0,24,9,36,6,107,122,26,24,260,"1,6970",6

In [8]:

convertir = receptor.columns.difference(['Nombre'])
receptor['Ataque_Ranking'] = receptor['Ataque_Ranking'].str.replace(',', '.').astype(float)
receptor[convertir] = receptor[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
receptor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            26 non-null     object
 1   Partidos_jugados  26 non-null     int64
 2   Sets_jugados      26 non-null     int64
 3   Bloqueos          26 non-null     int64
 4   Bloqueo_exitoso   26 non-null     int64
 5   Bloqueo_fallido   26 non-null     int64
 6   Total_bloqueos    26 non-null     int64
 7   Saque             26 non-null     int64
 8   Errores_Saque     26 non-null     int64
 9   Porcentaje_error  26 non-null     int64
 10  Total_saques      26 non-null     int64
 11  Ataque_exitoso    26 non-null     int64
 12  Errores_ataque    26 non-null     int64
 13  Porc_error        26 non-null     int64
 14  Total_ataques     26 non-null     int64
 15  Ataque_Ranking    26 non-null     float64
 16  id_jugador        26 non-null     int64
dtypes: float64(1), int64(15), object(1)
memory usage: 3.6+ KB

In [9]:
receptor.head()

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador
0,Conde Barrios Lucas,9,35,7,4,0,13,5,31,8,118,125,14,18,245,2.0000,14
1,Calvo Leandro Omar,9,31,9,8,1,22,8,13,2,90,98,16,16,225,1.9677,47
2,Zonca Paolo,9,32,13,5,0,30,21,25,10,143,79,12,9,172,1.9375,64
3,Rodríguez Pérez Víctor,9,29,21,16,0,52,11,23,8,122,79,11,11,159,1.7241,130
4,Schulz Max,9,33,14,3,0,24,9,36,6,107,122,26,24,260,1.6970,6

## Guardado en CSV.

In [30]:
receptor.to_csv('../../../data/2023-2024/receptor.csv', index=False)

## Base de datos.

In [10]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [11]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyball_database')

In [13]:
dtype = {'id_jugador': Integer}
receptor.to_sql('receptor', engine, if_exists='append', index=False, dtype=dtype)

26