In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [8]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=124&PID=152'
parametro='estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [9]:
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Recepciones', 'Recepciones_exitosas',
                'Recepciones_fallidas', 'Recepciones_otro_jugador', 'Puntos_perdidos_recep',
                'Puntos_ganados_recep', 'Total_puntos_recep', 'Recep_Ranking', 12]

parametro= 'estadistica_libero'

libero = crear_df(datos[1],columna,parametro)
libero.drop([1,12], inplace=True, axis=1)
libero.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking
0,San Martín Rodríguez Alejandro,5,17,28,3,6,0,7,16,60,"0,4167"
1,Masia Porres Arnau,9,31,109,18,1,11,25,51,215,"0,3721"

In [10]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,2,Paradela Cortón Miguel,Líbero,0.0,2004,0.0,0.0,1-2023-2024,2023-2024,1-2023-2024
1,3,Bouza Ferreiro Víctor,Receptor,0.0,1990,0.0,0.0,2-2023-2024,2023-2024,1-2023-2024

In [11]:
liberos = pd.merge(libero, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
liberos['temporada'] = '2023-2024'
convertir = liberos.columns.difference(['Nombre','id_jugador','temporada','id_equipo'])
liberos['Recep_Ranking'] = liberos['Recep_Ranking'].str.replace(',', '.').astype(float)
liberos[convertir] = liberos[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
liberos.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking,id_jugador,id_equipo,temporada
0,San Martín Rodríguez Alejandro,5,17,28,3,6,0,7,16,60,0.4167,102-2023-2024,8-2023-2024,2023-2024
1,Masia Porres Arnau,9,31,109,18,1,11,25,51,215,0.3721,71-2023-2024,6-2023-2024,2023-2024

In [13]:
libero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nombre                    16 non-null     object
 1   Partidos_jugados          16 non-null     object
 2   Sets_jugados              16 non-null     object
 3   Recepciones               16 non-null     object
 4   Recepciones_exitosas      16 non-null     object
 5   Recepciones_fallidas      16 non-null     object
 6   Recepciones_otro_jugador  16 non-null     object
 7   Puntos_perdidos_recep     16 non-null     object
 8   Puntos_ganados_recep      16 non-null     object
 9   Total_puntos_recep        16 non-null     object
 10  Recep_Ranking             16 non-null     object
dtypes: object(11)
memory usage: 1.5+ KB

In [2]:
normalizar('../../../data/2023-2024/liberos.csv')

,Nombre,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking,id_jugador,id_equipo,temporada
0,San Martin Rodriguez Alejandro,5,17,28,3,6,0,7,16,60,0.4167,102-2023-2024,8-2023-2024,2023-2024
1,Masia Porres Arnau,9,31,109,18,1,11,25,51,215,0.3721,71-2023-2024,6-2023-2024,2023-2024
2,Almansa Jorge,1,3,8,0,2,1,2,9,22,0.3182,61-2023-2024,5-2023-2024,2023-2024
3,Barrasa Portomene Samuel,5,10,22,3,0,1,16,16,58,0.3103,4-2023-2024,1-2023-2024,2023-2024
4,Piris Guiscafre Antoni,9,30,73,12,5,7,32,51,180,0.3000,45-2023-2024,4-2023-2024,2023-2024
5,Piqueres Flor Nestor,9,32,92,8,17,18,41,69,245,0.2694,160-2023-2024,12-2023-2024,2023-2024
6,Paradela Corton Miguel,9,28,60,10,7,9,35,43,164,0.2500,1-2023-2024,1-2023-2024,2023-2024
7,Dovale Fidalgo Mario,9,35,78,8,13,11,55,73,238,0.2479,16-2023-2024,2-2023-2024,2023-2024
8,Osado Carrasco Jose,9,36,72,13,13,9,18,79,204,0.2451,34-2023-2024,3-2023-2024,2023-2024
9,Gamiz Padilla Aharon,9,34,65,9,10,11,30,62,187,0.2406,125-2023-2024,9-2023-2024,2023-2024
10,Larranaga Ledo Unai,8,29,54,12,4,8,17,48,143,0.2378,60-2023-2024,5-2023-2024,2023-2024
11,Fernandez Martinez Francisco Jose,9,29,51,13,8,2,38,42,154,0.2338,132-2023-2024,10-2023-2024,2023-2024
12,Gallardo Hernandez Rodrigo,9,37,68,13,22,11,37,55,206,0.2136,90-2023-2024,7-2023-2024,2023-2024
13,Aulisi Santiago Karim,4,18,25,10,17,3,11,28,94,0.1277,105-2023-2024,8-2023-2024,2023-2024
14,Mengod Bautista Javier,8,30,39,13,31,9,41,51,184,0.0924,152-2023-2024,11-2023-2024,2023-2024
15,Iborra Ballester Hector,4,13,8,11,9,2,28,22,80,-0.0625,150-2023-2024,11-2023-2024,2023-2024

## Guardado en CSV.

In [6]:
libero.to_csv('../../../data/2023-2024/liberos.csv', index=False)

## Base de datos.

In [7]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [8]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [10]:
dtype = {'id_jugador': Integer}
libero.to_sql('libero', engine, if_exists='append', index=False)

16