In [2]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import *

In [3]:
resultado = scraping_receptor('https://www.rfevb.com/')

Scraping exitoso

In [4]:
resultado[0:15]

['Jugador Jugados Bloqueo Saque Ataque Ranking',
 '    P S # = / Tot # = / Tot # = / Tot Active Score Index',
 '1',
 'Conde Barrios Lucas',
 '(Cisneros Alter)',
 '9',
 '35',
 '7',
 '4',
 '0',
 '13',
 '5',
 '31',
 '8',
 '118']

In [5]:
resultado = [resultado[i:i+18] for i in range(3, len(resultado), 18)]

receptor = pd.DataFrame(resultado)

'''Cuidado con la modificación de columnas, drops y demas. puede cambiar.'''

    
column_names = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque',
                'Errores_Saque', 'Porcentaje_error', 'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error','Total_ataques','Ataque_Ranking',17]

receptor.columns = column_names
receptor.drop(1, inplace=True, axis=1)
receptor.drop(17, inplace=True, axis=1)
receptor.drop(26, inplace=True)

In [7]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df.head()

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_equipo,id_jugador,temporada
0,2,Paradela Cortón Miguel,Líbero,0,2004,0,0,1,1,2023-2024
1,3,Bouza Ferreiro Víctor,Receptor,0,1990,0,0,1,2,2023-2024
2,4,Linares José Luis,Opuesto,0,1998,0,0,1,3,2023-2024
3,5,Barrasa Portomeñe Samuel,Líbero,0,2007,0,0,1,4,2023-2024
4,6,Edward Batalla Dexter,Colocador/a,0,2000,0,0,1,5,2023-2024

In [8]:
receptor = pd.merge(receptor, df[['Nombre', 'id_jugador']], on='Nombre', how='left')

receptor.head()

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador
0,Conde Barrios Lucas,9,35,7,4,0,13,5,31,8,118,125,14,18,245,"2,0000",14
1,Calvo Leandro Omar,9,31,9,8,1,22,8,13,2,90,98,16,16,225,"1,9677",47
2,Zonca Paolo,9,32,13,5,0,30,21,25,10,143,79,12,9,172,"1,9375",64
3,Rodríguez Pérez Víctor,9,29,21,16,0,52,11,23,8,122,79,11,11,159,"1,7241",130
4,Schulz Max,9,33,14,3,0,24,9,36,6,107,122,26,24,260,"1,6970",6

In [9]:

convertir = receptor.columns.difference(['Nombre'])
receptor['Ataque_Ranking'] = receptor['Ataque_Ranking'].str.replace(',', '.').astype(float)
receptor[convertir] = receptor[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
receptor['temporada']='2023-2024'
receptor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            26 non-null     object
 1   Partidos_jugados  26 non-null     int64
 2   Sets_jugados      26 non-null     int64
 3   Bloqueos          26 non-null     int64
 4   Bloqueo_exitoso   26 non-null     int64
 5   Bloqueo_fallido   26 non-null     int64
 6   Total_bloqueos    26 non-null     int64
 7   Saque             26 non-null     int64
 8   Errores_Saque     26 non-null     int64
 9   Porcentaje_error  26 non-null     int64
 10  Total_saques      26 non-null     int64
 11  Ataque_exitoso    26 non-null     int64
 12  Errores_ataque    26 non-null     int64
 13  Porc_error        26 non-null     int64
 14  Total_ataques     26 non-null     int64
 15  Ataque_Ranking    26 non-null     float64
 16  id_jugador        26 non-null     int64
 17  temporada         26 non-null     object
dtypes: float64(1), int64(15), object(2)
memory usage: 3.8+ KB

## Guardado en CSV.

In [10]:
receptor.to_csv('../../../data/2023-2024/receptor.csv', index=False)

## Base de datos.

In [12]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [13]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyball_database')

In [14]:
dtype = {'id_jugador': Integer}
receptor.to_sql('receptor', engine, if_exists='append', index=False, dtype=dtype)

26