In [1]:

import sys
sys.path.append("C:\ironhack\Proyecto_final") 
from src.funciones import *

In [2]:
equipo22 = pd.read_csv('../data/2022-2023/equipo.csv')
equipo23 = pd.read_csv('../data/2023-2024/Equipos.csv')

In [3]:
equipo23.columns= ['Equipo', 'id_equipo']
equipo23

                     Equipo  id_equipo
0              Arenal Emevé          1
1            Cisneros Alter          2
2               Voley Palma          3
3                   Manacor          4
4                   Guaguas          5
5                CV Melilla          6
6         San Roque - Batán          7
7           Rio Duero Soria          8
8                 CV Teruel          9
9           Unicaja Almería         10
10     Conqueridor Valencia         11
11  Santo Domingo VB Petrer         12

In [8]:
df_concatenado = pd.concat([equipo23, equipo22], ignore_index=True)
ar = df_concatenado.Equipo.unique()
df = pd.DataFrame(ar)
df['NuevaColumna'] = df.index + 1

In [9]:
df.columns = ['Equipo', 'id_equipo']

In [10]:
df

                       Equipo  id_equipo
0                Arenal Emevé          1
1              Cisneros Alter          2
2                 Voley Palma          3
3                     Manacor          4
4                     Guaguas          5
5                  CV Melilla          6
6           San Roque - Batán          7
7             Rio Duero Soria          8
8                   CV Teruel          9
9             Unicaja Almería         10
10       Conqueridor Valencia         11
11    Santo Domingo VB Petrer         12
12             Barça Voleibol         13
13              Rotogal Boiro         14
14  Voley Textil Santanderina         15

In [9]:
with open('../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [10]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyball_database')

In [11]:
df.to_sql('equipo', con=engine, if_exists='append', index=False)

15