In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [3]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=111&PID=137'
parametro = 'estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [4]:
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque',
                'Errores_Saque', 'Porcentaje_error', 'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error',
                'Total_ataques','Ataque_Ranking',2]

parametro= 'estadistica_central'

central = crear_df(datos[4],columna,parametro)
central.drop([1,2], inplace=True, axis=1)
central.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Knigge Matthew,26,88,63,73,1,240,15,54,12,316,232,7,19,355,"1,7727"
1,Palacios Santos Cristian,8,32,25,8,0,49,4,9,2,102,52,7,6,100,"1,5938"

In [5]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2022-2023/jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,1,Ferreira García Gabriel,Colocador/a,188.0,1997,310.0,300.0,1-2022-2023,2022-2023,1-2022-2023
1,2,Alves Ramos Vitor,Receptor,194.0,2002,330.0,322.0,2-2022-2023,2022-2023,1-2022-2023

In [6]:
central = pd.merge(central, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
central['temporada']='2022-2023'
central.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,id_equipo,temporada
0,Knigge Matthew,26,88,63,73,1,240,15,54,12,316,232,7,19,355,"1,7727",73-2022-2023,5-2022-2023,2022-2023
1,Palacios Santos Cristian,8,32,25,8,0,49,4,9,2,102,52,7,6,100,"1,5938",42-2022-2023,3-2022-2023,2022-2023

In [7]:
convertir = central.columns.difference(['Nombre','id_jugador','id_equipo','temporada'])
central['Ataque_Ranking'] = central['Ataque_Ranking'].str.replace(',', '.').astype(float)
central[convertir] = central[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
central.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            7 non-null      object
 1   Partidos_jugados  7 non-null      int64
 2   Sets_jugados      7 non-null      int64
 3   Bloqueos          7 non-null      int64
 4   Bloqueo_exitoso   7 non-null      int64
 5   Bloqueo_fallido   7 non-null      int64
 6   Total_bloqueos    7 non-null      int64
 7   Saque             7 non-null      int64
 8   Errores_Saque     7 non-null      int64
 9   Porcentaje_error  7 non-null      int64
 10  Total_saques      7 non-null      int64
 11  Ataque_exitoso    7 non-null      int64
 12  Errores_ataque    7 non-null      int64
 13  Porc_error        7 non-null      int64
 14  Total_ataques     7 non-null      int64
 15  Ataque_Ranking    7 non-null      float64
 16  id_jugador        7 non-null      object
 17  id_equipo         7 non-null      object
 18  temporada         7 non-null      object
dtypes: float64(1), int64(14), object(4)
memory usage: 1.2+ KB

In [2]:
central=normalizar('../../data/2022-2023/central.csv')

## Guardado en CSV.

In [3]:
central.to_csv('../../data/2022-2023/central.csv', index=False)

## Base de datos.

In [4]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [5]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [6]:

central.to_sql('central', engine, if_exists='append', index=False)

7