In [11]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import *

In [12]:
url = 'https://rfevb-web.dataproject.com/CompetitionHome.aspx?ID=111'
driver = webdriver.Chrome(options = opciones)
driver.get(url)

In [13]:
driver.find_element(By.XPATH,'//*[@id="ctl00_RM_CompetitionArea_Main"]/ul/li[4]/a').click()

In [14]:
driver.find_element(By.XPATH,'//*[@id="ctl00_Content_Main_RLB_PlayerStats"]/div/ul/li[4]/a').click()

In [15]:
info = driver.find_element(By.XPATH,'//*[@id="RG_PlayerRanking_MiddleBlocker_m"]').text.split('\n')

In [16]:
info = [info[i:i+18] for i in range(3, len(info), 18)]

central = pd.DataFrame(info)

'''Cuidado con la modificación de columnas, drops y demas. puede cambiar.'''

    
column_names = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque',
                'Errores_Saque', 'Porcentaje_error', 'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error',
                'Total_ataques','Ataque_Ranking',2]


central.columns = column_names
central.drop([1,2], inplace=True, axis=1)
central

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Knigge Matthew,26,88,63,73,1,240,15,54,12,316,232,7,19,355,"1,7727"
1,Palacios Santos Cristian,8,32,25,8,0,49,4,9,2,102,52,7,6,100,"1,5938"
2,Ribas Brockert Alejandro,21,74,47,33,0,99,5,19,12,247,128,19,14,256,"1,2838"
3,De Carvalho Furtado Carlos Manuel,12,44,24,12,0,47,8,26,7,130,85,11,18,169,"1,1364"
4,Allen Serrano Luis Vidal,8,19,6,5,1,17,3,9,1,30,42,10,6,79,"1,0526"
5,Méndez Jiménez Víctor,25,89,72,67,5,242,6,40,5,298,169,27,19,303,"1,0000"
6,Bernal Bravo Abel,15,57,18,10,0,38,12,44,11,211,98,20,30,223,"0,4211"

In [17]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2022-2023/jugadores.csv')
df

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada
0,1,Ferreira García Gabriel,Colocador/a,188,1997,310,300,200,2022-2023
1,2,Alves Ramos Vitor,Receptor,194,2002,330,322,201,2022-2023
2,3,Bouza Ferreiro Víctor,Receptor,187,1990,330,320,202,2022-2023
3,4,Romaní Leandro Gustavo,Middle-blocker,205,1999,337,323,203,2022-2023
4,7,Gallardo Hernández Rodrigo,Líbero,183,1999,295,268,204,2022-2023
...,...,...,...,...,...,...,...,...,...
172,11,Campos Canals Miquel,Middle-blocker,187,2001,325,315,372,2022-2023
173,12,Corona Mediavilla Fabián,Receptor,185,2003,310,305,373,2022-2023
174,13,Calzón Algaba Francisco José,Middle-blocker,198,1992,330,320,374,2022-2023
175,14,Frías Collado Juan Francisco,Middle-blocker,198,2000,325,315,375,2022-2023
176,17,Rodríguez Bonilla Roberto,Receptor,190,2000,335,320,376,2022-2023

In [18]:
central = pd.merge(central, df[['Nombre', 'id_jugador']], on='Nombre', how='left')
central['temporada']='2022-2023'
central

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,temporada
0,Knigge Matthew,26,88,63,73,1,240,15,54,12,316,232,7,19,355,"1,7727",272,2022-2023
1,Palacios Santos Cristian,8,32,25,8,0,49,4,9,2,102,52,7,6,100,"1,5938",241,2022-2023
2,Ribas Brockert Alejandro,21,74,47,33,0,99,5,19,12,247,128,19,14,256,"1,2838",256,2022-2023
3,De Carvalho Furtado Carlos Manuel,12,44,24,12,0,47,8,26,7,130,85,11,18,169,"1,1364",247,2022-2023
4,Allen Serrano Luis Vidal,8,19,6,5,1,17,3,9,1,30,42,10,6,79,"1,0526",257,2022-2023
5,Méndez Jiménez Víctor,25,89,72,67,5,242,6,40,5,298,169,27,19,303,"1,0000",306,2022-2023
6,Bernal Bravo Abel,15,57,18,10,0,38,12,44,11,211,98,20,30,223,"0,4211",235,2022-2023

In [22]:
convertir = central.columns.difference(['Nombre'])
central['Ataque_Ranking'] = central['Ataque_Ranking'].str.replace(',', '.').astype(float)
central[convertir] = central[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
central.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            7 non-null      object
 1   Partidos_jugados  7 non-null      int64
 2   Sets_jugados      7 non-null      int64
 3   Bloqueos          7 non-null      int64
 4   Bloqueo_exitoso   7 non-null      int64
 5   Bloqueo_fallido   7 non-null      int64
 6   Total_bloqueos    7 non-null      int64
 7   Saque             7 non-null      int64
 8   Errores_Saque     7 non-null      int64
 9   Porcentaje_error  7 non-null      int64
 10  Total_saques      7 non-null      int64
 11  Ataque_exitoso    7 non-null      int64
 12  Errores_ataque    7 non-null      int64
 13  Porc_error        7 non-null      int64
 14  Total_ataques     7 non-null      int64
 15  Ataque_Ranking    7 non-null      float64
 16  id_jugador        7 non-null      int64
 17  temporada         7 non-null      object
dtypes: float64(1), int64(15), object(2)
memory usage: 1.1+ KB

## Guardado en CSV.

In [19]:
central.to_csv('../../data/2022-2023/central.csv', index=False)

## Base de datos.

In [8]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [9]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyball_database')

In [23]:
dtype = {'id_jugador': Integer}
central.to_sql('centrales', engine, if_exists='append', index=False, dtype=dtype)

7