In [8]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import *

In [9]:
url = 'https://rfevb-web.dataproject.com/CompetitionHome.aspx?ID=111'
driver = webdriver.Chrome(options = opciones)
driver.get(url)

In [10]:
driver.find_element(By.XPATH,'//*[@id="ctl00_RM_CompetitionArea_Main"]/ul/li[4]/a').click()

In [11]:
driver.find_element(By.XPATH,'//*[@id="ctl00_Content_Main_RLB_PlayerStats"]/div/ul/li[4]/a').click()

In [19]:
info = driver.find_element(By.XPATH,'//*[@id="RG_PlayerRanking_MiddleBlocker_m"]').text.split('\n')

In [20]:
info = [info[i:i+18] for i in range(3, len(info), 18)]

central = pd.DataFrame(info)

'''Cuidado con la modificación de columnas, drops y demas. puede cambiar.'''

    
column_names = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque',
                'Errores_Saque', 'Porcentaje_error', 'Total_saques', 'Ataque_exitoso','Errores_ataque','Porcentaje_error',
                'Total_ataques','Ataque_Ranking',2]


central.columns = column_names
central.drop([1,2], inplace=True, axis=1)
central

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porcentaje_error,Total_ataques,Ataque_Ranking
0,Knigge Matthew,26,88,63,73,1,240,15,54,12,316,232,7,19,355,"1,7727"
1,Palacios Santos Cristian,8,32,25,8,0,49,4,9,2,102,52,7,6,100,"1,5938"
2,Ribas Brockert Alejandro,21,74,47,33,0,99,5,19,12,247,128,19,14,256,"1,2838"
3,De Carvalho Furtado Carlos Manuel,12,44,24,12,0,47,8,26,7,130,85,11,18,169,"1,1364"
4,Allen Serrano Luis Vidal,8,19,6,5,1,17,3,9,1,30,42,10,6,79,"1,0526"
5,Méndez Jiménez Víctor,25,89,72,67,5,242,6,40,5,298,169,27,19,303,"1,0000"
6,Bernal Bravo Abel,15,57,18,10,0,38,12,44,11,211,98,20,30,223,"0,4211"

In [21]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2022-2023/jugadores.csv')
df

,Dorsal,Nombre,Posición,Altura,Año de nacimiento,Alcance en ataque,Alcance en bloqueo,id_jugador
0,1,Ferreira García Gabriel,Colocador/a,188,1997,310,300,1
1,2,Alves Ramos Vitor,Receptor,194,2002,330,322,2
2,3,Bouza Ferreiro Víctor,Receptor,187,1990,330,320,3
3,4,Romaní Leandro Gustavo,Middle-blocker,205,1999,337,323,4
4,7,Gallardo Hernández Rodrigo,Líbero,183,1999,295,268,5
...,...,...,...,...,...,...,...,...
172,11,Campos Canals Miquel,Middle-blocker,187,2001,325,315,173
173,12,Corona Mediavilla Fabián,Receptor,185,2003,310,305,174
174,13,Calzón Algaba Francisco José,Middle-blocker,198,1992,330,320,175
175,14,Frías Collado Juan Francisco,Middle-blocker,198,2000,325,315,176
176,17,Rodríguez Bonilla Roberto,Receptor,190,2000,335,320,177

In [22]:
central = pd.merge(central, df[['Nombre', 'id_jugador']], on='Nombre', how='left')

central

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porcentaje_error,Total_ataques,Ataque_Ranking,id_jugador
0,Knigge Matthew,26,88,63,73,1,240,15,54,12,316,232,7,19,355,"1,7727",73
1,Palacios Santos Cristian,8,32,25,8,0,49,4,9,2,102,52,7,6,100,"1,5938",42
2,Ribas Brockert Alejandro,21,74,47,33,0,99,5,19,12,247,128,19,14,256,"1,2838",57
3,De Carvalho Furtado Carlos Manuel,12,44,24,12,0,47,8,26,7,130,85,11,18,169,"1,1364",48
4,Allen Serrano Luis Vidal,8,19,6,5,1,17,3,9,1,30,42,10,6,79,"1,0526",58
5,Méndez Jiménez Víctor,25,89,72,67,5,242,6,40,5,298,169,27,19,303,"1,0000",107
6,Bernal Bravo Abel,15,57,18,10,0,38,12,44,11,211,98,20,30,223,"0,4211",36

In [23]:
central.to_csv('../../data/2022-2023/central.csv', index=False)