In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import *

In [2]:
url = 'https://www.flashscore.es/voleibol/espana/superliga-masculina-2022-2023/#/OO5qdsBt/table/overall'
driver = webdriver.Chrome(options = opciones)
driver.get(url)

In [3]:
driver.find_element(By.XPATH, '//*[@id="onetrust-accept-btn-handler"]').click() # aceptamos cookies

In [21]:
clas=driver.find_element(By.XPATH, '//*[@id="tournament-table-tabs-and-content"]/div[3]/div[1]/div/div/div[2]').text.split('\n')

In [22]:
rows = [clas[i:i+13] for i in range(0, len(clas), 12)]
column_names = ['Posición', 'Equipo', 'PJ', 'G', 'P', 'S', 'PTS', 'Forma','f','f','f','f','f']
clasificacion = pd.DataFrame(rows, columns=column_names)
clasificacion = clasificacion.drop(['f','Forma','S'], axis=1)
clasificacion['Posición'] = clasificacion['Posición'].str.rstrip('.')
clasificacion['Posición'] = clasificacion['Posición'].astype(int)

In [23]:
clasificacion

    Posición                Equipo  PJ   G   P PTS
0          1               Guaguas  22  22   0  66
1          2       Rio Duero Soria  22  18   4  53
2          3             CV Teruel  22  16   6  48
3          4            CV Melilla  22  15   7  45
4          5  Conqueridor Valencia  22  14   8  41
5          6       Unicaja Almería  22  12  10  36
6          7             Barcelona  22  10  12  30
7          8          Arenal Emevé  22   9  13  28
8          9               Manacor  22   9  13  26
9         10           Voley Palma  22   5  17  16
10        11   Textil Santanderina  22   1  21   5
11        12                 Boiro  22   1  21   2

In [24]:
mapeo = {
    'Arenal Emevé': 'Arenal Emevé',
    'Barcelona': 'Barça Voleibol',
    'Voley Palma': 'Voley Palma',
    'Manacor': 'Manacor',
    'Guaguas': 'Guaguas',
    'Conqueridor Valencia': 'Conqueridor Valencia',
    'CV Melilla': 'CV Melilla',
    'CV Teruel': 'CV Teruel',
    'Rio Duero Soria': 'Rio Duero Soria',
    'Boiro': 'Rotogal Boiro',
    'Unicaja Almería': 'Unicaja Almería',
    'Textil Santanderina': 'Voley Textil Santanderina'
}

clasificacion['Equipo'] = clasificacion['Equipo'].map(mapeo)

clasificacion

    Posición                     Equipo  PJ   G   P PTS
0          1                    Guaguas  22  22   0  66
1          2            Rio Duero Soria  22  18   4  53
2          3                  CV Teruel  22  16   6  48
3          4                 CV Melilla  22  15   7  45
4          5       Conqueridor Valencia  22  14   8  41
5          6            Unicaja Almería  22  12  10  36
6          7             Barça Voleibol  22  10  12  30
7          8               Arenal Emevé  22   9  13  28
8          9                    Manacor  22   9  13  26
9         10                Voley Palma  22   5  17  16
10        11  Voley Textil Santanderina  22   1  21   5
11        12              Rotogal Boiro  22   1  21   2

In [25]:
df= pd.read_csv('../../data/2022-2023/equipo.csv')
df

                       Equipo  id_equipo
0                Arenal Emevé          1
1              Barça Voleibol         13
2                 Voley Palma          3
3                     Manacor          4
4                     Guaguas          5
5        Conqueridor Valencia         11
6                  CV Melilla          6
7                   CV Teruel          9
8             Rio Duero Soria          8
9               Rotogal Boiro         14
10            Unicaja Almería         10
11  Voley Textil Santanderina         15

In [26]:
clasificacion = pd.merge(clasificacion, df[['Equipo', 'id_equipo']], left_on='Equipo', right_on='Equipo', how='left')
clasificacion['temporada']='2022-2023'
clasificacion

    Posición                     Equipo  PJ   G   P PTS  id_equipo  temporada
0          1                    Guaguas  22  22   0  66          5  2022-2023
1          2            Rio Duero Soria  22  18   4  53          8  2022-2023
2          3                  CV Teruel  22  16   6  48          9  2022-2023
3          4                 CV Melilla  22  15   7  45          6  2022-2023
4          5       Conqueridor Valencia  22  14   8  41         11  2022-2023
5          6            Unicaja Almería  22  12  10  36         10  2022-2023
6          7             Barça Voleibol  22  10  12  30         13  2022-2023
7          8               Arenal Emevé  22   9  13  28          1  2022-2023
8          9                    Manacor  22   9  13  26          4  2022-2023
9         10                Voley Palma  22   5  17  16          3  2022-2023
10        11  Voley Textil Santanderina  22   1  21   5         15  2022-2023
11        12              Rotogal Boiro  22   1  21   2         14  2022-2023

In [27]:

convertir = clasificacion.columns.difference(['Equipo','temporada'])
clasificacion[convertir] = clasificacion[convertir].apply(pd.to_numeric, errors='coerce').fillna(0).astype(int)
clasificacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Posición   12 non-null     int32
 1   Equipo     12 non-null     object
 2   PJ         12 non-null     int32
 3   G          12 non-null     int32
 4   P          12 non-null     int32
 5   PTS        12 non-null     int32
 6   id_equipo  12 non-null     int32
 7   temporada  12 non-null     object
dtypes: int32(6), object(2)
memory usage: 612.0+ bytes

## Guardado en CSV.

In [17]:
clasificacion.to_csv('../../data/2022-2023/clasificacion.csv', index=False)

## Base de datos.

In [29]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [30]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyball_database')

In [32]:
key = 'id_equipo'
dtype = {key: Integer}
clasificacion.to_sql('clasificacion_2022', engine, if_exists='append', index=False, dtype=dtype)

12