In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import *

In [2]:
url = 'https://www.flashscore.es/voleibol/espana/superliga-masculina-2022-2023/#/OO5qdsBt/table/overall'
driver = webdriver.Chrome(options = opciones)
driver.get(url)

In [3]:
driver.find_element(By.XPATH, '//*[@id="onetrust-accept-btn-handler"]').click() # aceptamos cookies

In [4]:
clas=driver.find_element(By.XPATH, '//*[@id="tournament-table-tabs-and-content"]/div[3]/div[1]/div/div/div[2]').text.split('\n')

In [5]:
rows = [clas[i:i+13] for i in range(0, len(clas), 12)]
column_names = ['Posición', 'Equipo', 'PJ', 'G', 'P', 'S', 'PTS', 'Forma','f','f','f','f','f']
clasificacion = pd.DataFrame(rows, columns=column_names)
clasificacion = clasificacion.drop(['f','Forma','S'], axis=1)
clasificacion['Posición'] = clasificacion['Posición'].str.rstrip('.')
clasificacion['Posición'] = clasificacion['Posición'].astype(int)

In [6]:
clasificacion

    Posición                Equipo  PJ   G   P PTS
0          1               Guaguas  22  22   0  66
1          2       Rio Duero Soria  22  18   4  53
2          3             CV Teruel  22  16   6  48
3          4            CV Melilla  22  15   7  45
4          5  Conqueridor Valencia  22  14   8  41
5          6       Unicaja Almería  22  12  10  36
6          7             Barcelona  22  10  12  30
7          8          Arenal Emevé  22   9  13  28
8          9               Manacor  22   9  13  26
9         10           Voley Palma  22   5  17  16
10        11   Textil Santanderina  22   1  21   5
11        12                 Boiro  22   1  21   2

In [7]:
mapeo = {
    'Arenal Emevé': 'Arenal Emevé',
    'Barcelona': 'Barça Voleibol',
    'Voley Palma': 'Voley Palma',
    'Manacor': 'Manacor',
    'Guaguas': 'Guaguas',
    'Conqueridor Valencia': 'Conqueridor Valencia',
    'CV Melilla': 'CV Melilla',
    'CV Teruel': 'CV Teruel',
    'Rio Duero Soria': 'Rio Duero Soria',
    'Boiro': 'Rotogal Boiro',
    'Unicaja Almería': 'Unicaja Almería',
    'Textil Santanderina': 'Voley Textil Santanderina'
}

clasificacion['Equipo'] = clasificacion['Equipo'].map(mapeo)

clasificacion

    Posición                     Equipo  PJ   G   P PTS
0          1                    Guaguas  22  22   0  66
1          2            Rio Duero Soria  22  18   4  53
2          3                  CV Teruel  22  16   6  48
3          4                 CV Melilla  22  15   7  45
4          5       Conqueridor Valencia  22  14   8  41
5          6            Unicaja Almería  22  12  10  36
6          7             Barça Voleibol  22  10  12  30
7          8               Arenal Emevé  22   9  13  28
8          9                    Manacor  22   9  13  26
9         10                Voley Palma  22   5  17  16
10        11  Voley Textil Santanderina  22   1  21   5
11        12              Rotogal Boiro  22   1  21   2

In [8]:
df= pd.read_csv('../../data/2022-2023/equipo.csv')
df

                       Equipo  id_equipo
0                Arenal Emevé          1
1              Barça Voleibol         99
2                 Voley Palma          3
3                     Manacor          4
4                     Guaguas          5
5        Conqueridor Valencia         11
6                  CV Melilla          6
7                   CV Teruel          9
8             Rio Duero Soria          8
9               Rotogal Boiro         98
10            Unicaja Almería         10
11  Voley Textil Santanderina         97

In [9]:
clasificacion = pd.merge(clasificacion, df[['Equipo', 'id_equipo']], left_on='Equipo', right_on='Equipo', how='left')
#clasificacion = clasificacion.drop(columns=['Equipo'])
clasificacion

    Posición                     Equipo  PJ   G   P PTS  id_equipo
0          1                    Guaguas  22  22   0  66          5
1          2            Rio Duero Soria  22  18   4  53          8
2          3                  CV Teruel  22  16   6  48          9
3          4                 CV Melilla  22  15   7  45          6
4          5       Conqueridor Valencia  22  14   8  41         11
5          6            Unicaja Almería  22  12  10  36         10
6          7             Barça Voleibol  22  10  12  30         99
7          8               Arenal Emevé  22   9  13  28          1
8          9                    Manacor  22   9  13  26          4
9         10                Voley Palma  22   5  17  16          3
10        11  Voley Textil Santanderina  22   1  21   5         97
11        12              Rotogal Boiro  22   1  21   2         98

In [10]:
clasificacion.to_csv('../../data/2022-2023/clasificacion.csv', index=False)