In [15]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_datos import *
from src.help_scraping import *

In [16]:
url = 'https://www.flashscore.es/voleibol/espana/superliga-masculina-2022-2023/#/OO5qdsBt/table/overall'
parametros = 'clasificacion'
datos=scraping(url,parametros)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [30]:
columna = ['Posición', 'Equipo', 'PJ', 'G', 'P', 'S', 'PTS', 'Forma','f','f','f','f','f']
parametros = 'clasificacion'
clasificacion = crear_df(datos,columna,parametros)
clasificacion.head(10)

  Posición                Equipo  PJ   G   P      S PTS Forma  f  f  f  f    f
0       1.               Guaguas  22  22   0   66:7  66     G  G  G  G  G   2.
1       2.       Rio Duero Soria  22  18   4  58:20  53     G  P  G  G  G   3.
2       3.             CV Teruel  22  16   6  51:24  48     P  G  P  G  G   4.
3       4.            CV Melilla  22  15   7  51:28  45     G  P  G  G  P   5.
4       5.  Conqueridor Valencia  22  14   8  48:35  41     P  P  G  G  G   6.
5       6.       Unicaja Almería  22  12  10  43:34  36     G  P  G  G  G   7.
6       7.             Barcelona  22  10  12  35:42  30     P  G  P  P  P   8.
7       8.          Arenal Emevé  22   9  13  35:44  28     P  G  P  P  P   9.
8       9.               Manacor  22   9  13  32:45  26     P  G  P  P  P  10.
9      10.           Voley Palma  22   5  17  27:56  16     G  G  G  P  P  11.

In [31]:
clasificacion['Posición'] = clasificacion['Posición'].astype(str).str.rstrip('.')
clasificacion['Posición'] = clasificacion['Posición'].astype(int)
clasificacion = clasificacion.drop(['f','Forma','S'], axis=1)
convertir = clasificacion.columns.difference(['Equipo'])
clasificacion[convertir] = clasificacion[convertir].apply(pd.to_numeric, errors='coerce').fillna(0).astype(int)
clasificacion

    Posición                Equipo  PJ   G   P  PTS
0          1               Guaguas  22  22   0   66
1          2       Rio Duero Soria  22  18   4   53
2          3             CV Teruel  22  16   6   48
3          4            CV Melilla  22  15   7   45
4          5  Conqueridor Valencia  22  14   8   41
5          6       Unicaja Almería  22  12  10   36
6          7             Barcelona  22  10  12   30
7          8          Arenal Emevé  22   9  13   28
8          9               Manacor  22   9  13   26
9         10           Voley Palma  22   5  17   16
10        11   Textil Santanderina  22   1  21    5
11        12                 Boiro  22   1  21    2

In [32]:
mapear_nombres(clasificacion)

    Posición                     Equipo  PJ   G   P  PTS
0          1                    Guaguas  22  22   0   66
1          2            Rio Duero Soria  22  18   4   53
2          3                  CV Teruel  22  16   6   48
3          4                 CV Melilla  22  15   7   45
4          5       Conqueridor Valencia  22  14   8   41
5          6            Unicaja Almería  22  12  10   36
6          7             Barça Voleibol  22  10  12   30
7          8               Arenal Emevé  22   9  13   28
8          9                    Manacor  22   9  13   26
9         10                Voley Palma  22   5  17   16
10        11  Voley Textil Santanderina  22   1  21    5
11        12              Rotogal Boiro  22   1  21    2

In [33]:
clasificacion=normalizar_df(clasificacion)
clasificacion

    Posicion                     Equipo  PJ   G   P  PTS
0          1                    Guaguas  22  22   0   66
1          2            Rio Duero Soria  22  18   4   53
2          3                  CV Teruel  22  16   6   48
3          4                 CV Melilla  22  15   7   45
4          5       Conqueridor Valencia  22  14   8   41
5          6            Unicaja Almeria  22  12  10   36
6          7             Barca Voleibol  22  10  12   30
7          8               Arenal Emeve  22   9  13   28
8          9                    Manacor  22   9  13   26
9         10                Voley Palma  22   5  17   16
10        11  Voley Textil Santanderina  22   1  21    5
11        12              Rotogal Boiro  22   1  21    2

In [34]:
df= pd.read_csv('../../data/2022-2023/equipo.csv')
df

                       Equipo     id_equipo
0                Arenal Emeve   1-2022-2023
1              Barca Voleibol   2-2022-2023
2                 Voley Palma   3-2022-2023
3                     Manacor   4-2022-2023
4                     Guaguas   5-2022-2023
5        Conqueridor Valencia   6-2022-2023
6                  CV Melilla   7-2022-2023
7                   CV Teruel   8-2022-2023
8             Rio Duero Soria   9-2022-2023
9               Rotogal Boiro  10-2022-2023
10            Unicaja Almeria  11-2022-2023
11  Voley Textil Santanderina  12-2022-2023

In [35]:
clasificacion = pd.merge(clasificacion, df[['Equipo', 'id_equipo']], left_on='Equipo', right_on='Equipo', how='left')
clasificacion['temporada']='2022-2023'
clasificacion

,Posicion,Equipo,PJ,G,P,PTS,id_equipo,temporada
0,1,Guaguas,22,22,0,66,5-2022-2023,2022-2023
1,2,Rio Duero Soria,22,18,4,53,9-2022-2023,2022-2023
2,3,CV Teruel,22,16,6,48,8-2022-2023,2022-2023
3,4,CV Melilla,22,15,7,45,7-2022-2023,2022-2023
4,5,Conqueridor Valencia,22,14,8,41,6-2022-2023,2022-2023
5,6,Unicaja Almeria,22,12,10,36,11-2022-2023,2022-2023
6,7,Barca Voleibol,22,10,12,30,2-2022-2023,2022-2023
7,8,Arenal Emeve,22,9,13,28,1-2022-2023,2022-2023
8,9,Manacor,22,9,13,26,4-2022-2023,2022-2023
9,10,Voley Palma,22,5,17,16,3-2022-2023,2022-2023
10,11,Voley Textil Santanderina,22,1,21,5,12-2022-2023,2022-2023
11,12,Rotogal Boiro,22,1,21,2,10-2022-2023,2022-2023

In [36]:

convertir = clasificacion.columns.difference(['Equipo','temporada','id_equipo'])
clasificacion[convertir] = clasificacion[convertir].apply(pd.to_numeric, errors='coerce').fillna(0).astype(int)
clasificacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Posicion   12 non-null     int32
 1   Equipo     12 non-null     object
 2   PJ         12 non-null     int32
 3   G          12 non-null     int32
 4   P          12 non-null     int32
 5   PTS        12 non-null     int32
 6   id_equipo  12 non-null     object
 7   temporada  12 non-null     object
dtypes: int32(5), object(3)
memory usage: 660.0+ bytes

## Guardado en CSV.

In [38]:
clasificacion.to_csv('../../data/2022-2023/clasificacion.csv', index=False)

## Base de datos.

In [5]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [6]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [7]:

clasificacion.to_sql('clasificacion_2022', engine, if_exists='append', index=False)

12