In [14]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import *

In [2]:
url = 'https://rfevb-web.dataproject.com/CompetitionHome.aspx?ID=111'
driver = webdriver.Chrome(options = opciones)
driver.get(url)

In [3]:
driver.find_element(By.XPATH,'//*[@id="ctl00_RM_CompetitionArea_Main"]/ul/li[4]/a').click()

In [4]:
driver.find_element(By.XPATH,'//*[@id="ctl00_Content_Main_RLB_PlayerStats"]/div/ul/li[5]/a').click()

In [5]:
info = driver.find_element(By.XPATH,'//*[@id="RG_PlayerRanking_Setter"]').text.split('\n')

In [6]:
info = [info[i:i+13] for i in range(3, len(info), 13)]

colocador = pd.DataFrame(info)

'''Cuidado con la modificación de columnas, drops y demas. puede cambiar.'''
    
column_names = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Acciones_exitosas', 'Errores_colocador',
                '_error_colocador', 'Puntos_negativos', 'Puntos_positivos',
                'Acciones_positivas', 'Total_acumulado', 'Efic_Ranking',2]

colocador.columns = column_names
colocador.drop([1,2], inplace=True, axis=1)
colocador.drop(6, inplace=True)
colocador.reset_index(inplace=True)
colocador.head(2)

,index,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking
0,0,Bertassoni Paulo Renan,24,59,216,0,14,56,32,15,333,"0,4354"
1,1,de Amo Miguel Ángel,20,65,333,4,36,88,63,34,558,"0,3781"

In [8]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2022-2023/jugadores.csv')
df.head()

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada
0,1,Ferreira García Gabriel,Colocador/a,188,1997,310,300,200,2022-2023
1,2,Alves Ramos Vitor,Receptor,194,2002,330,322,201,2022-2023
2,3,Bouza Ferreiro Víctor,Receptor,187,1990,330,320,202,2022-2023
3,4,Romaní Leandro Gustavo,Middle-blocker,205,1999,337,323,203,2022-2023
4,7,Gallardo Hernández Rodrigo,Líbero,183,1999,295,268,204,2022-2023

In [9]:
colocador = pd.merge(colocador, df[['Nombre', 'id_jugador']], on='Nombre', how='left')

colocador.head()

,index,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking,id_jugador
0,0,Bertassoni Paulo Renan,24,59,216,0,14,56,32,15,333,"0,4354",266
1,1,de Amo Miguel Ángel,20,65,333,4,36,88,63,34,558,"0,3781",265
2,2,Gallego Sánchez Miguel,1,4,29,0,5,10,3,1,48,"0,3750",233
3,3,Folguera Xavier,6,22,148,0,25,24,69,22,288,"0,3542",245
4,4,Pérez Jaime,13,21,55,4,8,11,18,8,104,"0,3462",316

In [10]:
colocador['temporada']='2022-2023'
colocador.drop(['index'], axis=1, inplace=True)
colocador.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking,id_jugador,temporada
0,Bertassoni Paulo Renan,24,59,216,0,14,56,32,15,333,"0,4354",266,2022-2023
1,de Amo Miguel Ángel,20,65,333,4,36,88,63,34,558,"0,3781",265,2022-2023

In [18]:
convertir = colocador.columns.difference(['Nombre'])
colocador['Efic_Ranking'] = colocador['Efic_Ranking'].str.replace(',', '.').astype(float)
colocador[convertir] = colocador[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)

colocador.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              22 non-null     object
 1   Partidos_jugados    22 non-null     int64
 2   Sets_jugados        22 non-null     int64
 3   Acciones_exitosas   22 non-null     int64
 4   Errores_colocador   22 non-null     int64
 5   _error_colocador    22 non-null     int64
 6   Puntos_negativos    22 non-null     int64
 7   Puntos_positivos    22 non-null     int64
 8   Acciones_positivas  22 non-null     int64
 9   Total_acumulado     22 non-null     int64
 10  Efic_Ranking        22 non-null     float64
 11  id_jugador          22 non-null     int64
 12  temporada           22 non-null     object
dtypes: float64(1), int64(10), object(2)
memory usage: 2.4+ KB

## Guardado en CSV.

In [19]:
colocador.to_csv('../../data/2022-2023/colocador.csv', index=False)

## Base de datos.

In [20]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [21]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyball_database')

In [22]:
dtype = {'id_jugador': Integer}
colocador.to_sql('colocador', engine, if_exists='append', index=False, dtype=dtype)

22