In [2]:
import sys
sys.path.append("C:\ironhack\Proyecto_final") 
from src.funciones import *

In [3]:
url = 'https://rfevb-web.dataproject.com/CompetitionHome.aspx?ID=111'
driver = webdriver.Chrome(options = opciones)
driver.get(url)

In [4]:
driver.find_element(By.XPATH,'//*[@id="ctl00_RM_CompetitionArea_Main"]/ul/li[5]/a').click()

In [5]:
clas=driver.find_element(By.XPATH,'//*[@id="ctl00_Content_Main_ctl00_Content_Main_CompetitonTeams_Name_TeamListViewPanel"]/div/div').text.split('\n')

In [6]:
columna = ['Equipo']
filas = [i for i in clas[::2]]
equipo=pd.DataFrame(filas,columns=columna)
equipo

                          Equipo
0                   Arenal Emevé
1                 Barça Voleibol
2               Club Vóley Palma
3       Conectabalear CV Manacor
4                     CV Guaguas
5   Léleman Conqueridor Valencia
6          Melilla Sport Capital
7         Pamesa Teruel Voleibol
8                Rio Duero Soria
9                  Rotogal Boiro
10      Unicaja Costa de Almeria
11     Voley Textil Santanderina

In [7]:
equipo_modificado = equipos3(df = equipo)
equipo_modificado

NameError: name 'equipos3' is not defined

In [8]:
data = {
    'Equipo': [
        'Arenal Emevé', 'Barça Voleibol', 'Club Vóley Palma', 'Conectabalear CV Manacor',
        'CV Guaguas', 'Léleman Conqueridor Valencia', 'Melilla Sport Capital',
        'Pamesa Teruel Voleibol', 'Rio Duero Soria', 'Rotogal Boiro',
        'Unicaja Costa de Almeria', 'Voley Textil Santanderina'
    ]
}
equipo = pd.DataFrame(data)
mapeo = {
    'Arenal Emevé': 'Arenal Emevé',
    'Barça Voleibol': 'Barça Voleibol',
    'Club Vóley Palma': 'Voley Palma',
    'Conectabalear CV Manacor': 'Manacor',
    'CV Guaguas': 'Guaguas',
    'Léleman Conqueridor Valencia': 'Conqueridor Valencia',
    'Melilla Sport Capital': 'CV Melilla',
    'Pamesa Teruel Voleibol': 'CV Teruel',
    'Rio Duero Soria': 'Rio Duero Soria',
    'Rotogal Boiro': 'Rotogal Boiro',
    'Unicaja Costa de Almeria': 'Unicaja Almería',
    'Voley Textil Santanderina': 'Voley Textil Santanderina'
}

equipo['Equipo'] = equipo['Equipo'].map(mapeo)

equipo

                       Equipo
0                Arenal Emevé
1              Barça Voleibol
2                 Voley Palma
3                     Manacor
4                     Guaguas
5        Conqueridor Valencia
6                  CV Melilla
7                   CV Teruel
8             Rio Duero Soria
9               Rotogal Boiro
10            Unicaja Almería
11  Voley Textil Santanderina

In [9]:
df = pd.read_csv('../../data/2023-2024/Equipos.csv')
df

                     Nombre  id_equipo
0              Arenal Emevé          1
1            Cisneros Alter          2
2               Voley Palma          3
3                   Manacor          4
4                   Guaguas          5
5                CV Melilla          6
6         San Roque - Batán          7
7           Rio Duero Soria          8
8                 CV Teruel          9
9           Unicaja Almería         10
10     Conqueridor Valencia         11
11  Santo Domingo VB Petrer         12

In [10]:
equipo = pd.merge(equipo, df[['Nombre', 'id_equipo']], left_on='Equipo', right_on='Nombre', how='left')
equipo = equipo.drop(columns=['Nombre'])
equipo

                       Equipo  id_equipo
0                Arenal Emevé        1.0
1              Barça Voleibol        NaN
2                 Voley Palma        3.0
3                     Manacor        4.0
4                     Guaguas        5.0
5        Conqueridor Valencia       11.0
6                  CV Melilla        6.0
7                   CV Teruel        9.0
8             Rio Duero Soria        8.0
9               Rotogal Boiro        NaN
10            Unicaja Almería       10.0
11  Voley Textil Santanderina        NaN

In [11]:
equipo.loc[1, 'id_equipo'] = 13
equipo.loc[9, 'id_equipo'] = 14
equipo.loc[11, 'id_equipo'] = 15
equipo['id_equipo'] = equipo['id_equipo'].astype(int)
equipo

                       Equipo  id_equipo
0                Arenal Emevé          1
1              Barça Voleibol         13
2                 Voley Palma          3
3                     Manacor          4
4                     Guaguas          5
5        Conqueridor Valencia         11
6                  CV Melilla          6
7                   CV Teruel          9
8             Rio Duero Soria          8
9               Rotogal Boiro         14
10            Unicaja Almería         10
11  Voley Textil Santanderina         15

In [12]:
equipo.to_csv('../../data/2022-2023/equipo.csv', index=False)