In [2]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/CompetitionTeamSearch.aspx?ID=111'
parametro = 'equipo'
datos=scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [3]:
columna = ['Equipo']
parametro = 'equipo'
equipo = crear_df(datos,columna,parametro)

DataFrame creado!

In [4]:
equipo

                          Equipo
0                   Arenal Emevé
1                 Barça Voleibol
2               Club Vóley Palma
3       Conectabalear CV Manacor
4                     CV Guaguas
5   Léleman Conqueridor Valencia
6          Melilla Sport Capital
7         Pamesa Teruel Voleibol
8                Rio Duero Soria
9                  Rotogal Boiro
10      Unicaja Costa de Almeria
11     Voley Textil Santanderina

In [5]:
mapear_nombres(equipo)

                       Equipo
0                Arenal Emevé
1              Barça Voleibol
2                 Voley Palma
3                     Manacor
4                     Guaguas
5        Conqueridor Valencia
6                  CV Melilla
7                   CV Teruel
8             Rio Duero Soria
9               Rotogal Boiro
10            Unicaja Almería
11  Voley Textil Santanderina

In [6]:
equipo['id_equipo'] = [str(i) + '-2022-2023' for i in range(1, len(equipo) + 1)]
equipo

                       Equipo     id_equipo
0                Arenal Emevé   1-2022-2023
1              Barça Voleibol   2-2022-2023
2                 Voley Palma   3-2022-2023
3                     Manacor   4-2022-2023
4                     Guaguas   5-2022-2023
5        Conqueridor Valencia   6-2022-2023
6                  CV Melilla   7-2022-2023
7                   CV Teruel   8-2022-2023
8             Rio Duero Soria   9-2022-2023
9               Rotogal Boiro  10-2022-2023
10            Unicaja Almería  11-2022-2023
11  Voley Textil Santanderina  12-2022-2023

In [12]:
equipo=normalizar('../../data/2022-2023/equipo.csv')

## Guardado en CSV.

In [14]:
equipo.to_csv('../../data/2022-2023/equipo.csv', index=False)

## Base de datos.

In [15]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [16]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [18]:

equipo.to_sql('equipo', engine, if_exists='append', index=False)

12