In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=111&PID=137'
parametro='estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [3]:
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Recepciones', 'Recepciones_exitosas',
                'Recepciones_fallidas', 'Recepciones_otro_jugador', 'Puntos_perdidos_recep',
                'Puntos_ganados_recep', 'Total_puntos_recep', 'Recep_Ranking', 12]

parametro= 'estadistica_libero'

libero = crear_df(datos[1],columna,parametro)
libero.drop([1,12], inplace=True, axis=1)
libero.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking
0,Larrañaga Ledo Unai,26,90,232,32,18,14,67,94,457,"0,4070"
1,Conde Barrios Lucas,1,3,11,0,0,1,7,6,25,"0,4000"

In [5]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2022-2023/jugadores.csv')
df.head()

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,1,Ferreira García Gabriel,Colocador/a,188.0,1997,310.0,300.0,1-2022-2023,2022-2023,1-2022-2023
1,2,Alves Ramos Vitor,Receptor,194.0,2002,330.0,322.0,2-2022-2023,2022-2023,1-2022-2023
2,3,Bouza Ferreiro Víctor,Receptor,187.0,1990,330.0,320.0,3-2022-2023,2022-2023,1-2022-2023
3,4,Romaní Leandro Gustavo,Middle-blocker,205.0,1999,337.0,323.0,4-2022-2023,2022-2023,1-2022-2023
4,7,Gallardo Hernández Rodrigo,Líbero,183.0,1999,295.0,268.0,5-2022-2023,2022-2023,1-2022-2023

In [6]:
liberos = pd.merge(libero, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
liberos['temporada'] = '2022-2023'
convertir = liberos.columns.difference(['Nombre','id_jugador','temporada','id_equipo'])
liberos['Recep_Ranking'] = liberos['Recep_Ranking'].str.replace(',', '.').astype(float)
liberos[convertir] = liberos[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
liberos.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking,id_jugador,id_equipo,temporada
0,Larrañaga Ledo Unai,26,90,232,32,18,14,67,94,457,0.407,104-2022-2023,7-2022-2023,2022-2023
1,Conde Barrios Lucas,1,3,11,0,0,1,7,6,25,0.400,76-2022-2023,5-2022-2023,2022-2023

In [7]:
liberos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nombre                    21 non-null     object
 1   Partidos_jugados          21 non-null     int64
 2   Sets_jugados              21 non-null     int64
 3   Recepciones               21 non-null     int64
 4   Recepciones_exitosas      21 non-null     int64
 5   Recepciones_fallidas      21 non-null     int64
 6   Recepciones_otro_jugador  21 non-null     int64
 7   Puntos_perdidos_recep     21 non-null     int64
 8   Puntos_ganados_recep      21 non-null     int64
 9   Total_puntos_recep        21 non-null     int64
 10  Recep_Ranking             21 non-null     float64
 11  id_jugador                21 non-null     object
 12  id_equipo                 21 non-null     object
 13  temporada                 21 non-null     object
dtypes: float64(1), int64(9), object(4)
memory usage: 2.4+ KB

In [2]:
liberos=normalizar('../../data/2022-2023/liberos.csv')

## Guardado en CSV.

In [3]:
liberos.to_csv('../../data/2022-2023/liberos.csv', index=False)

## Base de datos.

In [4]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [5]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [6]:

liberos.to_sql('libero', engine, if_exists='append', index=False)

21