In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=111&PID=137'
parametro='estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [7]:
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque','Errores_Saque', 'Porcentaje_error',
                'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error','Total_ataques','Ataque_Ranking',17]
parametro= 'estadistica_opuesto'
opuesto = crear_df(datos[3],columna,parametro)
opuesto.drop([1,17], inplace=True, axis=1)
opuesto.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Linares José Luis,23,83,34,55,17,332,25,23,0,62,366,87,76,785,"2,2169"
1,Rattray Brandon,13,33,13,22,9,94,8,6,0,22,105,15,16,201,"2,0303"

In [8]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2022-2023/jugadores.csv')
df.head()

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,1,Ferreira García Gabriel,Colocador/a,188.0,1997,310.0,300.0,1-2022-2023,2022-2023,1-2022-2023
1,2,Alves Ramos Vitor,Receptor,194.0,2002,330.0,322.0,2-2022-2023,2022-2023,1-2022-2023
2,3,Bouza Ferreiro Víctor,Receptor,187.0,1990,330.0,320.0,3-2022-2023,2022-2023,1-2022-2023
3,4,Romaní Leandro Gustavo,Middle-blocker,205.0,1999,337.0,323.0,4-2022-2023,2022-2023,1-2022-2023
4,7,Gallardo Hernández Rodrigo,Líbero,183.0,1999,295.0,268.0,5-2022-2023,2022-2023,1-2022-2023

In [9]:
opuesto = pd.merge(opuesto, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
opuesto['temporada']='2022-2023'
convertir = opuesto.columns.difference(['Nombre','id_jugador','id_equipo','temporada','Ataque_Ranking'])
opuesto['Ataque_Ranking'] = opuesto['Ataque_Ranking'].str.replace(',', '.').astype(float)
opuesto[convertir] = opuesto[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
opuesto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            15 non-null     object
 1   Partidos_jugados  15 non-null     int64
 2   Sets_jugados      15 non-null     int64
 3   Bloqueos          15 non-null     int64
 4   Bloqueo_exitoso   15 non-null     int64
 5   Bloqueo_fallido   15 non-null     int64
 6   Total_bloqueos    15 non-null     int64
 7   Saque             15 non-null     int64
 8   Errores_Saque     15 non-null     int64
 9   Porcentaje_error  15 non-null     int64
 10  Total_saques      15 non-null     int64
 11  Ataque_exitoso    15 non-null     int64
 12  Errores_ataque    15 non-null     int64
 13  Porc_error        15 non-null     int64
 14  Total_ataques     15 non-null     int64
 15  Ataque_Ranking    15 non-null     float64
 16  id_jugador        15 non-null     object
 17  id_equipo         15 non-null     object
 18  temporada         15 non-null     object
dtypes: float64(1), int64(14), object(4)
memory usage: 2.4+ KB

In [2]:
opuesto=normalizar('../../data/2022-2023/opuesto.csv')

## Guardado en CSV.

In [3]:
opuesto.to_csv('../../data/2022-2023/opuesto.csv', index=False)

## Base de datos.

In [4]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [5]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [6]:
opuesto.to_sql('opuesto', engine, if_exists='append', index=False)

15