In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.funciones import *

In [2]:
url = 'https://rfevb-web.dataproject.com/CompetitionHome.aspx?ID=111'
driver = webdriver.Chrome(options = opciones)
driver.get(url)

In [3]:
driver.find_element(By.XPATH,'//*[@id="ctl00_RM_CompetitionArea_Main"]/ul/li[4]/a').click()

In [4]:
driver.find_element(By.XPATH,'//*[@id="ctl00_Content_Main_RLB_PlayerStats"]/div/ul/li[2]/a').click()

In [5]:
info= driver.find_element(By.XPATH,'//*[@id="RG_PlayerRanking_Wingspiker_m"]').text.split('\n')

In [6]:
info = [info[i:i+18] for i in range(3, len(info), 18)]

receptor = pd.DataFrame(info)

'''Cuidado con la modificación de columnas, drops y demas. puede cambiar.'''

    
column_names = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque',
                'Errores_Saque', 'Porcentaje_error', 'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error','Total_ataques','Ataque_Ranking',17]

receptor.columns = column_names
receptor.drop([1,17], inplace=True, axis=1)
receptor.head(1)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Zonca Paolo,28,90,46,39,1,120,66,79,31,441,263,40,22,481,"2,1556"

In [7]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2022-2023/jugadores.csv')
df

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada
0,1,Ferreira García Gabriel,Colocador/a,188,1997,310,300,200,2022-2023
1,2,Alves Ramos Vitor,Receptor,194,2002,330,322,201,2022-2023
2,3,Bouza Ferreiro Víctor,Receptor,187,1990,330,320,202,2022-2023
3,4,Romaní Leandro Gustavo,Middle-blocker,205,1999,337,323,203,2022-2023
4,7,Gallardo Hernández Rodrigo,Líbero,183,1999,295,268,204,2022-2023
...,...,...,...,...,...,...,...,...,...
172,11,Campos Canals Miquel,Middle-blocker,187,2001,325,315,372,2022-2023
173,12,Corona Mediavilla Fabián,Receptor,185,2003,310,305,373,2022-2023
174,13,Calzón Algaba Francisco José,Middle-blocker,198,1992,330,320,374,2022-2023
175,14,Frías Collado Juan Francisco,Middle-blocker,198,2000,325,315,375,2022-2023
176,17,Rodríguez Bonilla Roberto,Receptor,190,2000,335,320,376,2022-2023

In [8]:
receptor = pd.merge(receptor, df[['Nombre', 'id_jugador']], on='Nombre', how='left')

receptor.head(1)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador
0,Zonca Paolo,28,90,46,39,1,120,66,79,31,441,263,40,22,481,"2,1556",270

In [9]:
convertir = receptor.columns.difference(['Nombre'])
receptor['Ataque_Ranking'] = receptor['Ataque_Ranking'].str.replace(',', '.').astype(float)
receptor[convertir] = receptor[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
receptor['temporada']='2022-2023'
receptor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            32 non-null     object
 1   Partidos_jugados  32 non-null     int64
 2   Sets_jugados      32 non-null     int64
 3   Bloqueos          32 non-null     int64
 4   Bloqueo_exitoso   32 non-null     int64
 5   Bloqueo_fallido   32 non-null     int64
 6   Total_bloqueos    32 non-null     int64
 7   Saque             32 non-null     int64
 8   Errores_Saque     32 non-null     int64
 9   Porcentaje_error  32 non-null     int64
 10  Total_saques      32 non-null     int64
 11  Ataque_exitoso    32 non-null     int64
 12  Errores_ataque    32 non-null     int64
 13  Porc_error        32 non-null     int64
 14  Total_ataques     32 non-null     int64
 15  Ataque_Ranking    32 non-null     float64
 16  id_jugador        32 non-null     int64
 17  temporada         32 non-null     object
dtypes: float64(1), int64(15), object(2)
memory usage: 4.6+ KB

## Guardado en CSV.

In [10]:
receptor.to_csv('../../data/2022-2023/receptor.csv', index=False)

## Base de datos.

In [11]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [12]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyball_database')

In [13]:
dtype = {'id_jugador': Integer}
receptor.to_sql('receptor', engine, if_exists='append', index=False, dtype=dtype)

32