In [3]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import multiprocessing as mp
from joblib import Parallel, delayed
from selenium.webdriver.support.ui import Select
import time
import pandas as pd
from sqlalchemy import create_engine

In [4]:
opciones=Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--incognito')
opciones.add_argument('--start-maximized')

In [5]:
url = 'https://www.flashscore.es/voleibol/espana/superliga-masculina/clasificacion/#/WAQqTkUh/table/overall'
driver = webdriver.Chrome(options = opciones)
driver.get(url)

In [6]:
driver.find_element(By.XPATH, '//*[@id="onetrust-accept-btn-handler"]').click() # aceptamos cookies

In [7]:
clas = driver.find_element(By.CSS_SELECTOR, '#tournament-table-tabs-and-content').text.split('\n') # Extraemos los datos que necesitamos.

In [8]:
clas[13:26]

['1.',
 'Rio Duero Soria',
 '6',
 '5',
 '1',
 '17:5',
 '16',
 '?',
 'P',
 'G',
 'G',
 'G',
 'G']

In [14]:
# Divido los datos en filas de 13 elementos
rows = [clas[i:i+13] for i in range(0, len(clas), 13)]

# Defino los nombres de las columnas ya que son dividido en 13 elementos.
column_names = ['Posición', 'Equipo', 'PJ', 'G', 'P', 'S', 'PTS', 'Forma','f','f','f','f','f']

# Crear un DataFrame con los nombres de las columnas
df = pd.DataFrame(rows[1:], columns=column_names)

# Elimino la última fila.
# Elimino columnas que no me interesan
df = df.iloc[:-1]
df = df.drop('f', axis=1)
df = df.drop('Forma', axis=1)
df = df.drop('S', axis=1)

df

   Posición                   Equipo PJ  G  P PTS
0        1.          Rio Duero Soria  6  5  1  16
1        2.          Unicaja Almería  6  5  1  15
2        3.                  Guaguas  6  5  1  14
3        4.                CV Teruel  6  5  1  12
4        5.               CV Melilla  5  4  1  11
5        6.           Cisneros Alter  6  3  3  11
6        7.     Conqueridor Valencia  6  3  3   9
7        8.        San Roque - Batán  5  2  3   5
8        9.              Voley Palma  6  1  5   5
9       10.                  Manacor  6  1  5   4
10      11.             Arenal Emevé  5  0  5   0
11      12.  Santo Domingo VB Petrer  5  0  5   0

 # Exportamos a csv

In [15]:
df.to_csv('..\..\Data\Clasificacion.csv', index=False)

# Exportamos a SQL

In [16]:
with open('..\..\pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [17]:
# Establece una conexión para crear la base de datos
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)

# Crea un motor para la base de datos FenixClub
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/FenixClub')

In [18]:
df.to_sql('Clasificacion', con=engine, if_exists='replace', index=False)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_24556\1493245270.py:1: UserWarning: The provided table name 'Clasificacion' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('Clasificacion', con=engine, if_exists='replace', index=False)

12