In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('estadisticas_por_equipo.csv')
df

,Equipo,Jugados,Jugados.1,Puntos,Puntos.1,Puntos.2,Puntos.3,Saque,Saque.1,Saque.2,...,Ataque,Ataque.1,Ataque.2,Ataque.3,Ataque.4,Ataque.5,Bloqueo,Bloqueo.1,Bloqueo.2,id_equipo
0,NaN,P,S,Tot,BP,G,G-P,Tot,Pts,Err,...,Tot,Err,Blo,Exc.,Exc. %,Efic,Red,Pts,Puntos por set,NaN
1,Grupo Herce Soria,7,24,456,171,285,232,615,29,95,...,758,44,52,363,48,35,135,64,2.7,8.0
2,UPV Leleman Conqueridor,7,29,455,172,283,196,630,43,85,...,808,75,61,364,45,28,114,48,1.7,11.0
3,Club Vóley Palma,7,26,447,160,287,170,610,35,89,...,799,78,67,360,45,27,79,52,2.0,3.0
4,Cisneros Alter,7,27,443,143,300,205,622,21,106,...,696,68,49,360,52,35,17,62,2.3,2.0
5,CV San Roque,7,29,437,151,286,160,605,24,112,...,728,68,53,345,47,31,54,68,2.3,7.0
6,Pamesa Teruel Voleibol,7,28,428,153,275,194,612,19,92,...,716,66,59,338,47,30,82,71,2.5,9.0
7,Unicaja Costa de Almería,7,23,406,163,243,211,548,41,89,...,547,35,46,316,58,43,87,49,2.1,10.0
8,Conectabalear CV Manacor,7,24,375,139,236,153,524,40,77,...,583,50,54,281,48,30,64,54,2.3,4.0
9,Arenal Emevé,7,24,374,108,266,104,494,16,97,...,670,76,65,308,46,25,32,50,2.1,1.0
10,CV Guaguas,6,22,362,152,210,187,503,33,80,...,524,34,35,276,53,40,45,53,2.4,5.0
11,CV Melilla,6,21,355,125,230,177,513,25,85,...,569,32,42,283,50,37,51,47,2.2,6.0
12,Volei Villena Petrer,7,25,336,96,240,99,527,14,91,...,682,55,69,288,42,24,52,34,1.4,12.0

In [6]:
df.drop(0, inplace=True)

In [7]:
df

,Equipo,Jugados,Jugados.1,Puntos,Puntos.1,Puntos.2,Puntos.3,Saque,Saque.1,Saque.2,...,Ataque,Ataque.1,Ataque.2,Ataque.3,Ataque.4,Ataque.5,Bloqueo,Bloqueo.1,Bloqueo.2,id_equipo
1,Grupo Herce Soria,7,24,456,171,285,232,615,29,95,...,758,44,52,363,48,35,135,64,2.7,8.0
2,UPV Leleman Conqueridor,7,29,455,172,283,196,630,43,85,...,808,75,61,364,45,28,114,48,1.7,11.0
3,Club Vóley Palma,7,26,447,160,287,170,610,35,89,...,799,78,67,360,45,27,79,52,2.0,3.0
4,Cisneros Alter,7,27,443,143,300,205,622,21,106,...,696,68,49,360,52,35,17,62,2.3,2.0
5,CV San Roque,7,29,437,151,286,160,605,24,112,...,728,68,53,345,47,31,54,68,2.3,7.0
6,Pamesa Teruel Voleibol,7,28,428,153,275,194,612,19,92,...,716,66,59,338,47,30,82,71,2.5,9.0
7,Unicaja Costa de Almería,7,23,406,163,243,211,548,41,89,...,547,35,46,316,58,43,87,49,2.1,10.0
8,Conectabalear CV Manacor,7,24,375,139,236,153,524,40,77,...,583,50,54,281,48,30,64,54,2.3,4.0
9,Arenal Emevé,7,24,374,108,266,104,494,16,97,...,670,76,65,308,46,25,32,50,2.1,1.0
10,CV Guaguas,6,22,362,152,210,187,503,33,80,...,524,34,35,276,53,40,45,53,2.4,5.0
11,CV Melilla,6,21,355,125,230,177,513,25,85,...,569,32,42,283,50,37,51,47,2.2,6.0
12,Volei Villena Petrer,7,25,336,96,240,99,527,14,91,...,682,55,69,288,42,24,52,34,1.4,12.0

In [8]:
columnas_a_excluir = ['Equipo']
df[df.columns.difference(columnas_a_excluir)] = df[df.columns.difference(columnas_a_excluir)].apply(pd.to_numeric, errors='coerce')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 1 to 12
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Equipo       12 non-null     object
 1   Jugados      12 non-null     int64
 2   Jugados.1    12 non-null     int64
 3   Puntos       12 non-null     int64
 4   Puntos.1     12 non-null     int64
 5   Puntos.2     12 non-null     int64
 6   Puntos.3     12 non-null     int64
 7   Saque        12 non-null     int64
 8   Saque.1      12 non-null     int64
 9   Saque.2      12 non-null     int64
 10  Saque.3      12 non-null     float64
 11  Saque.4      12 non-null     int64
 12  Recepcion    12 non-null     int64
 13  Recepcion.1  12 non-null     int64
 14  Recepcion.2  12 non-null     int64
 15  Recepcion.3  12 non-null     int64
 16  Recepcion.4  12 non-null     int64
 17  Recepcion.5  12 non-null     int64
 18  Ataque       12 non-null     int64
 19  Ataque.1     12 non-null     int64
 20  Ataque.2     12 non-null     int64
 21  Ataque.3     12 non-null     int64
 22  Ataque.4     12 non-null     int64
 23  Ataque.5     12 non-null     int64
 24  Bloqueo      12 non-null     int64
 25  Bloqueo.1    12 non-null     int64
 26  Bloqueo.2    12 non-null     float64
 27  id_equipo    12 non-null     float64
dtypes: float64(3), int64(24), object(1)
memory usage: 2.8+ KB

In [10]:
df.to_csv('estadisticas_int.csv', index=False)