In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=82&PID=122'
parametro='estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [7]:

    
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Acciones_exitosas', 'Errores_colocador',
                '_error_colocador', 'Puntos_negativos', 'Puntos_positivos',
                'Acciones_positivas', 'Total_acumulado', 'Efic_Ranking',2]

parametro= 'estadistica_colocador'
colocador = crear_df(datos[5],columna,parametro)
colocador.drop([1,2], inplace=True, axis=1)
colocador.reset_index(inplace=True)
colocador.head()

,index,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking
0,0,Riganti Juan Martín,28,105,615,2,77,106,180,62,1042,"0,4290"
1,1,Ramírez Chueca Sergio,22,79,480,2,65,121,92,62,822,"0,3613"
2,2,Folguera Xavier,21,77,456,14,59,115,87,59,790,"0,3570"
3,3,Sánchez Ignacio,25,95,625,2,101,131,234,82,1175,"0,3506"
4,4,Jukoski Da Silva Pedro H.,19,71,450,4,49,119,111,55,788,"0,3503"

In [8]:
colocador=normalizar_df(colocador)

In [9]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2021-2022/jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posicion,Altura,Ano_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,1,Alzueta Joaquin,Middle-blocker,196.0,2000,337.0,323.0,1-2021-2022,2021-2022,1-2021-2022
1,2,Paradela Corton Miguel,Libero,184.0,2004,310.0,305.0,2-2021-2022,2021-2022,1-2021-2022

In [10]:
colocador = pd.merge(colocador, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
colocador['temporada']='2021-2022'
colocador.drop(['index'], axis=1, inplace=True)
colocador.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Acciones_exitosas,Errores_colocador,_error_colocador,Puntos_negativos,Puntos_positivos,Acciones_positivas,Total_acumulado,Efic_Ranking,id_jugador,id_equipo,temporada
0,Riganti Juan Martin,28,105,615,2,77,106,180,62,1042,"0,4290",111-2021-2022,8-2021-2022,2021-2022
1,Ramirez Chueca Sergio,22,79,480,2,65,121,92,62,822,"0,3613",37-2021-2022,3-2021-2022,2021-2022

In [11]:
convertir = colocador.columns.difference(['Nombre'])
colocador['Efic_Ranking'] = colocador['Efic_Ranking'].str.replace(',', '.').astype(float)
colocador[convertir] = colocador[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)

colocador.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              18 non-null     object
 1   Partidos_jugados    18 non-null     int64
 2   Sets_jugados        18 non-null     int64
 3   Acciones_exitosas   18 non-null     int64
 4   Errores_colocador   18 non-null     int64
 5   _error_colocador    18 non-null     int64
 6   Puntos_negativos    18 non-null     int64
 7   Puntos_positivos    18 non-null     int64
 8   Acciones_positivas  18 non-null     int64
 9   Total_acumulado     18 non-null     int64
 10  Efic_Ranking        18 non-null     float64
 11  id_jugador          18 non-null     object
 12  id_equipo           18 non-null     object
 13  temporada           18 non-null     object
dtypes: float64(1), int64(9), object(4)
memory usage: 2.1+ KB

## Guardado en CSV.

In [14]:
colocador.to_csv('../../data/2021-2022/colocador.csv', index=False)

## Base de datos.

In [6]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [7]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [8]:

colocador.to_sql('colocador', engine, if_exists='append', index=False)

18