In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
help(scraping)

Help on function scraping in module src.help_scraping:

scraping(url, parametro='jugadores')
    Obligatoriamente pasar URL.
    Parametro por defecto Jugadores.


    Parametros opcionales:
    Equipo.
    Estadistica_jugador.
    Estadistica_equipo.
    Clasificacion.
    Jugadores.


    los parametros son tipo str.

In [3]:
url = 'https://rfevb-web.dataproject.com/CompetitionTeamSearch.aspx?ID=82'
parametro = 'equipo'
result=scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [4]:
columna = ['Equipo']
equipo = crear_df(result,columna)

DataFrame creado!

In [5]:
mapear_nombres(equipo)

                  Equipo
0           Arenal Emevé
1              CV Teruel
2                Manacor
3                Guaguas
4            Voley Palma
5                 Intasa
6   Conqueridor Valencia
7             CV Melilla
8        Rio Duero Soria
9          Rotogal Boiro
10           Ibiza Voley
11       Unicaja Almería

In [6]:
equipo['id_equipo'] = [str(i) + '-2021-2022' for i in range(1, len(equipo) + 1)]
equipo

                  Equipo     id_equipo
0           Arenal Emevé   1-2021-2022
1              CV Teruel   2-2021-2022
2                Manacor   3-2021-2022
3                Guaguas   4-2021-2022
4            Voley Palma   5-2021-2022
5                 Intasa   6-2021-2022
6   Conqueridor Valencia   7-2021-2022
7             CV Melilla   8-2021-2022
8        Rio Duero Soria   9-2021-2022
9          Rotogal Boiro  10-2021-2022
10           Ibiza Voley  11-2021-2022
11       Unicaja Almería  12-2021-2022

In [2]:
equipo=normalizar('../../data/2021-2022/equipo.csv')

## Guardado en CSV.

In [3]:
equipo.to_csv('../../data/2021-2022/equipo.csv', index=False)

## Base de datos.

In [4]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [5]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [6]:

equipo.to_sql('equipo', engine, if_exists='append', index=False)

12