In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_datos import *
from src.help_scraping import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=82&PID=122'
parametro = 'estadistica_equipo'
dato=scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [3]:
columna = ['Equipo', 'Jugados', 'Sets_Jugados', 'Total_Puntos', 'Break_Puntos', 'Puntos_Ganados',
            'Puntos_Perdidos', 'Total_Saque', 'Puntos_Saque', 'Error_Saque', 'Puntos_por_set_Saque',
            'Efic_Saque', 'Total_Recepcion', 'Error_Recepcion', 'Negativo_Recepcion', 'Positivo_Recepcion',
            'Excelente_Recepcion', 'Efic_Recepcion', 'Total_Ataque', 'Error_Ataque', 'Ataque_Bloqueado',
            'Positivo_Ataque', 'Excelente_Ataque', 'Efic_Ataque', 'Toque_Red_Bloqueo', 'Puntos_de_Bloqueo',
            'Puntos_Set_Bloqueo']

parametro = 'estadistica'
estadistica=crear_df(dato,columna,parametro)

In [5]:
mapear_nombres(estadistica)

,Equipo,Jugados,Sets_Jugados,Total_Puntos,Break_Puntos,Puntos_Ganados,Puntos_Perdidos,Total_Saque,Puntos_Saque,Error_Saque,...,Efic_Recepcion,Total_Ataque,Error_Ataque,Ataque_Bloqueado,Positivo_Ataque,Excelente_Ataque,Efic_Ataque,Toque_Red_Bloqueo,Puntos_de_Bloqueo,Puntos_Set_Bloqueo
0,CV Melilla,29,111,1838,721,1117,901,2543,144,376,...,24.0,2780,213,220,1425,51.0,36.0,185,269,2.4
1,Unicaja Almería,28,112,1795,762,1033,1017,2465,164,329,...,21.0,2634,146,185,1318,50.0,37.0,358,313,2.8
2,Guaguas,28,104,1777,696,1081,898,2425,166,369,...,29.0,2629,205,213,1374,52.0,36.0,293,237,2.3
3,CV Teruel,25,99,1610,557,1053,754,2213,117,361,...,28.0,2546,196,189,1270,50.0,35.0,119,223,2.3
4,Voley Palma,26,99,1592,562,1030,711,2215,115,307,...,31.0,2769,238,228,1296,47.0,30.0,131,181,1.8
5,Rio Duero Soria,23,90,1440,520,920,655,2007,121,329,...,24.0,2194,163,188,1110,51.0,35.0,226,209,2.3
6,Manacor,24,89,1434,520,914,527,1981,147,406,...,32.0,2174,192,187,1096,50.0,33.0,75,191,2.1
7,Rotogal Boiro,23,95,1407,486,921,560,2009,111,335,...,30.0,2231,204,184,1121,50.0,33.0,106,175,1.8
8,Conqueridor Valencia,22,81,1161,435,726,333,1697,122,310,...,24.0,1874,189,183,902,48.0,28.0,155,137,1.7
9,Arenal Emevé,22,84,1152,343,809,336,1712,59,260,...,35.0,2197,234,222,972,44.0,23.0,79,121,1.4
10,Intasa,22,79,1108,338,770,383,1588,73,259,...,30.0,2002,172,181,892,45.0,27.0,119,143,1.8
11,Ibiza Voley,22,75,1053,332,721,296,1542,81,269,...,29.0,1983,208,165,826,42.0,23.0,57,146,1.9

In [6]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2021-2022/equipo.csv')
df

                  Equipo     id_equipo
0           Arenal Emevé   1-2021-2022
1              CV Teruel   2-2021-2022
2                Manacor   3-2021-2022
3                Guaguas   4-2021-2022
4            Voley Palma   5-2021-2022
5                 Intasa   6-2021-2022
6   Conqueridor Valencia   7-2021-2022
7             CV Melilla   8-2021-2022
8        Rio Duero Soria   9-2021-2022
9          Rotogal Boiro  10-2021-2022
10           Ibiza Voley  11-2021-2022
11       Unicaja Almería  12-2021-2022

In [7]:
estadistica = pd.merge(estadistica, df[['Equipo', 'id_equipo']], left_on='Equipo', right_on='Equipo', how='left')
estadistica.head()

,Equipo,Jugados,Sets_Jugados,Total_Puntos,Break_Puntos,Puntos_Ganados,Puntos_Perdidos,Total_Saque,Puntos_Saque,Error_Saque,...,Total_Ataque,Error_Ataque,Ataque_Bloqueado,Positivo_Ataque,Excelente_Ataque,Efic_Ataque,Toque_Red_Bloqueo,Puntos_de_Bloqueo,Puntos_Set_Bloqueo,id_equipo
0,CV Melilla,29,111,1838,721,1117,901,2543,144,376,...,2780,213,220,1425,51.0,36.0,185,269,2.4,8-2021-2022
1,Unicaja Almería,28,112,1795,762,1033,1017,2465,164,329,...,2634,146,185,1318,50.0,37.0,358,313,2.8,12-2021-2022
2,Guaguas,28,104,1777,696,1081,898,2425,166,369,...,2629,205,213,1374,52.0,36.0,293,237,2.3,4-2021-2022
3,CV Teruel,25,99,1610,557,1053,754,2213,117,361,...,2546,196,189,1270,50.0,35.0,119,223,2.3,2-2021-2022
4,Voley Palma,26,99,1592,562,1030,711,2215,115,307,...,2769,238,228,1296,47.0,30.0,131,181,1.8,5-2021-2022

In [11]:
estadistica['temporada']='2021-2022'

In [2]:
estadistica=normalizar('../../data/2021-2022/estadistica.csv')

## Guardado en CSV.

In [3]:
estadistica.to_csv('../../data/2021-2022/estadistica.csv', index=False)

## Base de datos.

In [4]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [5]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [7]:

estadistica.to_sql('estadistica', engine, if_exists='append', index=False)

12