In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/CompetitionTeamSearch.aspx?ID=82'
parametro = 'jugadores'
datos= scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Arenal Emevé
Estoy dentro.
Extraigo
Club Voleibol Teruel
Estoy dentro.
Extraigo
Conectabalear CV Manacor
Estoy dentro.
Extraigo
CV Guaguas
Estoy dentro.
Extraigo
Feníe Energía Mallorca Volei Palma
Estoy dentro.
Extraigo
Intasa San Sadurniño
Estoy dentro.
Extraigo
Léleman VB Valencia
Estoy dentro.
Extraigo
Melilla Sport Capital
Estoy dentro.
Extraigo
Rio Duero Soria
Estoy dentro.
Extraigo
Rotogal Boiro
Estoy dentro.
Extraigo
UD Ibiza Ushuaïa Volley
Estoy dentro.
Extraigo
Unicaja Costa de Almeria
Estoy dentro.
Extraigo

In [30]:
columna = ['Dorsal', 'Nombre', '1', 'Posición', 'Altura', 'Año de nacimiento', 'Alcance en ataque', 'Alcance en bloqueo']
parametro = 'jugadores'
jugadores=crear_df(datos,columna,parametro)

In [31]:
jugadores.drop('1', axis=1,inplace=True)
jugadores['id_jugador'] = [str(i) + '-2021-2022' for i in range(1, len(jugadores) + 1)]
jugadores['temporada'] = '2021-2022'
jugadores.columns = jugadores.columns.str.replace(' ', '_')
jugadores.loc[0:13, 'id_equipo'] = '1-2021-2022'
jugadores.loc[14:25, 'id_equipo'] = '2-2021-2022'
jugadores.loc[26:38, 'id_equipo'] = '3-2021-2022'
jugadores.loc[39:51, 'id_equipo'] = '4-2021-2022'
jugadores.loc[52:65, 'id_equipo'] = '5-2021-2022'
jugadores.loc[66:80, 'id_equipo'] = '6-2021-2022'
jugadores.loc[81:99, 'id_equipo'] = '7-2021-2022'
jugadores.loc[100:111, 'id_equipo'] = '8-2021-2022'
jugadores.loc[112:126, 'id_equipo'] = '9-2021-2022'
jugadores.loc[127:144, 'id_equipo'] = '10-2021-2022'
jugadores.loc[145:158, 'id_equipo'] = '11-2021-2022'
jugadores.loc[159:, 'id_equipo'] = '12-2021-2022'
jugadores.replace('-', '0', inplace=True)
jugadores[['Alcance_en_ataque', 'Alcance_en_bloqueo', 'Altura']] = jugadores[['Alcance_en_ataque', 'Alcance_en_bloqueo', 'Altura']].astype(float)
jugadores.head()

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,1,Alzueta Joaquín,Middle-blocker,196.0,2000,337.0,323.0,1-2021-2022,2021-2022,1-2021-2022
1,2,Paradela Cortón Miguel,Líbero,184.0,2004,310.0,305.0,2-2021-2022,2021-2022,1-2021-2022
2,3,Bouza Ferreiro Víctor,Receptor,187.0,1990,330.0,320.0,3-2021-2022,2021-2022,1-2021-2022
3,7,Loeches Buitrago Guillermo,Colocador/a,181.0,1996,306.0,297.0,4-2021-2022,2021-2022,1-2021-2022
4,8,Mariño González Anier,Middle-blocker,184.0,2005,310.0,300.0,5-2021-2022,2021-2022,1-2021-2022

In [32]:
jugadores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Dorsal              174 non-null    object
 1   Nombre              174 non-null    object
 2   Posición            174 non-null    object
 3   Altura              174 non-null    float64
 4   Año_de_nacimiento   174 non-null    object
 5   Alcance_en_ataque   174 non-null    float64
 6   Alcance_en_bloqueo  174 non-null    float64
 7   id_jugador          174 non-null    object
 8   temporada           174 non-null    object
 9   id_equipo           174 non-null    object
dtypes: float64(3), object(7)
memory usage: 13.7+ KB

In [2]:
jugadores=normalizar('../../data/2021-2022/jugadores.csv')

## Guardado en CSV.

In [3]:
jugadores.to_csv('../../data/2021-2022/jugadores.csv', index=False)

## Base de datos.

In [4]:

with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [6]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [7]:

jugadores.to_sql('jugadores', engine, if_exists='append', index=False)

174