In [1]:
import sys
sys.path.append('C:\ironhack\Proyecto_final') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=82&PID=122'
parametro='estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [3]:
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Recepciones', 'Recepciones_exitosas',
                'Recepciones_fallidas', 'Recepciones_otro_jugador', 'Puntos_perdidos_recep',
                'Puntos_ganados_recep', 'Total_puntos_recep', 'Recep_Ranking', 12]

parametro= 'estadistica_libero'

libero = crear_df(datos[1],columna,parametro)

,Nombre,1,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking,12
0,Bernabeu Judez Joaquín Jesús,(Léleman VB Valencia),1,1,3,0,0,0,1,2,6,"0,5000",2
1,Ruiz Daniel,(Feníe Energía Mallorca Volei Palma),26,99,245,17,12,14,65,157,510,"0,4196",3
2,Delgado Gustavo,(CV Guaguas),8,17,37,1,0,8,10,21,77,"0,3636",4
3,Osado Carrasco José,(UD Ibiza Ushuaïa Volley),19,58,189,27,18,26,46,88,394,"0,3452",5
4,Piris Guiscafré Antoni,(Conectabalear CV Manacor),24,86,225,41,9,18,105,128,526,"0,3156",6
5,San Martín Rodríguez Alejandro,(Rio Duero Soria),22,79,153,22,32,10,62,115,394,"0,3071",7
6,Mengod Bautista Javier,(Léleman VB Valencia),20,67,202,38,32,17,103,102,494,"0,2976",8
7,Dovale Fidalgo Mario,(Arenal Emevé ),22,84,197,29,17,28,104,112,487,"0,2875",9
8,Piñon Hermida Marcos,(Intasa San Sadurniño),21,74,181,27,40,37,28,97,410,"0,2854",10
9,Fernández Rojas Alejandro,(CV Guaguas),25,91,193,26,26,27,107,128,507,"0,2761",11
10,Ferrera García Mario,(Melilla Sport Capital),28,105,230,40,19,33,91,196,609,"0,2578",12
11,Gámiz Padilla Aaron,(Club Voleibol Teruel),24,96,172,30,22,22,65,162,473,"0,2537",13
12,Gómez Moreno Manuel,(Intasa San Sadurniño),1,3,9,1,0,3,6,1,20,"0,2500",14
13,Alves Castro Adrián,(Rotogal Boiro ),23,92,191,42,11,36,123,116,519,"0,2177",15
14,Giustiniano Mariano Ariel,(Melilla Sport Capital),1,4,8,3,0,0,10,3,24,"0,2083",16
15,Fernández Martínez Francisco José,(Unicaja Costa de Almeria),28,106,195,42,50,32,111,184,614,"0,1971",17
16,Salvador Esteban Manuel,(Rio Duero Soria),2,8,10,4,7,0,5,23,49,"0,1224",18
17,Sánchez Cano Víctor,(UD Ibiza Ushuaïa Volley),6,18,34,12,21,8,21,27,123,"0,1138",19
18,Vildosola Mariano,(Club Voleibol Teruel),1,3,6,2,0,2,4,5,19,"0,1053",20
19,Izquierdo Marín Javier,(Léleman VB Valencia),10,23,34,17,5,3,49,30,138,"0,1014",None

In [4]:
libero.drop([1,12], inplace=True, axis=1)

In [5]:
#Extraccion de jugadores.
df= pd.read_csv('../../data/2021-2022/jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posición,Altura,Año_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,1,Alzueta Joaquín,Middle-blocker,196.0,2000,337.0,323.0,1-2021-2022,2021-2022,1-2021-2022
1,2,Paradela Cortón Miguel,Líbero,184.0,2004,310.0,305.0,2-2021-2022,2021-2022,1-2021-2022

In [9]:
liberos = pd.merge(libero, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
liberos['temporada'] = '2021-2022'
liberos.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking,id_jugador,id_equipo,temporada
0,Bernabeu Judez Joaquín Jesús,1,1,3,0,0,0,1,2,6,"0,5000",96-2021-2022,7-2021-2022,2021-2022
1,Ruiz Daniel,26,99,245,17,12,14,65,157,510,"0,4196",61-2021-2022,5-2021-2022,2021-2022

In [10]:
convertir = liberos.columns.difference(['Nombre'])
liberos['Recep_Ranking'] = liberos['Recep_Ranking'].str.replace(',', '.').astype(float)
liberos[convertir] = liberos[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
liberos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nombre                    20 non-null     object
 1   Partidos_jugados          20 non-null     int64
 2   Sets_jugados              20 non-null     int64
 3   Recepciones               20 non-null     int64
 4   Recepciones_exitosas      20 non-null     int64
 5   Recepciones_fallidas      20 non-null     int64
 6   Recepciones_otro_jugador  20 non-null     int64
 7   Puntos_perdidos_recep     20 non-null     int64
 8   Puntos_ganados_recep      20 non-null     int64
 9   Total_puntos_recep        20 non-null     int64
 10  Recep_Ranking             20 non-null     float64
 11  id_jugador                19 non-null     object
 12  id_equipo                 19 non-null     object
 13  temporada                 20 non-null     object
dtypes: float64(1), int64(9), object(4)
memory usage: 2.3+ KB

## Guardado en CSV.

In [11]:
liberos.to_csv('../../data/2021-2022/liberos.csv', index=False)

## Base de datos.

In [ ]:
with open('../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [ ]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyball_database')

In [ ]:
dtype = {'id_jugador': Integer}
liberos.to_sql('libero', engine, if_exists='append', index=False, dtype=dtype)