In [1]:
import pandas as pd
import psycopg2 as ps
import csv
from sqlalchemy import create_engine

In [2]:
q = pd.read_csv('../../data/2023-2024/clasificacion.csv', encoding='utf-8')
w = pd.read_csv('../../data/2022-2023/clasificacion.csv', encoding='utf-8')
e = pd.read_csv('../../data/2021-2022/clasificacion.csv', encoding='utf-8')
s = pd.read_csv('../../data/2020-2021/clasificacion.csv', encoding='utf-8')
r = pd.read_csv('../../data/2019-2020/clasificacion.csv', encoding='utf-8')

clasificacion = pd.concat([q, w, e, s, r], ignore_index=True)

In [3]:
clasificacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Posicion   62 non-null     int64
 1   Equipo     62 non-null     object
 2   PJ         62 non-null     int64
 3   G          62 non-null     int64
 4   P          62 non-null     int64
 5   PTS        62 non-null     int64
 6   id_equipo  62 non-null     object
 7   temporada  62 non-null     object
dtypes: int64(5), object(3)
memory usage: 4.0+ KB

In [4]:
clasificacion.to_csv('../data/clasificacion.csv', index=False)

In [ ]:
with open('../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [ ]:
engine = create_engine(f'postgresql://TradeOne:{pass_}@localhost:5432/VoleyballDB')

In [ ]:
# Utilizar to_sql para escribir el DataFrame en la base de datos
equipos.to_sql('nombre_tabla', engine, if_exists='append', index=False)

In [ ]:
pd.read_csv('../../data/2022-2023/estadistica.csv')